<app-top-header />

<app-navbar />

<app-page-banner />

<!-- Employers Details -->
<div class="container ptb-100">
    <div class="row">
        <div class="col-xl-8">
            <div class="employer-desc">
                <div class="single-employer-header d-flex flex-wrap align-items-center justify-content-between">
                    <div class="employer-title d-flex align-items-center">
                        <img src="img/employer/employer-logo.png" alt="Employer Logo">
                        <h2 class="mb-0 ms-3">
                            Supabase
                        </h2>
                        <span class="featured fs-14 ms-3">
                            3 Open Roles
                        </span>
                    </div>
                    <div class="client-box-wrap d-flex align-items-center justify-content-md-end">
                        <div class="client-box d-flex flex-wrap align-items-center justify-content-md-end">
                            <ul class="client-list list-unstyle">
                                <li><img src="img/clients/client-2.jpg" alt="Client Image"></li>
                                <li><img src="img/clients/client-21.png" alt="Client Image"></li>
                                <li><img src="img/clients/client-23.png" alt="Client Image"></li>
                                <li><img src="img/clients/client-1.jpg" alt="Client Image"></li>
                            </ul>
                            <p class="mb-0 ms-2 fs-14 text-title">
                                More than <span class="text-title fw-semibold">3000 members</span>
                            </p>
                        </div>
                        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
                            <img src="img/icons/bookmark.svg" alt="Bookmark Icon" class="transition">
                        </button>
                    </div>
                </div>
                <div class="single-para">
                    <h6>
                        Overview
                    </h6>
                    <p>
                        Are you passionate about advancing sustainable transportation and reducing range anxiety for EV drivers? Join Supabase, a pioneering company on a mission to revolutionize the EV charging landscape.
                    </p>
                    <p>
                        Nulla at volutpat diam ut. Lobortis feugiat vivamus at augue eget arcu. Urna condimentum mattis pellentesque id nibh tortor id aliquet. Dignissim cras tincidunt lobortis feugiat. Est sit amet facilisis magna etiam tempor. Eu augue ut lectus arcu bibendum at varius vel pharetra. Vel facilisis volutpat est velit egestas dui id. Ut pharetra sit amet  aliquam. Elit at imperdiet dui accumsan sit amet nulla facilisi morbi. Tellus in metus vulputate eu scelerisque felis imperdiet proin. Magna fringilla urna porttitor rhoncus. Et odio pellentesque diam volutpat. Congue eu consequat ac felis donec et odio pellentesque diam. Accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu.
                    </p>
                </div>
                <div class="single-para">
                    <h6>
                        About the Company
                    </h6>
                    <p>
                        As a UI/UX designer reporting directly to the CTO, your insights will have a direct impact on our product's direction. This role requires an insightful UI/UX Designer with a passion for creating seamless and engaging digital experiences. You will play a pivotal role in shaping the user experience.
                    </p>
                    <p>
                        Are you passionate about advancing sustainable transportation and reducing range anxiety for EV drivers? Join Supabase, a pioneering  company on a mission to revolutionize the EV charging landscape.
                    </p>
                </div>
                <div class="single-para">
                    <h6>
                        Intro video
                    </h6>
                    <div class="video-wrap position-relative index-1 round-4 my-4">
                        <img src="img/employer/video-bg.jpg" alt="Video Background">
                        <button
                            type="button"
                            (click)="openPopup()"
                            class="play-now d-flex p-0 border-0 flex-column justify-content-center align-items-center rounded-circle transition"
                        >
                            <img src="img/icons/play.svg" alt="Play Icon" class="transition">
                        </button>
                    </div>
                    <p>
                        As a UI/UX designer reporting directly to the CTO, your  insights will have a direct impact on our product's direction. This role requires an insightful UI/UX Designer with a passion for creating  seamless and engaging digital experiences. You will play a pivotal role in shaping the user experience.
                    </p>
                    <p>
                        Are you passionate about advancing sustainable transportation and reducing range anxiety for EV drivers? Join Supabase, a pioneering company on a mission to revolutionize the EV charging landscape.
                    </p>
                </div>
            </div>
            <div class="post-metaoption style-one py-4 mt-40 d-flex flex-wrap align-items-center justify-content-between">
                <h6 class="fw-semibold">
                    Share the post:
                </h6>
                <div class="post-share d-flex align-items-center justify-content-md-end">
                    <ul class="social-profile style-one list-unstyle">
                        <li>
                            <a href="https://www.facebook.com" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition">
                                <i class="ri-twitter-x-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section-title style-one mb-40 pt-100">
                <h2>
                    Related <strong>Jobs</strong>
                </h2>
            </div>
            <div class="job-card style-eight d-flex flex-wrap align-items-center justify-content-between round-10 bg-haze mb-20 transition">
                <div class="job-title-wrap d-flex flex-wrap align-items-center">
                    <div class="employer-logo bg-white d-flex flex-column align-items-center justify-content-center round-20">
                        <img src="img/employer/solit-it.svg" alt="Employre Logo">
                    </div>
                    <div class="job-title">
                        <ul class="job-taglist list-unstyle">
                            <li class="d-inline-block">
                                <a routerLink="/jobs-left-sidebar" class="fs-14">
                                    Developer
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a routerLink="/jobs-left-sidebar" class="fs-14">
                                    Coder
                                </a>
                            </li>
                        </ul>
                        <h3 class="fs-20 fw-semibold">
                            <a routerLink="/job-details-sidebar">
                                Full Stack Developer with Machine Learning
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="job-metainfo-wrap">
                    <ul class="job-metainfo list-unstyle mb-3">
                        <li class="fs-13 fw-medium bg-gin">
                            Full Time
                        </li>
                        <li class="fs-13 fw-medium bg-mystic">
                            Urgent
                        </li>
                    </ul>
                    <ul class="job-desc-meta list-unstyle">
                        <li class="fs-14">
                            <img src="img/icons/map.svg" alt="Map Icon">
                            Bercelona, Spain
                        </li>
                        <li class="fs-14">
                            <img src="img/icons/calendar.svg" alt="Calendar Icon">
                            15 Jul, 2024
                        </li>
                        <li class="fs-14">
                            <img src="img/icons/cash.svg" alt="Money Icon">
                            <span class="fw-semibold">$56</span>/hour
                        </li>
                    </ul>
                </div>
            </div>
            <div class="job-card style-eight d-flex flex-wrap align-items-center justify-content-between round-10 bg-haze mb-20 transition">
                <div class="job-title-wrap d-flex flex-wrap align-items-center">
                    <div class="employer-logo bg-white d-flex flex-column align-items-center justify-content-center round-20">
                        <img src="img/employer/google.svg" alt="Employre Logo">
                    </div>
                    <div class="job-title">
                        <ul class="job-taglist list-unstyle">
                            <li class="d-inline-block">
                                <a routerLink="/jobs-left-sidebar" class="fs-14">
                                    Developer
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a routerLink="/jobs-left-sidebar" class="fs-14">
                                    Coder
                                </a>
                            </li>
                        </ul>
                        <h3 class="fs-20 fw-semibold">
                            <a routerLink="/job-details-sidebar">
                                UI/UX Designer with Research Experience
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="job-metainfo-wrap">
                    <ul class="job-metainfo list-unstyle mb-3">
                        <li class="fs-13 fw-medium bg-roman">
                            Part Time
                        </li>
                        <li class="fs-13 fw-medium bg-violet">
                            Featured
                        </li>
                    </ul>
                    <ul class="job-desc-meta list-unstyle">
                        <li class="fs-14">
                            <img src="img/icons/map.svg" alt="Map Icon">
                            Montreal, Canada
                        </li>
                        <li class="fs-14">
                            <img src="img/icons/calendar.svg" alt="Calendar Icon">
                            18 Jul, 2024
                        </li>
                        <li class="fs-14">
                            <img src="img/icons/cash.svg" alt="Money Icon">
                            <span class="fw-semibold">$26</span>/hour
                        </li>
                    </ul>
                </div>
            </div>
            <div class="job-card style-eight d-flex flex-wrap align-items-center justify-content-between round-10 bg-haze transition">
                <div class="job-title-wrap d-flex flex-wrap align-items-center">
                    <div class="employer-logo bg-white d-flex flex-column align-items-center justify-content-center round-20">
                        <img src="img/employer/tonning.svg" alt="Employre Logo">
                    </div>
                    <div class="job-title">
                        <ul class="job-taglist list-unstyle">
                            <li class="d-inline-block">
                                <a routerLink="/jobs-left-sidebar" class="fs-14">
                                    Developer
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a routerLink="/jobs-left-sidebar" class="fs-14">
                                    Coder
                                </a>
                            </li>
                        </ul>
                        <h3 class="fs-20 fw-semibold">
                            <a routerLink="/job-details-sidebar">
                                Senior Designer with Research Experience
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="job-metainfo-wrap">
                    <ul class="job-metainfo list-unstyle mb-3">
                        <li class="fs-13 fw-medium bg-gin">
                            Full Time
                        </li>
                        <li class="fs-13 fw-medium bg-violet">
                            Featured
                        </li>
                    </ul>
                    <ul class="job-desc-meta list-unstyle">
                        <li class="fs-14">
                            <img src="img/icons/map.svg" alt="Map Icon">
                            Montreal, Canada
                        </li>
                        <li class="fs-14">
                            <img src="img/icons/calendar.svg" alt="Calendar Icon">
                            18 Jul, 2024
                        </li>
                        <li class="fs-14">
                            <img src="img/icons/cash.svg" alt="Money Icon">
                            <span class="fw-semibold">$26</span>/hour
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="sidebar style-two">
                <div class="sidebar-widget style-two bg-aqua round-10">
                    <h3 class="sidebar-widget-title fs-20 fw-semibold mb-25">
                        Employer Information
                    </h3>
                    <div class="single-job-feature-wrap style-two">
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                                <img src="img/icons/calendar-month.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14">
                                    Founded Date
                                </span>
                                <h6 class="fs-14 fw-semibold mb-0">
                                    25 June, 2002
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                                <img src="img/icons/calendar-month.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14">
                                    Location
                                </span>
                                <h6 class="fs-14 fw-semibold mb-0">
                                    4379 137th Avenue, Edmonton, Alberta, T5C 2L2
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                                <img src="img/icons/coin.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14">
                                    Revenue
                                </span>
                                <h6 class="fs-14 fw-semibold mb-0">
                                    $400,000,000
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                                <img src="img/icons/clock-green.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14">
                                    Phone No
                                </span>
                                <h6 class="fs-14 fw-semibold mb-0">
                                    780-473-2920
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                                <img src="img/icons/luggage.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14">
                                    Email
                                </span>
                                <h6 class="fs-14 fw-semibold mb-0">
                                    hello&#64;abezo.com
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                                <img src="img/icons/user-star.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14">
                                    Company Size
                                </span>
                                <h6 class="fs-14 fw-semibold mb-0">
                                    3000-3100, Worldwide
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                                <img src="img/icons/star-green.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14">
                                    Category
                                </span>
                                <h6 class="fs-14 fw-semibold mb-0">
                                    Technology, Product, IT
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget style-two bg-aqua round-10">
                    <div class="post-metaoption d-flex flex-wrap justify-content-between">
                        <h6 class="fs-20 mb-0 fw-semibold">
                            Social Media
                        </h6>
                        <div class="post-share d-flex align-items-center justify-content-md-end">
                            <ul class="social-profile style-one list-unstyle">
                                <li>
                                    <a href="https://www.facebook.com" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition">
                                        <i class="ri-instagram-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition">
                                        <i class="ri-twitter-x-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget style-two bg-aqua round-10">
                    <h3 class="sidebar-widget-title fs-20 font-semibold">
                        Employer Location
                    </h3>
                    <div class="comp-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8385385572983!2d144.95358331584498!3d-37.81725074201705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sbd!4v1612419490850!5m2!1sen!2sbd"></iframe>
                    </div>
                </div>
                <div class="sidebar-widget style-two bg-aqua round-10">
                    <h3 class="sidebar-widget-title fs-20 font-semibold">
                        Contact Employer
                    </h3>
                    <form class="contact-employer">
                        <div class="form-group mb-20">
                            <label class="text-title" for="subj">
                                Subject
                            </label>
                            <input type="text" name="subj" id="subj" placeholder="Write subject here Name" required class="bg-white border-0 w-100 round-4">
                        </div>
                        <div class="form-group mb-20">
                            <label class="text-title" for="email">
                                Email
                            </label>
                            <input type="email" name="email" id="email" placeholder="Your Email" required class="bg-white border-0 w-100 round-4">
                        </div>
                        <div class="form-group mb-20">
                            <label class="text-title" for="phone_no">
                                Phone Number
                            </label>
                            <input type="number" name="phone_no" placeholder="Your Phone No" required class="bg-white border-0 w-100 round-4">
                        </div>
                        <div class="form-group mb-20">
                            <label class="text-title" for="msg">
                                Your Message
                            </label>
                            <textarea name="messages" id="messages" cols="30" rows="10" placeholder="Your message here"  class="bg-white border-0 w-100 round-4"></textarea>
                        </div>
                        <button class="btn style-four d-block w-100">
                            Send Message Now
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Employers Details -->

<!-- Video Popup -->
<div
    class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-fade mfp-ready"
    *ngIf="isOpen"
    tabindex="-1"
>
    <div class="mfp-container mfp-iframe-holder">
        <div class="mfp-content">
            <div class="mfp-iframe-scaler">
                <button
                    (click)="closePopup()"
                    title="Close (Esc)"
                    type="button"
                    class="mfp-close"
                >
                    ×
                </button>
                <iframe src="https://www.youtube.com/embed/u31qwQUeGuM" title="Placeholder video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="mfp-bg mfp-fade mfp-ready" *ngIf="isOpen"></div>

<app-footer />

<app-back-to-top />