<div class="container mt-35 pb-70">
    <div class="row">
        <div class="col-lg-6">
            <div
                class="apply-box style-one position-relative index-1 round-10 mb-30"
                style="background-image: url(img/about/apply-bg-1.png);"
            >
                <div class="section-title style-three">
                    <h2>
                        Start As A Candidate
                    </h2>
                    <p>
                        A full suite of hybrid workforce management tools  to use.
                    </p>
                    <a routerLink="/register" class="btn style-two">
                        Join Now
                    </a>
                </div>
                <img src="img/about/person-1.png" alt="Person" class="apply-img">
            </div>
        </div>
        <div class="col-lg-6">
            <div
                class="apply-box style-two position-relative index-1 mb-30"
                style="background-image: url(img/about/apply-bg-2.png);"
            >
                <div class="section-title style-three">
                    <h2>
                        Start As A Client
                    </h2>
                    <p>
                        A full suite of hybrid workforce management tools  to use.
                    </p>
                    <a routerLink="/login" class="btn style-six">
                        Get Started
                    </a>
                </div>
                <img src="img/about/person-2.png" alt="Person" class="apply-img">
            </div>
        </div>
    </div>
</div>