<app-top-header />

<app-navbar />

<app-page-banner />

<!-- Job Details -->
<div class="container ptb-100">
    <div class="row">
        <div class="col-xl-8">
            <div class="job-desc border-0 p-0 shadow-none">
                <div class="single-job-header d-flex align-items-center justify-content-between">
                    <div class="employer-name d-flex align-items-center">
                        <div class="employer-logo d-flex flex-column align-items-center justify-content-center round-10">
                            <img src="img/employer/supabase.svg" alt="Company Logo">
                        </div>
                        <span class="fs-14">
                            by
                            <a routerLink="/employer-details" class="text-decoration-underline fw-semibold text-title">
                                Supabase
                            </a>
                            in
                            <a routerLink="/jobs-grid" class="fw-semibold text-title">
                                Design
                            </a>
                        </span>
                    </div>
                    <div class="single-job-action d-flex align-items-center">
                        <a routerLink="/login" class="btn style-four">
                            Apply Now
                        </a>
                        <div class="db-action-btn ms-3">
                            <button
                                class="dropdown-toggle d-flex align-items-center position-relative bg-transparent border-0 transition"
                                type="button"
                                (click)="toggleCardHeaderMenu()"
                            >
                                <img src="img/icons/dots.svg" alt="Dot Icon" class="action-btn">
                            </button>
                            <div
                                class="dropdown-menu top-1 end-0 border-0 show"
                                *ngIf="isCardHeaderOpen"
                            >
                                <ul class="list-unstyle">
                                    <li>
                                        <button class="bg-transparent border-0 p-0">
                                            Save
                                        </button>
                                    </li>
                                    <li>
                                        <button class="bg-transparent border-0 p-0">
                                            Archive
                                        </button>
                                    </li>
                                    <li>
                                        <button class="bg-transparent border-0 p-0">
                                            Delete
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="fs-24">
                    UI/UX Designer with Research Experience
                </h1>
                <div class="job-author fs-14 d-flex align-items-center">
                    <span class="author-img rounded-circle">
                        <img src="img/blog/author-1.jpg" alt="Image" class="rounded-circle">
                    </span>
                    Posted by
                    <a routerLink="/jobs-grid" class="ms-1 text-title fw-semibold text-decoration-underline">
                        Anna Frank
                    </a>
                </div>
                <ul class="job-metainfo list-unstyle">
                    <li class="fs-13 fw-medium bg-gin">
                        Full Time
                    </li>
                    <li class="fs-13 fw-medium bg-mystic">
                        Urgent
                    </li>
                    <li class="fs-13 fw-medium bg-transparent text-para">
                        Over 1000 applicants
                    </li>
                </ul>
                <div class="single-para">
                    <h6>
                        Job description
                    </h6>
                    <p>
                        Are you passionate about advancing sustainable transportation and reducing range anxiety for EV drivers? Join Supabase, a pioneering company on a mission to revolutionize the EV charging landscape.
                    </p>
                    <p>
                        As a leader in Reliability-as-a-Service (RaaS), Supabase is dedicated to optimizing uptime for EV charging infrastructure by implementing cutting-edge monitoring solutions and proactive problem-solving.
                    </p>
                </div>
                <div class="single-para">
                    <h6>
                        About the role
                    </h6>
                    <p>
                        As a UI/UX designer reporting directly to the CTO, your insights will have a direct impact on our product's direction. This role requires an insightful UI/UX Designer with a passion for creating  seamless and engaging digital experiences. You will play a pivotal role in shaping the user experience, serving as the driving force behind the  design.
                    </p>
                </div>
                <div class="single-para">
                    <h5>
                        What you will do
                    </h5>
                    <ul class="content-feature-list style-two list-unstyle">
                        <li class="position-relative">
                            Design UI/UX for new features and updates, turning complex processes into smooth, user-friendly experiences.
                        </li>
                        <li class="position-relative">
                            Engage in everything from wireframing and storyboarding to  UI testing and user feedback sessions, all while keeping the user's  needs at the heart of your designs.
                        </li>
                        <li class="position-relative">
                            Constantly iterate on designs based on user feedback, ensuring the user experience is always improving.
                        </li>
                        <li class="position-relative">
                            Collaborate closely with our product team and engineers, ideating designs that impress and operate seamlessly.
                        </li>
                    </ul>
                </div>
                <div class="single-para">
                    <h5>
                        What you bring to the table
                    </h5>
                    <ul class="content-feature-list style-two list-unstyle">
                        <li class="position-relative">
                            A portfolio that showcases your brilliance in UI/UX design.
                        </li>
                        <li class="position-relative">
                            Experience designing data-driven apps.
                        </li>
                        <li class="position-relative">
                            Proficiency in Figma; familiarity with Jira, and Tailwind UI is a plus.
                        </li>
                        <li class="position-relative">
                            Experience with user monitoring tools such as Sentry, Pendo, or other platforms is a plus.
                        </li>
                        <li class="position-relative">
                            A deep understanding of user-centered design principles.
                        </li>
                        <li class="position-relative">
                            A dynamic, intelligent approach to problem-solving.
                        </li>
                        <li class="position-relative">
                            Exceptional collaboration and communication skills, paired with a burning passion for startups and entrepreneurship.
                        </li>
                    </ul>
                </div>
                <div class="single-para">
                    <h5>
                        Desired Attributes
                    </h5>
                    <ul class="content-feature-list style-two list-unstyle">
                        <li class="position-relative">
                            Passionate about sustainability and technological innovations in the EV industry.
                        </li>
                        <li class="position-relative">
                            Familiarity with Inclusive Design principles.
                        </li>
                        <li class="position-relative">
                            Graphic design skills.
                        </li>
                    </ul>
                </div>
                <div class="single-para">
                    <h5>
                        What we offer
                    </h5>
                    <ul class="content-feature-list style-two list-unstyle">
                        <li class="position-relative">
                            Competitive salary
                        </li>
                        <li class="position-relative">
                            Remote work
                        </li>
                        <li class="position-relative">
                            Generous vacation and time off package
                        </li>
                        <li class="position-relative">
                            A break between Christmas and New Years
                        </li>
                        <li class="position-relative">
                            A budget to set up your home office
                        </li>
                        <li class="position-relative">
                            Health insurance
                        </li>
                        <li class="position-relative">
                            Virtual medicine and EAP via Dialogue
                        </li>
                        <li class="position-relative">
                            Opportunities for professional growth and development
                        </li>
                        <li class="position-relative">
                            A dynamic and inclusive work environment with a focus on innovation
                        </li>
                    </ul>
                </div>
                <div class="single-para">
                    <p class="fw-semibold text-title">
                        If you are a motivated individual looking to make a meaningful impact in the EV charging industry, join Supabase and be part of the team shaping the future of clean and reliable transportation. Apply now to be a key player in driving the success of our mission!
                    </p>
                </div>
                <hr>
                <div class="post-metaoption d-flex flex-wrap justify-content-between mt-35 mb-15">
                    <h6 class="fs-16 mb-0 fw-semibold">
                        Share the job post:
                    </h6>
                    <div class="post-share d-flex align-items-center justify-content-md-end">
                        <ul class="social-profile style-one list-unstyle">
                            <li>
                                <a href="https://www.facebook.com" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition">
                                    <i class="ri-twitter-x-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition">
                                    <i class="ri-instagram-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition">
                                    <i class="ri-linkedin-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 offset-xxl-1 col-xl-4">
            <div class="sidebar style-two">
                <div class="sidebar-widget style-two bg-aqua round-10">
                    <h3 class="sidebar-widget-title fs-18 fw-semibold mb-25">
                        Jobs Overview
                    </h3>
                    <div class="single-job-feature-wrap style-two bg-aqua round-4">
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon bg-white d-flex flex-column align-items-center justify-content-center round-10">
                                <img src="img/icons/calendar-month.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14 text-ash">
                                    Date Posted
                                </span>
                                <h6 class="fs-14 text_dark fw-semibold mb-0">
                                    25 June, 2024
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon bg-white d-flex flex-column align-items-center justify-content-center round-10">
                                <img src="img/icons/clock-green.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14 text-ash">
                                    Office Hours
                                </span>
                                <h6 class="fs-14 text_dark fw-semibold mb-0">
                                    Sun - Thurs
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon bg-white d-flex flex-column align-items-center justify-content-center round-10">
                                <img src="img/icons/star-green.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14 text-ash">
                                    Experience
                                </span>
                                <h6 class="fs-14 text_dark fw-semibold mb-0">
                                    2-3 years
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon bg-white d-flex flex-column align-items-center justify-content-center round-10">
                                <img src="img/icons/map-green.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14 text-ash">
                                    Location
                                </span>
                                <h6 class="fs-14 text_dark fw-semibold mb-0">
                                    Montreal, CA
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon bg-white d-flex flex-column align-items-center justify-content-center round-10">
                                <img src="img/icons/luggage.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14 text-ash">
                                    Holidays
                                </span>
                                <h6 class="fs-14 text_dark fw-semibold mb-0">
                                    Fri-Sat
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon bg-white d-flex flex-column align-items-center justify-content-center round-10">
                                <img src="img/icons/school-off.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14 text-ash">
                                    Qualification
                                </span>
                                <h6 class="fs-14 text_dark fw-semibold mb-0">
                                    BSc
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon bg-white d-flex flex-column align-items-center justify-content-center round-10">
                                <img src="img/icons/coin.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14 text-ash">
                                    Salary Range
                                </span>
                                <h6 class="fs-14 text_dark fw-semibold mb-0">
                                    $40 - $50/hr
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon bg-white d-flex flex-column align-items-center justify-content-center round-10">
                                <img src="img/icons/user-star.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14 text-ash">
                                    Position
                                </span>
                                <h6 class="fs-14 text_dark fw-semibold mb-0">
                                    Senior Designer
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon bg-white d-flex flex-column align-items-center justify-content-center round-10">
                                <img src="img/icons/chart-arrows-vertical.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14 text-ash">
                                    Career Level
                                </span>
                                <h6 class="fs-14 text_dark fw-semibold mb-0">
                                    Senior Designer
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget style-two bg-aqua round-10">
                    <h3 class="sidebar-widget-title fs-20 font-semibold">
                        Job Location
                    </h3>
                    <div class="comp-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8385385572983!2d144.95358331584498!3d-37.81725074201705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sbd!4v1612419490850!5m2!1sen!2sbd"></iframe>
                    </div>
                </div>
                <div class="sidebar-widget style-two bg-aqua round-10">
                    <h3 class="sidebar-widget-title fs-18 fw-semibold">
                        Jobs Skills
                    </h3>
                    <ul class="tag-list list-unstyle">
                        <li><a routerLink="/jobs-grid">
                            Graphic Design
                        </a></li>
                        <li><a routerLink="/jobs-grid">
                            Video Editiong
                        </a></li>
                        <li><a routerLink="/jobs-grid">
                            Jobs
                        </a></li>
                        <li><a routerLink="/jobs-grid">
                            Designer
                        </a></li>
                        <li><a routerLink="/jobs-grid">
                            Finance
                        </a></li>
                        <li><a routerLink="/jobs-grid">
                            Career
                        </a></li>
                        <li><a routerLink="/jobs-grid">
                            Frontend
                        </a></li>
                        <li><a routerLink="/jobs-grid">
                            Software
                        </a></li>
                        <li><a routerLink="/jobs-grid">
                            SEO
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-100">
        <div class="col-xl-8">
            <div class="section-title style-one mb-35">
                <h2>
                    Related <strong>Jobs</strong>
                </h2>
            </div>
            <div class="job-card style-eight d-flex flex-wrap align-items-center justify-content-between round-10 bg-haze mb-20 transition">
                <div class="job-title-wrap d-flex flex-wrap align-items-center">
                    <div class="employer-logo bg-white d-flex flex-column align-items-center justify-content-center round-20">
                        <img src="img/employer/solit-it.svg" alt="Employre Logo">
                    </div>
                    <div class="job-title">
                        <ul class="job-taglist list-unstyle">
                            <li class="d-inline-block">
                                <a routerLink="/jobs-left-sidebar" class="fs-14">
                                    Developer
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a routerLink="/jobs-left-sidebar" class="fs-14">
                                    Coder
                                </a>
                            </li>
                        </ul>
                        <h3 class="fs-20 fw-semibold">
                            <a routerLink="/job-details-sidebar">
                                Full Stack Developer with Machine Learning
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="job-metainfo-wrap">
                    <ul class="job-metainfo list-unstyle mb-3">
                        <li class="fs-13 fw-medium bg-gin">
                            Full Time
                        </li>
                        <li class="fs-13 fw-medium bg-mystic">
                            Urgent
                        </li>
                    </ul>
                    <ul class="job-desc-meta list-unstyle">
                        <li class="fs-14">
                            <img src="img/icons/map.svg" alt="Map Icon">
                            Bercelona, Spain
                        </li>
                        <li class="fs-14">
                            <img src="img/icons/calendar.svg" alt="Calendar Icon">
                            15 Jul, 2024
                        </li>
                        <li class="fs-14">
                            <img src="img/icons/cash.svg" alt="Money Icon">
                            <span class="fw-semibold">$56</span>/hour
                        </li>
                    </ul>
                </div>
            </div>
            <div class="job-card style-eight d-flex flex-wrap align-items-center justify-content-between round-10 bg-haze transition">
                <div class="job-title-wrap d-flex flex-wrap align-items-center">
                    <div class="employer-logo bg-white d-flex flex-column align-items-center justify-content-center round-20">
                        <img src="img/employer/tonning.svg" alt="Employre Logo">
                    </div>
                    <div class="job-title">
                        <ul class="job-taglist list-unstyle">
                            <li class="d-inline-block">
                                <a routerLink="/jobs-left-sidebar" class="fs-14">
                                    Developer
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a routerLink="/jobs-left-sidebar" class="fs-14">
                                    Coder
                                </a>
                            </li>
                        </ul>
                        <h3 class="fs-20 fw-semibold">
                            <a routerLink="/job-details-sidebar">
                                Senior Designer with Research Experience
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="job-metainfo-wrap">
                    <ul class="job-metainfo list-unstyle mb-3">
                        <li class="fs-13 fw-medium bg-gin">
                            Full Time
                        </li>
                        <li class="fs-13 fw-medium bg-violet">
                            Featured
                        </li>
                    </ul>
                    <ul class="job-desc-meta list-unstyle">
                        <li class="fs-14">
                            <img src="img/icons/map.svg" alt="Map Icon">
                            Montreal, Canada
                        </li>
                        <li class="fs-14">
                            <img src="img/icons/calendar.svg" alt="Calendar Icon">
                            18 Jul, 2024
                        </li>
                        <li class="fs-14">
                            <img src="img/icons/cash.svg" alt="Money Icon">
                            <span class="fw-semibold">$26</span>/hour
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Job Details -->

<app-footer />

<app-back-to-top />