<div class="container my-5">
    <p-toast />
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-10">
            <div class="card py-3">
                <p-stepper [linear]="true">
                    <p-stepperPanel header="Job Information">
                        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                            <div class="flex flex-column h-12rem">
                                <form [formGroup]="firstStepForm">
                                    <div *ngIf="!editMode">
                                        <div class="row align-items-center mb-3">
                                            <div class="col-12 col-lg-7">
                                                <label for="fetchExistingJob" class="form-label fw-bold">Do you want to get details from existing posted job?</label>
                                            </div>
                                            <div class="col-12 col-lg-5 d-flex justify-content-md-start justify-content-lg-around">
                                                <div *ngFor="let category of existing">
                                                    <div class="col-6 mx-3 d-flex">
                                                        <p-radioButton 
                                                            [inputId]="category.key" 
                                                            [value]="category.key" 
                                                            formControlName="fetchExisting" />
                                                        <label [for]="category.key" class="ms-2 fw-bold">
                                                            {{ category.name }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-lg-6 mb-3" *ngIf="firstStepForm.get('fetchExisting')?.value === 'yes'">
                                            <p-autoComplete
                                                formControlName="existingJob"
                                                placeholder="Select or search existing job"
                                                [dropdown]="true"
                                                [showClear]="true"
                                                [suggestions]="filteredJobsList"
                                                (completeMethod)="filterJobs($event)"
                                                (onSelect)="onJobSelected($event)"
                                                optionLabel="job_name" />
                                        </div>
                                        <p-divider />
                                    </div>
                                    <div class="col-12 mb-3">
                                        <div class="col-12">
                                            <label for="existingJob" class="form-label fw-bold">Job Title</label>
                                            <input type="text" pInputText placeholder="Enter job title" formControlName="jobTitle" />
                                            <small class="error-text" 
                                                *ngIf="firstStepForm.get('jobTitle')?.hasError('required') && firstStepForm.get('jobTitle')?.touched">
                                                Job title is required.
                                            </small>
                                            <small class="error-text" 
                                                *ngIf="firstStepForm.get('jobTitle')?.hasError('maxlength') && firstStepForm.get('jobTitle')?.touched">
                                                Job title cannot exceed 100 characters.
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <div class="col-12">
                                            <label for="jobDescription" class="form-label fw-bold">Job Description</label>
                                            <textarea rows="5" 
                                                cols="30" 
                                                pInputTextarea 
                                                placeholder="Enter job description"
                                                formControlName="jobDescription">
                                            </textarea>
                                            <small class="error-text" 
                                                *ngIf="firstStepForm.get('jobDescription')?.hasError('required') && firstStepForm.get('jobDescription')?.touched">
                                                Job description is required.
                                            </small>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row flex pt-4 justify-content-between">
                                <div class="col-6">
                                    <p-button label="Back" icon="pi pi-arrow-left" iconPos="left" (onClick)="navigate()" styleClass="back-button"/>
                                </div>
                                <div class="col-6 text-end">
                                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" [disabled]="firstStepForm.invalid" (onClick)="nextCallback.emit()" styleClass="next-button" />
                                    <!-- <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" styleClass="next-button" /> -->
                                </div>
                            </div>
                        </ng-template>
                    </p-stepperPanel>
                    <p-stepperPanel header="Job Details">
                        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                            <div class="flex flex-column h-12rem">
                                <form [formGroup]="secondStepForm">
                                    <div class="col-12 mb-3">
                                        <div class="col-12">
                                            <label for="jobType" class="form-label fw-bold">Job Type</label>
                                        </div>
                                        <div class="checkbox-container flex-container">
                                            <div *ngFor="let job of jobTypes" class="checkbox-item">
                                                <p-checkbox 
                                                    [binary]="true" 
                                                    [formControlName]="job.title" 
                                                    [label]="job.title">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                        <small *ngIf="isJobTypeInvalid() && secondStepForm.touched" class="error-text">
                                            At least one job type must be selected.
                                        </small>
                                    </div>
                        
                                    <div class="col-12 mb-3">
                                        <div class="col-12">
                                            <label for="jobLocation" class="form-label fw-bold">Job Location</label>
                                        </div>
                                        <p-multiSelect [options]="cityList" 
                                            optionLabel="title"
                                            optionValue="id"
                                            placeholder="Select job locations" 
                                            formControlName="jobLocation" 
                                            display="chip">
                                        </p-multiSelect>
                                        <small class="error-text" *ngIf="secondStepForm.get('jobLocation')?.hasError('required') && secondStepForm.get('jobLocation')?.touched">
                                            Job location is required.
                                        </small>
                                    </div>
                        
                                    <div class="col-12 mb-3">
                                        <div class="col-12">
                                            <label for="skills" class="form-label fw-bold">Skills</label>
                                        </div>
                                        <p-chips 
                                            formControlName="skills" 
                                            placeholder="Enter a skill and press Enter"
                                            (onAdd)="onSkillAdd($event)">
                                        </p-chips>
                                        <small class="error-text" *ngIf="secondStepForm.get('skills')?.hasError('required') && secondStepForm.get('skills')?.touched">
                                            Skills are required.
                                        </small>
                                    </div>
                        
                                    <div class="row">
                                        <div class="col-12 col-lg-6 mb-3">
                                            <div class="col-12">
                                                <label for="experience" class="form-label fw-bold">Experience (in Years)</label>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <p-inputNumber 
                                                    formControlName="experienceFrom" 
                                                    [min]="0" 
                                                    [step]="0.1" 
                                                    [showButtons]="false" 
                                                    class="w-50" 
                                                    placeholder="From (years)" 
                                                    mode="decimal">
                                                </p-inputNumber>
                                                <p-inputNumber 
                                                    formControlName="experienceTo" 
                                                    [min]="0" 
                                                    [step]="0.1" 
                                                    [showButtons]="false" 
                                                    class="w-50" 
                                                    placeholder="To (years)" 
                                                    mode="decimal">
                                                </p-inputNumber>
                                            </div>
                                            <small class="error-text mx-1" *ngIf="secondStepForm.get('experienceFrom')?.hasError('required') && secondStepForm.get('experienceFrom')?.touched">
                                                From experience is required.
                                            </small>
                                            <small class="error-text mx-1" *ngIf="secondStepForm.get('experienceTo')?.hasError('required') && secondStepForm.get('experienceTo')?.touched">
                                                To experience is required.
                                            </small>
                                            <small class="error-text mx-1" *ngIf="secondStepForm.hasError('invalidExperienceRange') && secondStepForm.touched">
                                                "From" experience must be less than "To" experience.
                                            </small>
                                        </div>
                            
                                        <div class="col-12 col-lg-6 mb-3">
                                            <div class="col-12">
                                                <label for="experience" class="form-label fw-bold">Expected Salary</label>
                                            </div>
                                            <div class="col-12 d-flex align-items-center">
                                                <div class="col-3">
                                                    <p-dropdown formControlName="currency"
                                                        [options]="currencies"
                                                        optionLabel="currencySymbol"
                                                        optionValue="currencySymbol"
                                                        [filter]="true"
                                                        placeholder="Currency">
                                                    </p-dropdown>
                                                </div>

                                                <div class="col-6">
                                                    <p-inputNumber 
                                                        formControlName="salaryFrom" 
                                                        [min]="0" 
                                                        [step]="0.1" 
                                                        [showButtons]="false" 
                                                        class="w-50" 
                                                        placeholder="From" 
                                                        mode="decimal">
                                                    </p-inputNumber>
                                                    <p-inputNumber 
                                                        formControlName="salaryTo" 
                                                        [min]="0" 
                                                        [step]="0.1" 
                                                        [showButtons]="false" 
                                                        class="w-50" 
                                                        placeholder="To" 
                                                        mode="decimal">
                                                    </p-inputNumber>
                                                </div>
                                                <div class="col-3">
                                                    <p-dropdown formControlName="period"
                                                        [options]="period"
                                                        optionLabel="title"
                                                        optionValue="id"
                                                        placeholder="Duration">
                                                    </p-dropdown>
                                                </div>
                                            </div>
                                            <small class="error-text mx-1" 
                                                *ngIf="secondStepForm.get('currency')?.hasError('required') && secondStepForm.get('currency')?.touched">
                                                Currency is required.
                                            </small>
                                            <small class="error-text mx-1" 
                                                *ngIf="secondStepForm.get('salaryFrom')?.hasError('required') && secondStepForm.get('salaryTo')?.hasError('required') && (secondStepForm.get('salaryFrom')?.touched || secondStepForm.get('salaryTo')?.touched)">
                                                Salary range is required.
                                            </small>
                                            <small class="error-text mx-1" *ngIf="secondStepForm.hasError('invalidSalaryRange') && (secondStepForm.get('salaryFrom')?.touched || secondStepForm.get('salaryTo')?.touched)">
                                                Salary "From" must be less than "To".
                                            </small>
                                            <small class="error-text mx-1" 
                                                *ngIf="secondStepForm.get('period')?.hasError('required') && secondStepForm.get('period')?.touched">
                                                Duration period is required.
                                            </small>
                                        </div>
                                    </div>
                        
                                    <div class="row mt-2">
                                        <div class="col-12 col-lg-6 mb-3 justify-content-around">
                                            <label for="noticePeriod" class="form-label fw-bold">Notice Period</label>
                                            <div class="d-flex align-items-center justify-content-around">
                                                <p-radioButton 
                                                    formControlName="noticePeriodType" 
                                                    value="Immediate" 
                                                    inputId="immediate" 
                                                    label="Immediate" 
                                                    class="mr-3">
                                                </p-radioButton>
                                                <p-radioButton 
                                                    formControlName="noticePeriodType" 
                                                    value="Other" 
                                                    inputId="other" 
                                                    label="Other">
                                                </p-radioButton>
                                            </div>
                                            <small class="error-text" *ngIf="secondStepForm.get('noticePeriodType')?.hasError('required') && secondStepForm.get('noticePeriodType')?.touched">
                                                Notice period is required.
                                            </small>
                                        </div>
                                    
                                        <div class="col-12 col-lg-6 mb-3" *ngIf="secondStepForm.get('noticePeriodType')?.value === 'Other'">
                                            <label for="noticePeriodRange" class="form-label fw-bold">Notice Period Range (in Days)</label>
                                            <div class="d-flex align-items-center">
                                                <div class="col-6">
                                                    <div class="col-12">
                                                        <p-inputNumber 
                                                            formControlName="noticeFrom" 
                                                            [min]="0" 
                                                            [showButtons]="false" 
                                                            class="w-50 mr-2" 
                                                            placeholder="From (days)">
                                                        </p-inputNumber>
                                                    </div>
                                                    <small class="error-text" *ngIf="secondStepForm.get('noticeFrom')?.hasError('required') && secondStepForm.get('noticeFrom')?.touched">
                                                        Notice period "From" is required.
                                                    </small>
                                                </div>
                                                <div class="col-6">
                                                    <div class="col-12">
                                                        <p-inputNumber 
                                                            formControlName="noticeTo" 
                                                            [min]="0" 
                                                            [showButtons]="false" 
                                                            class="w-50" 
                                                            placeholder="To (days)">
                                                        </p-inputNumber>
                                                    </div>
                                                    <small class="error-text" *ngIf="secondStepForm.get('noticeTo')?.hasError('required') && secondStepForm.get('noticeTo')?.touched">
                                                        Notice period "To" is required.
                                                    </small>
                                                </div>
                                            </div>
                                            <small class="error-text" *ngIf="secondStepForm.hasError('invalidNoticePeriodRange') && (secondStepForm.get('noticeFrom')?.touched && secondStepForm.get('noticeTo')?.touched)">
                                                Notice period "From" must be less than "To".
                                            </small>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row flex pt-4 justify-content-between">
                                <div class="col-6">
                                    <p-button severity="danger" label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" styleClass="back-button" />
                                </div>
                                <div class="col-6 text-end">
                                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" [disabled]="secondStepForm.invalid" (onClick)="nextCallback.emit()" styleClass="next-button" />
                                </div>
                            </div>
                        </ng-template>
                    </p-stepperPanel>
                    <p-stepperPanel header="Job Questionnaires">
                        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                            <div class="flex flex-column h-12rem">
                                <form [formGroup]="thirdStepForm">
                                    <div class="question-section">
                                        <div class="row align-items-center mb-3">
                                            <div class="col-12 col-md-6">
                                                <div class="col-12">
                                                    <label class="form-label fw-bold">Add Question</label>
                                                </div>
                                                <input type="text"
                                                    pInputText
                                                    formControlName="question"
                                                    placeholder="Enter question (e.g., Do you have 5 years experience?)"
                                                    class="form-control"/>
                                                    <small class="error-text" *ngIf="thirdStepForm.get('question')?.hasError('required') && thirdStepForm.get('question')?.touched">
                                                        Question is required.
                                                    </small>
                                            </div>
                                            <div class="col-12 col-md-3 my-2 my-lg-0 text-start">
                                                <div class="col-12">
                                                    <label class="form-label fw-bold">Expected Answer</label>
                                                </div>
                                                <ng-container *ngFor="let answer of expectedAnswer">
                                                    <div class="col-6 d-flex mx-2">
                                                        <p-radioButton 
                                                            [inputId]="answer.name" 
                                                            [value]="answer.name" 
                                                            formControlName="deciderResponse" />
                                                        <label [for]="answer.key" class="ms-2 fw-bold">
                                                            {{ answer.name }}
                                                        </label>
                                                    </div>
                                                </ng-container>
                                            </div>
                                            <div class="col-12 col-md-3 my-2 my-lg-0 text-start">
                                                <div class="col-12">
                                                    <label class="form-label fw-bold">Response Input</label>
                                                </div>
                                                <ng-container *ngFor="let input of responseInput">
                                                    <div class="col-12 d-flex mx-2">
                                                        <p-radioButton 
                                                            [inputId]="input.name" 
                                                            [value]="input.name" 
                                                            formControlName="additionalResponse" />
                                                        <label [for]="input.key" class="ms-2 fw-bold">
                                                            {{ input.name }}
                                                        </label>
                                                    </div>
                                                </ng-container>
                                            </div>
                                            
                                        </div>
                                        <div class="row justify-content-end mb-3">
                                            <div class="col-md-2 text-end text-lg-center">
                                                <p-button icon="pi pi-save" label="Save" styleClass="small-button" (onClick)="addQuestion()"></p-button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <p-accordion>
                                        <p-accordionTab *ngFor="let question of questionFormArray.controls; let i = index"
                                            [header]="'Question ' + (i + 1)">
                                            <div class="row d-flex justify-content-between align-items-center">
                                                <div class="col-12 col-lg-8">
                                                    <p><strong>Question:</strong> {{ question.get('question')?.value }}</p>
                                                    <p>
                                                        <strong>Expected Response:</strong>
                                                        {{ question.get('deciderResponse')?.value }}
                                                    </p>
                                                    <p>
                                                        <strong>Additional Response:</strong>
                                                        {{ question.get('additionalResponse')?.value }}
                                                    </p>
                                                </div>
                                                <div class="col-12 col-lg-4 text-end text-lg-center">
                                                    <p-button
                                                        label="Edit"
                                                        icon="pi pi-pencil"
                                                        (onClick)="editQuestion(i)">
                                                    </p-button>
                                                    <p-button
                                                        label="Delete"
                                                        icon="pi pi-trash"
                                                        class="p-button-danger"
                                                        (onClick)="deleteQuestion(i)">
                                                    </p-button>
                                                </div>
                                            </div>
                                        </p-accordionTab>
                                    </p-accordion> -->
                                    <!-- Accordion to hold the table -->
                                    <p-accordion *ngIf="questionFormArray?.length && questionFormArray.length > 0">
                                        <p-accordionTab header="Questions">
                                            <p-table [value]="questionFormArray.controls" class="p-datatable-gridlines">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th class="table-head">Question</th>
                                                        <th class="table-head">Expected Response</th>
                                                        <th class="table-head">Additional Response</th>
                                                        <th class="table-head">Actions</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-question let-i="rowIndex">
                                                    <tr>
                                                        <td>{{ question.get('question')?.value }}</td>
                                                        <td>{{ question.get('deciderResponse')?.value }}</td>
                                                        <td>{{ question.get('additionalResponse')?.value }}</td>
                                                        <td>
                                                            <p-button 
                                                                icon="pi pi-pencil" 
                                                                size="small"
                                                                class="mx-1"
                                                                styleClass="action-button"
                                                                (onClick)="editQuestion(i)">
                                                            </p-button>
                                                            <p-button 
                                                                icon="pi pi-trash" 
                                                                size="small"
                                                                severity="danger"
                                                                class="mx-1"
                                                                styleClass="action-button"
                                                                (onClick)="deleteQuestion(i)">
                                                            </p-button>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </p-accordionTab>
                                    </p-accordion>
                                    <p-divider />
                                    <div class="mt-4">
                                        <p-checkbox
                                            binary="true"
                                            formControlName="useTalliteGPT"
                                            label="Use Tallite GPT for Questions"
                                            (onChange)="toggleTalliteGPT()"
                                            class="fw-bold">
                                        </p-checkbox>
                                    </div>
                                
                                    <!-- Tallite GPT Additional Inputs -->
                                    <div *ngIf="thirdStepForm.get('useTalliteGPT')?.value" class="mt-3">
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <div class="col-12">
                                                    <label for="noOfQuestion" class="fw-bold">Number of Questions</label>
                                                </div>
                                                <div class="col-12">
                                                    <p-inputNumber 
                                                        formControlName="noOfQuestion" 
                                                        [min]="0" 
                                                        [max]="10"
                                                        [showButtons]="false" 
                                                        placeholder="Enter number of questions">
                                                    </p-inputNumber>                                                </div>
                                                <div class="col-12">
                                                    <small class="error-text" *ngIf="thirdStepForm.get('noOfQuestion')?.hasError('required') && thirdStepForm.get('noOfQuestion')?.touched">
                                                        Number of questions is required.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col -12 col-md-4">
                                                <div class="col-12">
                                                    <label for="difficulty" class="fw-bold">Difficulty</label>
                                                </div>
                                                <p-dropdown
                                                    formControlName="difficulty"
                                                    [options]="difficultyOptions"
                                                    placeholder="Select difficulty">
                                                </p-dropdown>
                                                <small class="error-text" *ngIf="thirdStepForm.get('difficulty')?.hasError('required') && thirdStepForm.get('difficulty')?.touched">
                                                    Difficulty level is required.
                                                </small>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="col-12">
                                                    <label for="requiredAssessmentScore" class="fw-bold">Cut-off Score</label>
                                                </div>
                                                <div class="col-12">
                                                    <p-inputNumber 
                                                        formControlName="requiredAssessmentScore" 
                                                        [min]="1" 
                                                        [max]="100"
                                                        [step]="0.1" 
                                                        [showButtons]="false" 
                                                        placeholder="Enter cut-off score" 
                                                        mode="decimal">
                                                    </p-inputNumber>
                                                </div>
                                                <div class="col-12">
                                                    <small class="error-text" *ngIf="thirdStepForm.get('requiredAssessmentScore')?.hasError('required') && thirdStepForm.get('requiredAssessmentScore')?.touched">
                                                        Cut-off score is required.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row mt-2 pt-4 justify-content-between">
                                <div class="col-6">
                                    <p-button label="Back" icon="pi pi-arrow-left" iconPos="left" (onClick)="prevCallback.emit()" styleClass="back-button"/>
                                </div>
                                <div class="col-6 text-end">
                                    <!-- <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" [disabled]="firstStepForm.invalid" (onClick)="nextCallback.emit()" styleClass="next-button" /> -->
                                    <p-button label="Submit" icon="pi pi-arrow-right" iconPos="right" [disabled]="thirdStepForm.invalid" styleClass="next-button" (click)="submit()"/>
                                </div>
                            </div>
                        </ng-template>
                    </p-stepperPanel>
                </p-stepper>
            </div>
        </div>
    </div>
</div>
