button[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
}

.error-text {
    color: #f44336;
    font-size: 0.875rem;
}

@media only screen and (max-width: 768px) {
    .error-text {
        font-size: 0.75rem;
    }
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.checkbox-item:hover {
    border-color: #007bff;
    background-color: #f0f8ff;
}

.p-checkbox-box {
    border-radius: 3px;
}

.p-checkbox-input:checked + .p-checkbox-box {
    background-color: #007bff;
    border-color: #007bff;
}

.p-checkbox-input:checked + .p-checkbox-box:before {
    border-color: white;
}

.table-head {
    background-color: rgb(13, 99, 174) !important;
    color: white !important;
}

.quill-editor {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

.required {
    color: red
}