button[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
}

.error-text {
    color: #f44336;
    font-size: 0.875rem;
}

// .back-button {
//     background-color: rgb(255, 113, 18) !important;
//     border: none
// }