<!-- Defualt -->
<div
    class="about-wrap style-one pb-100 position-relative"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img-wrap position-relative index-1">
                    <img src="img/section-shape-4.png" alt="Shape" class="about-shape-one position-absolute bounce">
                    <img src="img/footer-shape.png" alt="Shape" class="about-shape-two position-absolute zoomIn">
                    <div class="client-box position-absolute start-0 d-flex flex-wrap align-items-center bg-white round-6 bounce">
                        <ul class="client-list list-unstyle">
                            <li><img src="img/clients/client-1.jpg" alt="Client Image"></li>
                            <li><img src="img/clients/client-2.jpg" alt="Client Image"></li>
                            <li><img src="img/clients/client-3.jpg" alt="Client Image"></li>
                            <li><img src="img/clients/client-4.jpg" alt="Client Image"></li>
                        </ul>
                        <p class="mb-0 fs-15 text-title">
                            <span>5K+</span> people found their jobs
                        </p>
                    </div>
                    <div class="review-box position-absolute bg-white round-6 moveHorizontal">
                        <div class="ratings d-flex align-items-center">
                            <span class="fs-18 fw-semibold text-title">
                                4.9
                            </span>
                            <ul class="list-unstyle">
                                <li><img src="img/icons/star.svg" alt="Star Icon"></li>
                                <li><img src="img/icons/star.svg" alt="Star Icon"></li>
                                <li><img src="img/icons/star.svg" alt="Star Icon"></li>
                                <li><img src="img/icons/star.svg" alt="Star Icon"></li>
                                <li><img src="img/icons/star.svg" alt="Star Icon"></li>
                            </ul>
                        </div>
                        <p class="mb-0 text-title">
                            Average Ratings
                        </p>
                    </div>
                    <img src="img/about/about-img-1.png" alt="About image" class="about-img w-100">
                </div>
            </div>
            <div class="col-lg-6 pe-xxl-0">
                <div class="about-content position-relative index-1">
                    <img src="img/section-shape-5.png" alt="Shape" class="about-shape-three position-absolute bounce">
                    <div class="section-title style-one mb-35">
                        <h2 class="mb-20 fw-medium">
                            Choose Your Dream Job From Over <strong>50,000+ Jobs</strong>
                        </h2>
                        <p class="mb-0">
                            We understand the importance of finding the right job. That's why we've  created a platform where job seekers can explore a wide range of opportunities tailored to their skills.
                        </p>
                    </div>
                    <ul class="feature-list list-unstyle">
                        <li class="position-relative text-title fs-18 fw-semibold">
                            <img src="img/icons/check.svg" alt="Check Icon"> Seamless job searching
                        </li>
                        <li class="position-relative text-title fs-18 fw-semibold">
                            <img src="img/icons/check.svg" alt="Check Icon"> Get top 3% experts for your project
                        </li>
                        <li class="position-relative text-title fs-18 fw-semibold">
                            <img src="img/icons/check.svg" alt="Check Icon"> Trustworthy payment gateway
                        </li>
                    </ul>
                    <a routerLink="/jobs-left-sidebar" class="btn style-four">
                        Search Job Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Only for Home Demo - 2 -->
<div
    class="about-wrap style-two pb-100"
    *ngIf="router.url === '/index-2'"
>
    <div class="container">
        <div class="row align-items-xl-end align-items-center">
            <div class="col-lg-6">
                <div class="about-img-wrap">
                    <img src="img/about/about-img-2.png" alt="About image">
                </div>
            </div>
            <div class="col-lg-6 pe-xxl-0">
                <div class="about-content position-relative index-1">
                    <img src="img/section-shape-5.png" alt="Shape" class="about-shape-three position-absolute moveHorizontal">
                    <div class="section-title style-one mb-35">
                        <h2 class="font-secondary mb-20">
                            Choose Your Dream Job From Over <strong>50,000+ Jobs</strong>
                        </h2>
                        <p class="mb-0">
                            We understand the importance of finding the right job. That's why we've  created a platform where job seekers can explore a wide range of opportunities tailored to their skills.
                        </p>
                    </div>
                    <ul class="feature-list list-unstyle">
                        <li class="position-relative text-title fs-18 fw-semibold">
                            <img src="img/icons/check.svg" alt="Check Icon">
                            Seamless job searching
                        </li>
                        <li class="position-relative text-title fs-18 fw-semibold">
                            <img src="img/icons/check.svg" alt="Check Icon">
                            Get top 3% experts for your project
                        </li>
                        <li class="position-relative text-title fs-18 fw-semibold" >
                            <img src="img/icons/check.svg" alt="Check Icon">
                            Trustworthy payment gateway
                        </li>
                    </ul>
                    <a routerLink="/jobs-left-sidebar" class="btn style-four">
                        Search Job Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Only for Home Demo - 3 -->
<div
    class="about-wrap style-three ptb-100"
    *ngIf="router.url === '/index-3'"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 pe-xxl-5">
                <div class="about-content position-relative index-1">
                    <div class="section-title style-three mb-20">
                        <h2 class="font-secondary mb-15">
                            Choose Your Dream Job From Over 50,000+ Jobs
                        </h2>
                        <p class="pe-xxl-3 mb-0">
                            We understand the importance of finding the right job. That's why we've  created a platform where job seekers can explore a wide range of opportunities tailored to their skills.
                        </p>
                    </div>
                    <ul class="feature-list style-two list-unstyle">
                        <li class="position-relative text-title fs-18 fw-semibold round-4">
                            <img src="img/icons/check.svg" alt="Check Icon">
                            Seamless job searching
                        </li>
                        <li class="position-relative text-title fs-18 fw-semibold round-4">
                            <img src="img/icons/check.svg" alt="Check Icon">
                            Trustworthy payment gateway
                        </li>
                        <li class="position-relative text-title fs-18 fw-semibold round-4">
                            <img src="img/icons/check.svg" alt="Check Icon">
                            Get top 3% experts for your project
                        </li>
                    </ul>
                    <a routerLink="/jobs-left-sidebar" class="btn style-four">
                        Search Job Now
                    </a>
                </div>
            </div>
            <div class="col-lg-6 pe-xxl-1">
                <div class="about-img-wrap position-relative">
                    <img src="img/about/about-img-3.png" alt="About image">
                    <div class="circle-text-wrap position-absolute">
                        <img src="img/about/shape-3.png" alt="Image" class="circle-img">
                        <div class="circle-text">
                            <svg class="rotate" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                                <defs>
                                    <path id="circlePath_one" d=" M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
                                </defs>
                                <circle cx="150" cy="150" r="75" fill="none"/>
                                <g>
                                    <use xlink:href="#circlePath_one" fill="none"/>
                                    <text fill="#A5B0A5">
                                        <textPath xlink:href="#circlePath_one">
                                            Secure Job Platform In 2024 *
                                        </textPath>
                                    </text>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>