<!-- Stats -->
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="db-counter-card d-flex flex-wrap align-items-center justify-content-between mb-25">
            <div class="db-counter-icon d-flex flex-column align-items-center justify-content-center rounded-circle">
                <img src="img/icons/users.svg" alt="Users">
            </div>
            <div class="db-counter-text">
                <span>
                    Total Visitors
                </span>
                <h3>
                    2.5K+
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="db-counter-card d-flex flex-wrap align-items-center justify-content-between mb-25">
            <div class="db-counter-icon d-flex flex-column align-items-center justify-content-center rounded-circle">
                <img src="img/icons/briefcase.svg" alt="Users">
            </div>
            <div class="db-counter-text">
                <span>
                    Total Jobs
                </span>
                <h3>
                    132+
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="db-counter-card d-flex flex-wrap align-items-center justify-content-between mb-25">
            <div class="db-counter-icon d-flex flex-column align-items-center justify-content-center rounded-circle">
                <img src="img/icons/eye.svg" alt="Users">
            </div>
            <div class="db-counter-text">
                <span>
                    Job Views
                </span>
                <h3>
                    5.3K+
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="db-counter-card d-flex flex-wrap align-items-center justify-content-between mb-25">
            <div class="db-counter-icon d-flex flex-column align-items-center justify-content-center rounded-circle">
                <img src="img/icons/list-numbers.svg" alt="Users">
            </div>
            <div class="db-counter-text">
                <span>
                    Shortlisted
                </span>
                <h3>
                    32+
                </h3>
            </div>
        </div>
    </div>
</div>

<!-- Posted Jobs -->
<h3 class="db-content-title fs-20 fw-bold mb-22">
    Posted Jobs
</h3>
<div class="job-card style-two d-flex flex-wrap align-items-center justify-content-between round-10 position-relative index-1 mb-25 transition">
    <div class="job-title-wrap d-flex flex-wrap align-items-center">
        <div class="employer-logo d-flex flex-column align-items-center justify-content-center round-20">
            <img src="img/employer/solit-it.svg" alt="Employre Logo">
        </div>
        <div class="job-title">
            <a routerLink="/employer-details" class="fs-14 text-para">
                Solit IT Solution
            </a>
            <h3 class="fw-semibold"><a routerLink="/job-details-sidebar">
                Design Engineer
            </a></h3>
        </div>
    </div>
    <div class="job-metainfo-wrap text-md-end transition">
        <ul class="job-desc-meta list-unstyle">
            <li class="fs-14">
                <img src="img/icons/calendar.svg" alt="Calendar Icon">
                25 Jul, 2024
            </li>
        </ul>
        <ul class="job-brief list-unstyle">
            <li class="fs-14 fw-semibold text-title">
                Remote
            </li>
            <li class="fs-14 fw-semibold text-title">
                $190K-$200K
            </li>
        </ul>
    </div>
    <div class="job-action d-flex flex-wrap align-items-center justify-content-md-end position-absolute transition">
        <a routerLink="/job-details-sidebar" class="btn style-three">
            Apply Now
        </a>
        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
            <i class="ri-check-line"></i>
        </button>
        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
            <i class="ri-eye-line"></i>
        </button>
        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
            <i class="ri-delete-bin-6-line"></i>
        </button>
    </div>
</div>
<div class="job-card style-two d-flex flex-wrap align-items-center justify-content-between round-10 position-relative index-1 mb-25 transition">
    <div class="job-title-wrap d-flex flex-wrap align-items-center">
        <div class="employer-logo d-flex flex-column align-items-center justify-content-center round-20">
            <img src="img/employer/supabase.svg" alt="Employre Logo">
        </div>
        <div class="job-title">
            <a routerLink="/employer-details" class="fs-14 text-para">
                Supabase
            </a>
            <h3 class="fw-semibold"><a routerLink="/job-details-sidebar">
                3D Animator
            </a></h3>
        </div>
    </div>
    <div class="job-metainfo-wrap text-md-end transition">
        <ul class="job-desc-meta list-unstyle">
            <li class="fs-14">
                <img src="img/icons/calendar.svg" alt="Calendar Icon">
                21 Jul, 2024
            </li>
        </ul>
        <ul class="job-brief list-unstyle">
            <li class="fs-14 fw-semibold text-title">
                SF
            </li>
            <li class="fs-14 fw-semibold text-title">
                $100K-$120K
            </li>
        </ul>
    </div>
    <div class="job-action d-flex flex-wrap align-items-center justify-content-md-end position-absolute transition">
        <a routerLink="/job-details-sidebar" class="btn style-three">
            Apply Now
        </a>
        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
            <i class="ri-check-line"></i>
        </button>
        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
            <i class="ri-eye-line"></i>
        </button>
        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
            <i class="ri-delete-bin-6-line"></i>
        </button>
    </div>
</div>
<div class="job-card style-two d-flex flex-wrap align-items-center justify-content-between round-10 position-relative index-1 mb-25 transition">
    <div class="job-title-wrap d-flex flex-wrap align-items-center">
        <div class="employer-logo d-flex flex-column align-items-center justify-content-center round-20">
            <img src="img/employer/stackoverflow.svg" alt="Employre Logo">
        </div>
        <div class="job-title">
            <a routerLink="/employer-details" class="fs-14 text-para">
                Stack Solution
            </a>
            <h3 class="fw-semibold"><a routerLink="/job-details-sidebar">
                Devops Engineer
            </a></h3>
        </div>
    </div>
    <div class="job-metainfo-wrap text-md-end transition">
        <ul class="job-desc-meta list-unstyle">
            <li class="fs-14">
                <img src="img/icons/calendar.svg" alt="Calendar Icon">
                19 Jul, 2024
            </li>
        </ul>
        <ul class="job-brief list-unstyle">
            <li class="fs-14 fw-semibold text-title">
                Remote
            </li>
            <li class="fs-14 fw-semibold text-title">
                $190K-$200K
            </li>
        </ul>
    </div>
    <div class="job-action d-flex flex-wrap align-items-center justify-content-md-end position-absolute transition">
        <a routerLink="/job-details-sidebar" class="btn style-three">
            Apply Now
        </a>
        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
            <i class="ri-check-line"></i>
        </button>
        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
            <i class="ri-eye-line"></i>
        </button>
        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
            <i class="ri-delete-bin-6-line"></i>
        </button>
    </div>
</div>

<!-- Recent Applicants -->
<h3 class="db-content-title fs-20 fw-bold mb-22">
    Recent Applicants
</h3>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="candidate-card style-two text-center position-relative index-1 mb-30 transition bg-white">
            <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle position-absolute transition">
                <img src="img/icons/bookmark.svg" alt="Bookmark Icon" class="transition">
            </button>
            <span class="featured fs-13">
                Featured
            </span>
            <div class="candidate-img-wrap">
                <div class="candidate-img rounded-circle position-relative">
                    <img src="img/candidates/candidate-7.png" alt="Candidate" class="rounded-circle">
                    <span class="online-status active rounded-circle position-absolute d-inline-block"></span>
                </div>
                <h3 class="fs-20"><a routerLink="/candidate-details">
                    Jenny Loren
                </a></h3>
                <span class="d-block">
                    UI/UX Designer
                </span>
                <div class="expertise d-flex align-items-center justify-content-center">
                    <span class="text-title fw-medium me-2">
                        Expertise:
                    </span>
                    <ul class="tag-list list-unstyle">
                        <li><a routerLink="/jobs-grid">
                            Web Design
                        </a></li>
                        <li><a routerLink="/jobs-grid">
                            Video Editing
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="candidate-metainfo-wrap d-flex justify-content-between">
                <div class="candidate-metainfo d-flex align-items-center">
                    <div class="meta-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                        <img src="img/icons/map-green.svg" alt="Map Icon">
                    </div>
                    <div class="meta-info">
                        <span class="d-block fs-14">
                            Location
                        </span>
                        <p class="text_dark fs-14 fw-semibold mb-0">
                            Alberta, CA
                        </p>
                    </div>
                </div>
                <div class="candidate-metainfo d-flex align-items-center justify-content-end">
                    <div class="meta-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                        <img src="img/icons/coin.svg" alt="Map Icon">
                    </div>
                    <div class="meta-info">
                        <span class="d-block fs-14">
                            Salary
                        </span>
                        <p class="text_dark fs-14 fw-semibold mb-0">
                            $20-$30K/yr
                        </p>
                    </div>
                </div>
            </div>
            <a routerLink="/candidate-details" class="btn style-seven d-block">
                View Profile
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="candidate-card style-two text-center position-relative index-1 mb-30 transition bg-white">
            <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle position-absolute transition">
                <img src="img/icons/bookmark.svg" alt="Bookmark Icon" class="transition">
            </button>
            <span class="featured fs-13">
                Featured
            </span>
            <div class="candidate-img-wrap">
                <div class="candidate-img rounded-circle position-relative">
                    <img src="img/candidates/candidate-8.png" alt="Candidate" class="rounded-circle">
                    <span class="online-status active rounded-circle position-absolute d-inline-block"></span>
                </div>
                <h3 class="fs-18"><a routerLink="/candidate-details">
                    Jonathon Ronan
                </a></h3>
                <span class="d-block">
                    Java Developer
                </span>
                <div class="expertise d-flex align-items-center justify-content-center">
                    <span class="text-title fw-medium me-2">
                        Expertise:
                    </span>
                    <ul class="tag-list list-unstyle">
                        <li><a routerLink="/jobs-grid">
                            Web Design
                        </a></li>
                        <li><a routerLink="/jobs-grid">
                            Coding
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="candidate-metainfo-wrap d-flex justify-content-between">
                <div class="candidate-metainfo d-flex align-items-center">
                    <div class="meta-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                        <img src="img/icons/map-green.svg" alt="Map Icon">
                    </div>
                    <div class="meta-info">
                        <span class="d-block fs-14">
                            Location
                        </span>
                        <p class="text_dark fs-14 fw-semibold mb-0">
                            Torento, CA
                        </p>
                    </div>
                </div>
                <div class="candidate-metainfo d-flex align-items-center">
                    <div class="meta-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                        <img src="img/icons/coin.svg" alt="Map Icon">
                    </div>
                    <div class="meta-info">
                        <span class="d-block fs-14">
                            Salary
                        </span>
                        <p class="text_dark fs-14 fw-semibold mb-0">
                            $25 - $40K/yr
                        </p>
                    </div>
                </div>
            </div>
            <a routerLink="/candidate-details" class="btn style-seven d-block">
                View Profile
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="candidate-card style-two text-center position-relative index-1 mb-30 transition bg-white">
            <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle position-absolute transition">
                <img src="img/icons/bookmark.svg" alt="Bookmark Icon" class="transition">
            </button>
            <span class="featured fs-13">
                Featured
            </span>
            <div class="candidate-img-wrap">
                <div class="candidate-img rounded-circle position-relative">
                    <img src="img/candidates/candidate-9.png" alt="Candidate" class="rounded-circle">
                    <span class="online-status active rounded-circle position-absolute d-inline-block"></span>
                </div>
                <h3 class="fs-18"><a routerLink="/candidate-details">
                    Jane Anderson
                </a></h3>
                <span class="d-block">
                    Business Analytics
                </span>
                <div class="expertise d-flex align-items-center justify-content-center">
                    <span class="text-title fw-medium me-2">
                        Expertise:
                    </span>
                    <ul class="tag-list list-unstyle">
                        <li><a routerLink="/jobs-grid">
                            Business
                        </a></li>
                        <li><a routerLink="/jobs-grid">
                            Marketing
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="candidate-metainfo-wrap d-flex justify-content-between">
                <div class="candidate-metainfo d-flex align-items-center">
                    <div class="meta-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                        <img src="img/icons/map-green.svg" alt="Map Icon">
                    </div>
                    <div class="meta-info">
                        <span class="d-block fs-14">
                            Location
                        </span>
                        <p class="text_dark fs-14 fw-semibold mb-0">
                            Florida, USA
                        </p>
                    </div>
                </div>
                <div class="candidate-metainfo d-flex align-items-center">
                    <div class="meta-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                        <img src="img/icons/coin.svg" alt="Map Icon">
                    </div>
                    <div class="meta-info">
                        <span class="d-block fs-14">
                            Salary
                        </span>
                        <p class="text_dark fs-14 fw-semibold mb-0">
                            $25 - $30K/yr
                        </p>
                    </div>
                </div>
            </div>
            <a routerLink="/candidate-details" class="btn style-seven d-block">
                View Profile
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="candidate-card style-two text-center position-relative index-1 mb-30 transition bg-white">
            <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle position-absolute transition">
                <img src="img/icons/bookmark.svg" alt="Bookmark Icon" class="transition">
            </button>
            <span class="featured fs-13">
                Featured
            </span>
            <div class="candidate-img-wrap">
                <div class="candidate-img rounded-circle position-relative">
                    <img src="img/candidates/candidate-10.png" alt="Candidate" class="rounded-circle">
                    <span class="online-status active rounded-circle position-absolute d-inline-block"></span>
                </div>
                <h3 class="fs-18"><a routerLink="/candidate-details">
                    Jhon Peterson
                </a></h3>
                <span class="d-block">
                    Animator
                </span>
                <div class="expertise d-flex align-items-center justify-content-center">
                    <span class="text-title fw-medium me-2">
                        Expertise:
                    </span>
                    <ul class="tag-list list-unstyle">
                        <li><a routerLink="/jobs-grid">
                            Animation
                        </a></li>
                        <li><a routerLink="/jobs-grid">
                            Illustration
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="candidate-metainfo-wrap d-flex justify-content-between">
                <div class="candidate-metainfo d-flex align-items-center">
                    <div class="meta-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                        <img src="img/icons/map-green.svg" alt="Map Icon">
                    </div>
                    <div class="meta-info">
                        <span class="d-block fs-14">
                            Location
                        </span>
                        <p class="text_dark fs-14 fw-semibold mb-0">
                            Florida, USA
                        </p>
                    </div>
                </div>
                <div class="candidate-metainfo d-flex align-items-center">
                    <div class="meta-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                        <img src="img/icons/coin.svg" alt="Map Icon">
                    </div>
                    <div class="meta-info">
                        <span class="d-block fs-14">
                            Salary
                        </span>
                        <p class="text_dark fs-14 fw-semibold mb-0">
                            $35 - $50K/yr
                        </p>
                    </div>
                </div>
            </div>
            <a routerLink="/candidate-details" class="btn style-seven d-block">
                View Profile
            </a>
        </div>
    </div>
</div>