// Sidebar
.sidebar {
    &.style-one {
        padding: 40px 25px 40px;

        .sidebar-title {
            margin-bottom: 28px;
            padding-bottom: 26px;
            border-bottom: 1px solid rgba(24, 32, 27, 0.1);
        }
        .sidebar-widget {
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid rgba(24, 32, 27, 0.1);

            .sidebar-widget-title {
                margin-bottom: 25px;
            }
            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
    .sidebar-widget {
        &.style-two {
            padding: 40px 25px 40px;
            margin-bottom: 45px;

            .sidebar-widget-title {
                margin-bottom: 25px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .candidate-card {
            border-bottom: 1px solid rgba(24, 37, 27, 0.1);
            padding-bottom: 30px !important;

            .add-to-bookmark {
                width: 54px;
                height: 54px;
            }
            &.style-two {
                background-color: transparent;
            }
        }
    }
}
.location-filter {
    img {
        top: 16px;
        left: 20px;
    }
    select {
        padding-left: 52px;
        height: 54px;
        background: {
            image: url(../../../../public/img/down-arrow.svg);
            position: calc(100% - 20px) 50%;
            size: 10px;
        }; 
    }
}
#category-select {
    height: 54px;
    padding: 13px 20px;
    background: {
        size: 10px;
        position: calc(100% - 20px) 50%;
        image: url(../../../../public/img/down-arrow.svg);
    };
}
.tag-list {
    margin-top: -15px;

    &.style-two {
        li {
            a {
                img {
                    position: relative;
                    margin-left: 9px;
                    top: -1px;
                }
                &:hover {
                    img {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
    li {
        display: inline-block;
        margin: 11px 8px 0 0;

        &:last-child {
            margin-right: 0;
        }
        a {
            font-size: 14px;
            color: #23333F;
            border-radius: 4px;
            padding: 4.5px 9px 5.5px;
            background-color: rgba(0, 0, 0, 0.1);

            &:hover {
                background-color: var(--secondaryColor);
                color: var(--whiteColor);
            }
        }
    }
}
.filter-radio-group {
    div {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    label {
        span {
            &:last-child {
                font-weight: 500;
                padding: 3px 8px;
                line-height: 14px;
                border-radius: 50px;
                color: var(--primaryColor);
            }
        }
    }
    [type="radio"]:checked, [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
        cursor: pointer;
        line-height: 20px;
        position: relative;
        padding-left: 34px;
        display: inline-block;
        color: var(--paraColor);
    }
    [type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
        left: 0;
        top: -2px;
        content: '';
        width: 24px;
        height: 24px;
        position: absolute;
        border-radius: 4px;
        background-color: var(--whiteColor);
    }
    [type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
        left: 0;
        top: -2px;
        width: 24px;
        height: 24px;
        content: "\EB7B";
        line-height: 24px;
        border-radius: 4px;
        position: absolute;
        text-align: center;
        color: var(--whiteColor);
        transition: all 0.2s ease;
        background: var(--primaryColor);
        font: {
            family: remixicon;
            size: 17px;
        };
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
    }
}
.pricing-switch-wrap {
    width: 248px;
    margin-right: 50px;

    .pricing-arrow {
        bottom: -26px;
        right: -111px;
    }
    .pricing_switch {
        width: 56px;
        height: 32px;
        position: relative;
        display: inline-block;

        input {
            display: none;
        }
    }
    .pricing_slider {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        transition: .4s;
        position: absolute;
        background-color: var(--darkColor);

        &:before {
            left: 4px;
            content: "";
            bottom: 5px;
            width: 22px;
            height: 22px;
            transition: .4s;
            position: absolute;
            background-color: var(--lightGreenColor);
        }
    }
    input:checked + .pricing_slider {
        background-color: var(--darkColor);
    }
    input:checked + .pricing_slider:before {
        transform: translateX(25px);
    }
    .on, .off {
        font-size: 16px;
        font-weight: 500;
        position: absolute;
        top: 3px;
    }
    .on {
        left: -75px;
    }
    .off {
        right: -60px;
    }
    .pricing_slider.round {
        border-radius: 50px;
    }
    .pricing_slider.round:before {
        border-radius: 50%;
    }
    .on {
        color:#23333F;
    }
    .off {
        color:#5F6E7A;
    }
    input:checked + .pricing_slider .off {
        color: #23333F;
    }
    input:checked + .pricing_slider .on {
        color: #5F6E7A;
    }
}
.toggle-switch {
    .pricing-switch-wrap {
        width: 56px;

        .pricing_slider {
            background-color: var(--primaryColor);

            &:before {
                background-color: var(--whiteColor);
            }
        }
        input:checked + .pricing_slider {
            background-color: var(--primaryColor);
        }
    }
}
.price-range-slider {
    display: flex;
    flex-direction: column;

    .price {
        order: 2;

        span {
            width: 85px;
            height: 40px;
            font-size: 16px;
            line-height: 17px;
            margin-right: 5px;
            position: relative;
            border-radius: 4px;
            display: inline-block;
            padding: 12px 14px 12px 25px;
            background-color: var(--whiteColor);

            &:after {
                top: 12px;
                right: -11px;
                content: "-";
                font-size: 16px;
                position: absolute;
                color: var(--titleColor);
            }
            &:nth-child(2) {
                margin-right: 0;

                &:after {
                    display: none;
                }
            }
            &:before {
                top: 12px;
                left: 14px;
                content: "$";
                font-size: 16px;
                position: absolute;
                color: var(--titleColor);
            }
        }
        select {
            border: none;
            height: 40px;
            padding: 6px 15px;
            border-radius: 4px;
            width: calc(100% - 200px);
            background: {
                color: var(--whiteColor);
                position: calc(100% - 15px) 50%;
            };
        }
    }
    .multi-range {
        position: relative;
        margin: 0 0 15px;
        height: 30px;
        order: 1;
    }
    .multi-range input[type=range]:nth-child(1)::-webkit-slider-thumb:before {
        background-color: #DBDFD6;
    }
    .multi-range input[type=range]:nth-child(2) {
        background: none;
    }
    .multi-range input[type=range]:nth-child(2)::-webkit-slider-thumb:before {
        background-color: var(--primaryColor);
    }
    .multi-range input[type=range]::-moz-range-track {
        background: none;
    }
    input[type=range] {
        position: absolute;
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        outline: none;
        background: -webkit-linear-gradient(#8DCF9B, #8DCF9B) no-repeat center;
        background: linear-gradient(#8DCF9B, #8DCF9B) no-repeat center;
        background-size: 100% 5px;
        border-radius: 50px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        pointer-events: none;
    }
    input[type=range]:active, input[type=range]:focus, input[type=range]::-moz-focus-outer {
        border: none;
        outline: none;
    }
    input[type=range]::-moz-range-thumb {
        position: relative;
        height: 22px;
        width: 22px;
        margin: 5px 0;
        border-radius: 50%;
        background-color: var(--whiteColor);
        border: 2px solid var(--primaryColor);
        -moz-appearance: none;
        appearance: none;
        pointer-events: all;
    }
    input[type=range]::-moz-range-thumb:hover {
        background-color: #DBDFD6;
    }
    input[type=range]::-moz-range-thumb:active {
        background-color: var(--primaryColor);
    }
    input[type=range]::-webkit-slider-thumb {
        position: relative;
        height: 12px;
        width: 12px;
        margin: 5px 0;
        border-radius: 50%;
        background-color: var(--whiteColor);
        border: 2px solid #DBDFD6;
        -webkit-appearance: none;
        appearance: none;
        pointer-events: all;
    }
    input[type=range]::-webkit-slider-thumb:hover {
        background-color: #DBDFD6;
    }
    input[type=range]::-webkit-slider-thumb:active {
        background-color: #504d9b;
    }
}
.filterPopupBox {
    left: 0;
    opacity: 0;
    z-index: 99;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 20px);
    padding: 25px 25px 35px;

    &.show {
        visibility: visible;
        opacity: 1;
    }
    .filter-header {
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(24,37,27,0.1);
    }
}
#filterModal {
    transition: .3s;
    right: auto;
    left: 0;
    
    .offcanvas-header {
        padding: 25px 25px;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.10);
        
        .close-btn {
            transition: var(--transition);
            font-size: 25px;
            cursor: pointer;
            top: 2px;

            &:hover {
                color: var(--primaryColor);
            }
        }
    }
    .offcanvas-body {
        padding: 0 25px 25px;

        .sidebar {
            padding: 0;
        }
    }
}
.offcanvas {
    &.offcanvas-end {
        transform: translateX(-100%);
    }
    &.showing, &.show:not(.hiding) {
        transform: none;
    }
}
.offcanvas-backdrop {
    &.fade {
        visibility: hidden;
        transition: .3s;

        &.show {
            visibility: visible;
        }
    }
}
.map-container {
    width: 100%;
    height: 250px;
    overflow: hidden;

    &.side-map {
        height: 100vh;
        position: sticky;
        top: 0;
    }
    &.top-map {
        height: 524px;
    }
    #main-full-map {
        width: 100%;
        height: 100%;
    }
}
.single-job-feature-wrap {
    &.style-two {
        .job-feature-item {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.job-feature-item {
    .feature-icon {
        width: 50px;
        height: 50px;
        margin-right: 13px;
    }
    .feature-info {
        top: -3.5px;
        position: relative;
        width: calc(100% - 63px);
        
        h6 {
            font-size: 14px;
            margin-top: 3px;
            line-height: 18px;
        }
    }
}
.comp-map {
    width: 100%;
    height: 200px;

    iframe {
        width: 100%;
        height: 100%;
    }
}

// Jobs
.featured-job-wrap {
    &.style-one {
        .section-shape-one {
            top: 140px;
            left: 12.2%;
        }
        .section-shape-two {
            top: 100px;
            right: 18%;
        }
    }
    &.style-one, &.style-two {
        &::after {
            top: 0;
            left: 50%;
            content: "";
            z-index: -1;
            position: absolute;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            transform: translateX(-50%);
        }
    }
    &.style-one {
        &::after {
            border-radius: 20px;
            background-color: var(--grayColor);
        }
    }
    &.style-two {
        &:after {
            border-radius: 4px;
            background-color: #F1F2F2;
        }
    }
}
.job-card-wrap {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}
.job-tablist {
    border: none;

    .nav-item {
        margin: {
            right: 10px;
            bottom: 10px;
        };
        &:last-child {
            margin-right: 0;
        }
        .nav-link {
            font-size: 14px;
            color: #23333F;
            line-height: 16px;
            border-radius: 4px;
            padding: 6px 8.5px;
            border: 1px solid transparent;
            transition: var(--transition);
            background-color: rgba(0, 0, 0, 0.1);

            &:hover, &.active {
                background-color: var(--whiteColor);
                border-color: #000000;
            }
        }
    }
    &.style-two {
        .nav-item {
            .nav-link {
                font-size: 16px;    
            }    
        }    
    }
}
.job-card {
    &.style-one, &.style-eight, &.style-nine, &.style-two {
        padding: 20px 20px;

        .job-title-wrap {
            .employer-logo {
                width: 108px;
                height: 108px;
                position: relative;
                border: 1px dashed #BFCAD2;
            }
            .job-title {
                width: calc(100% - 133px);
                margin-left: auto;

                .job-taglist {
                    li {
                        position: relative;
                        padding-right: 4px;
                        margin-right: 8px;

                        &::after {
                            position: absolute;
                            font-size: 18px;
                            bottom: 2px;
                            right: -1px;
                            content: ",";
                        }
                        &:last-child {
                            &::after {
                                display: none;
                            }
                        }
                        a {
                            color: var(--paraColorThree);

                            &:hover {
                                color: var(--primaryColor);
                            }     
                        }
                    }
                }
            }
        }
        .job-action{
            .add-to-bookmark{
                width: 54px;
                height: 54px;
                background-color: #ECF4EE;
                margin-left: 15px;
                &:hover{
                    background-color: var(--primaryColor);
                    img{
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
    &.style-one {
        .job-title-wrap {
            width: 34%;

            .job-title {
                h3 {
                    line-height: 30px;
                    font-size: 20px;
                    margin: 6px 0 0;
                }
            }
        }
        .job-metainfo-wrap {
            .job-metainfo {
                margin-bottom: 17px;
            }
        }
        &:hover {
            transform: translateY(-3px);
        }
    }
    &.style-two {
        .job-title-wrap {
            width: 62%;

            .job-title {
                a {
                    &:hover {
                        color: var(--secondaryColor);
                    }
                }
                h3 {
                    font-size: 18px;
                    margin: 5px 0 0;
                    line-height: 20px;
                }
            }
        }
        .job-metainfo-wrap {
            .job-desc-meta {
                margin-bottom: 5px;
            }
            .job-brief {
                li {
                    display: inline-block;
                    position: relative;
                    padding-right: 3px;
                    margin-right: 5px;

                    &:last-child {
                        margin-right: 0;
                        padding-right: 0;

                        &:after {
                            display: none;
                        }
                    }
                    &:after {
                        bottom: 2px;
                        right: -1px;
                        content: ",";
                        font-size: 18px;
                        position: absolute;
                    }
                }
            }
        }
        .job-action {
            top: 50%;
            opacity: 0;
            right: 20px;
            visibility: hidden;
            transform: translateY(-50%);
        }
        &:hover {
            .job-metainfo-wrap {
                visibility: hidden;
                opacity: 0;
            }
            .job-action {
                visibility: visible;
                opacity: 1;
            }
        }
    }   
    &.style-three, &.style-seven, &.style-five {
        padding: 20px 20px 30px;

        .job-img-wrap {
            &:after {
                left: 0;
                bottom: 0;
                z-index: 0;
                content: "";
                width: 100%;
                height: 80%;
                position: absolute;
                background: linear-gradient(180deg, rgba(2,0,36,0) 45%, rgba(24,37,27,0.98) 100%);
            }
            img {
                margin-left: 10px;
                transform: scale(1.05);
	            transition: .3s ease-in-out;
            }
            .employer-logo-wrap {
                bottom: 10px;
                left: 10px;
                z-index: 1;

                .employer-logo {
                    width: 52px;
                    height: 52px;
                    margin-right: 10px;

                    img {
                        max-width: 24px;
                        margin: 0;
                    }
                }
                span {
                    line-height: 14px;
                }
            }
        }
        .job-info {
            margin: 30px 0 0;

            h3 {
                font-family: var(--sharpMediumFont);
                margin: 11px 0 10px;
                line-height: 28px;
            }
            .job-action {
                margin-top: 15px;

                .add-to-bookmark {
                    width: 40px;
                    height: 40px;
                    background-color: transparent;
                    border: 1px solid rgba(141, 207, 155, 0.4);

                    &:hover {
                        background-color: var(--primaryColor);
                        border-color: transparent;

                        img {
                            filter: brightness(0) invert(1);
                        }
                    }
                }
            }
        }
        &:hover {
            .job-img-wrap {
                > img {
                    margin-left: 0;
                }
            }
        }
    } 
    &.style-four {
        padding: 13px 25px 13px 13px;
        background-color: #F3F4F4;

        .job-title-wrap {
            width: 55.5%;

            .employer-logo {
                width: 72px;
                height: 72px;
                position: relative;
                border: 1px dashed #BFCAD2;

                img {
                    max-width: 30px;
                }
            }
            .job-title {
                top: -2px;
                margin-left: auto;
                position: relative;
                width: calc(100% - 99px);

                a {
                    &:hover {
                        color: var(--secondaryColor);
                    }
                }
                h3 {
                    font-size: 20px;
                    margin: 3px 0 0;
                    line-height: 25px;
                }
                .job-taglist {
                    li {
                        a {
                            color: var(--paraColorThree);

                            &:hover {
                                color: var(--primaryColor);
                            }     
                        }
                    }
                }
            }
        }
        .job-metainfo-wrap {
            .job-desc-meta {
                margin-bottom: 1px;
            }
            .job-brief {
                li {
                    display: inline-block;
                }
            }
        }
        .job-action {
            margin-left: auto;

            .dropdown-toggle {
                height: 20px;

                &:after {
                    display: none;
                }
                img {
                    opacity: 0.6;
                    filter: grayscale(1);
                    transition: var(--transition);
                }
                &:hover {
                    img {
                        filter: grayscale(0);
                        opacity: 1;
                    }   
                }
            }
            .dropdown-menu {
                z-index: 99;
                border: none;
                max-width: 110px;
                padding: 15px 20px;
                border-radius: 10px;
                box-shadow: 0 30px 60px rgba(0,0,0,.1);

                li {
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                    a, button {
                        color: var(--paraColor);
                        font: {
                            size: 14px;
                            weight: 500;
                        };
                        &:hover {
                            color: #DF5858;
                        }
                    }
                }
            }
        }
    }
    &.style-five {
        background-color: #F4F1ED;
        padding: 20px 20px 30px;
    }
    &.style-six {
        border: 1px solid #DBE0E5;
        padding: 24px 22px 24px;

        .job-title {
            width: calc(100% - 40px);
            margin-right: auto;

            .employer-logo {
                width: 52px;
                height: 52px;

                img {
                    max-width: 24px;
                }
            }
            h3 {
                width: calc(100% - 72px);
                margin-left: auto;
                line-height: 28px;

                a {
                    color: var(--titleColor);

                    &:hover {
                        color: var(--primaryColor);
                    }
                }
            }
        }
        .job-author {
            margin: 15px 0 7px;

            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .job-desc-meta {
            margin-bottom: 17px;
        }
        .add-to-bookmark {
            width: 40px;
            height: 40px;
            background-color: transparent;
            border: 1px solid rgba(141, 207, 155, 0.4);
        }
        &:hover {
            background-color: #F6F8FA;
            border-color: var(--purpleColor);
            
            .job-title {
                .employer-logo {
                    background-color: var(--whiteColor)!important;
                }
            }
        }
    }
    &.style-seven {
        padding: 0;

        .job-img {
            border-radius: 10px;

            img {
                border-radius: 10px;
            }
        }
        .job-info {
            border-radius: 10px;
            padding: 0 20px 20px;
        }
    }
    &.style-eight {
        .job-title-wrap {
            width: 50%;

            .job-title {
                h3 {
                    margin: {
                        bottom: 0;
                        top: 5px;
                    };
                }
            }
        }
        .job-metainfo-wrap {
            width: 50%;
        }
    }
    &.style-nine {
        position: relative;

        .job-title-wrap {
            width: 50%;
            padding-left: 10px;

            .job-title {
                a {
                    &:hover {
                        color: var(--secondaryColor);
                    }
                }
                h3 {
                    font-size: 18px;
                    margin: 5px 0 0;
                    line-height: 28px;
                }
            }
        }
        .job-metainfo-wrap {
            width: 48%;
            transition: var(--transition);

            .job-desc-meta {
                margin-top: 10px;
            }
            .job-brief {
                li {
                    display: inline-block;
                    position: relative;
                    padding-right: 3px;
                    margin-right: 2px;

                    &:last-child {
                        margin-right: 0;
                        padding-right: 0;

                        &:after {
                            display: none;
                        }
                    }
                    &:after {
                        bottom: 2px;
                        right: -1px;
                        content: ",";
                        font-size: 18px;
                        position: absolute;
                    }
                }
            }
        }
        .job-action {
            top: 50%;
            opacity: 0;
            right: 20px;
            visibility: hidden;
            position: absolute;
            transform: translateY(-50%);
            transition: var(--transition);
        }
        &:hover {
            .job-metainfo-wrap {
                visibility: hidden;
                opacity: 0;
            }
            .job-action {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
.job-metainfo {
    li {
        display: inline-block;
        border-radius: 4px;
        margin-right: 10px;
        line-height: 16px;
        padding: 6px 9px;

        &:last-child {
            margin-right: 0;
        }
        &.bg-gin {
            background-color: #DFEDE2;
            color: #2D8B41;
        }
        &.bg-mystic {
            background-color: #EAEEF3;
            color: #3A6DAD;
        }
        &.bg-roman {
            background-color: #FBE6E6;
            color: #DF5858;
        }
        &.bg-violet {
            background-color: #EAE5FF;
            color: #6C47FF;
        }
    }
}
.job-desc-meta {
    li {
        display: inline-block;
        margin-right: 21px;
        position: relative;
        padding-left: 25px;

        &:last-child {
            margin-right: 0;
        }
        i, img {
            position: absolute;
            top: 4px;
            left: 0;
        }

    }
}
.tab-content {
    .tab-pane {
        display: block;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    // Sidebar
    .price-range-slider {
        .price {
            span {
                width: 65px;
                font-size: 13px;
                padding: 12px 10px 12px 20px;

                &:before {
                    left: 10px;
                }
            }
            select {
                padding: 6px 10px;
                width: calc(100% - 150px);
                background-position: calc(100% - 15px) 50%;
            }
        }
    }

    // Jobs
    .featured-job-wrap {
        &.style-one, &.style-two {
            &::after {
                width: 100%;
                border-radius: 10px;
            }
        }
    }
    .job-card {
        &.style-two, &.style-nine {
            .job-title-wrap {
                width: 100%;

                .employer-logo {
                    width: 80px;
                    height: 80px;
                    padding: 5px;
                }
                .job-title {
                    width: calc(100% - 100px);

                    h3 {
                        line-height: 26px;
                        font-size: 17px;
                        margin: 6px 0 0;
                    }
                }
            }
            .job-action {
               top: auto;
               opacity: 1;
               right: auto;
               visibility: visible;
               transform: translateY(0);
               position: relative !important;
            }
            .job-metainfo-wrap {
                width: 100%;
                margin: 20px 0 20px;
            }
            .job-action {
                .btn {
                    padding: 15px 28px;
                }
                .add-to-bookmark {
                    width: 48px;
                    height: 48px;
                }
            }
            &:hover {
                .job-metainfo-wrap {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }  
        &.style-three, &.style-seven, &.style-five {
            padding: 15px 15px 25px;
        }
        &.style-four {
            .job-title-wrap {
                width: 100%;

                .employer-logo {
                    width: 62px;
                    height: 62px;
                }
                .job-title {
                    width: calc(100% - 75px);
                    margin-left: auto;

                    h3 {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
            }
            .job-metainfo-wrap {
                width: calc(100% - 25px);
                margin: 15px 0 5px;
            }
            .db-action-btn {
                width: 25px;
            }
        }
        &.style-six {
            padding: 24px 20px 21px;

            .job-title {
                margin-right: 0;

                .employer-logo {
                    width: 45px;
                    height: 45px;
                }
                h3 {
                    width: calc(100% - 60px);
                    line-height: 25px;
                }
            }
            .job-metainfo {
                margin-bottom: 8px;
            }
            .add-to-bookmark {
                width: 40px;
                height: 40px;
                background-color: transparent;
                border: 1px solid rgba(141, 207, 155, 0.4);
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    // Jobs
    .job-card {
        &.style-eight {
            .job-title-wrap {
                h3 {
                    font-size: 18px !important;
                }
            }
        }
    }

}

/* Max width 991px */
@media only screen and (max-width: 991px) {

    // Jobs
    .job-card {
        &.style-one, &.style-eight, &.style-nine {
            .job-title-wrap {
                .employer-logo {
                    width: 80px;
                    height: 80px;
                    padding: 5px;
                }
                .job-title {
                    width: calc(100% - 100px);

                    h3 {
                        line-height: 26px;
                        font-size: 17px;
                        margin: 6px 0 0;
                    }
                }
            }
            .job-title-wrap, .job-action {
                width: 100%;
            }
            .job-metainfo-wrap {
                width: 100%;
                margin: 20px 0 20px;
            }
            .job-action {
                .btn {
                    padding: 15px 28px;
                }
                .add-to-bookmark {
                    width: 48px;
                    height: 48px;
                }
            }
        }    
    }

    // Sidebar
    .map-container {
        &.side-map {
            height: 700px;
        }
    }

}

/* Max width 1199px */
@media only screen and (max-width: 1199px) {

    // Sidebar
    .sidebar {
        margin-top: 50px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    // Jobs
    .job-card {
        &.style-one {
            .job-title-wrap {
                width: 35%;

                .employer-logo {
                    width: 90px;
                    height: 90px;
                }
                .job-title {
                    width: calc(100% - 110px);

                    h3 {
                        font-size: 18px;
                        line-height: 26px;
                    }
                }
            }
            .job-action {
                .btn {
                    padding: 16px 25px;
                }
                .add-to-bookmark {
                    width: 48px;
                    height: 48px;
                }
            }
        }    
    }

}

/* Min width 1400px */
@media only screen and (min-width: 1400px) {

    // Sidebar
    .sidebar {
        &.style-one {
            padding: 40px 30px 40px;
        }
    }

    // Jobs
    .job-card {
        &.style-one {
            padding: 20px 40px 20px 20px;

            .job-title-wrap {
                width: 31%;

                .job-title {
                    position: relative;
                    top: -3px;
                }
            }
            .job-metainfo-wrap {
                position: relative;
                left: 3px;
            }
        }
        &.style-two {
            padding: 20px 30px 20px 20px;

            .job-title-wrap {
                width: 60%;

                .job-title {
                    position: relative;
                    top: -3px;

                    h3 {
                        font-size: 20px;
                        line-height: 22px;
                    }
                }
            } 
            .job-metainfo-wrap {
                position: relative;
                top: -2px;
            }
        }
        &.style-six {
            padding: 24px 30px 24px;
        }
    }

}

/* Min width 1920px */
@media only screen and (min-width: 1920px) {

    // Jobs
    .featured-job-wrap {
        &.style-one, &.style-two {
            &::after {
                width: calc(100% - 200px);
            }
        }
    }

}