<div class="soln-wrap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="soln-img-wrap position-relative index-1 round-10 h-100">
                    <div class="client-box position-absolute d-flex flex-wrap align-items-center bg-white round-6 bounce">
                        <ul class="client-list list-unstyle">
                            <li><img src="img/clients/client-1.jpg" alt="Client Image"></li>
                            <li><img src="img/clients/client-2.jpg" alt="Client Image"></li>
                            <li><img src="img/clients/client-3.jpg" alt="Client Image"></li>
                            <li><img src="img/clients/client-4.jpg" alt="Client Image"></li>
                        </ul>
                        <p class="mb-0 fs-15 text-title">
                            <span>5K+</span> people found Perfect Candidates
                        </p>
                    </div>
                    <div class="review-box position-absolute bg-white round-6 moveHorizontal">
                        <div class="ratings d-flex align-items-center">
                            <span class="fs-18 fw-semibold text-title">4.9</span>
                            <ul class="list-unstyle">
                                <li><img src="img/icons/star.svg" alt="Star Icon"></li>
                                <li><img src="img/icons/star.svg" alt="Star Icon"></li>
                                <li><img src="img/icons/star.svg" alt="Star Icon"></li>
                                <li><img src="img/icons/star.svg" alt="Star Icon"></li>
                                <li><img src="img/icons/star.svg" alt="Star Icon"></li>
                            </ul>
                        </div>
                        <p class="mb-0 text-title">
                            Average Ratings
                        </p>
                    </div>
                    <img src="img/about/solution.png" alt="Quick Solution" class="round-10">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="soln-content round-10">
                    <div class="section-title style-three pe-xxl-5 mb-22">
                        <h2 class="mb-22">
                            Get A Quick Solution For Your Next Hiring
                        </h2>
                        <p class="mb-0">
                            A full suite of hybrid workforce management tools  to use, as well as access to hire top 1% of talent.
                        </p>
                    </div>
                    <div class="counter-card-wrap d-flex flex-wrap justify-content-md-between">
                        <div class="counter-card mb-30">
                            <h2 class="text_secondary">20K+</h2>
                            <p class="fs-13 fw-semibold mb-0">
                                JOB POST
                            </p>
                        </div>
                        <div class="counter-card mb-30">
                            <h2 class="text_secondary">51K+</h2>
                            <p class="fs-13 fw-semibold mb-0">
                                CANDIDATES
                            </p>
                        </div>
                        <div class="counter-card mb-30">
                            <h2 class="text_secondary">3.5K+</h2>
                            <p class="fs-13 fw-semibold mb-0">
                                REVIEWS
                            </p>
                        </div>
                    </div>
                    <a routerLink="/candidates-left-sidebar" class="btn style-four">Browse Candidates</a>
                </div>
            </div>
        </div>
    </div>
</div>