<h3 class="db-content-title fs-20 fw-bold mb-22">
    Job Details
</h3>
<form class="comment-form">
    <div class="row">
        <div class="col-12">
            <div class="form-group mb-20">
                <label class="text-dark" for="job_title">
                    Job Title
                </label>
                <input type="text" name="job_title" id="job_title" placeholder="Wordpress Developer" class="bg-gray border-0 w-100 round-4">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group mb-20">
                <label class="text-dark" for="job_desc">
                    Job Description
                </label>
                <textarea name="job_desc" id="job_desc" cols="30" rows="10" placeholder="Your message here"  class="bg-gray border-0 w-100 round-4"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="category">
                    Job Category
                </label>
                <select name="category" id="category" class="bg-gray border-0 w-100 round-4">
                    <option value="1">
                        IT
                    </option>
                    <option value="2">
                        Business
                    </option>
                    <option value="3">
                        Education
                    </option>
                    <option value="4">
                        Health
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="job_type">
                    Job Type
                </label>
                <select name="job_type" id="job_type" class="bg-gray border-0 w-100 round-4">
                    <option value="1">
                        Part Time
                    </option>
                    <option value="2">
                        Full Time
                    </option>
                    <option value="3">
                        Remote
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="job_salary">
                    Salary
                </label>
                <select name="job_salary" id="job_salary" class="bg-gray border-0 w-100 round-4">
                    <option value="1">
                        $1000 - $3000/month
                    </option>
                    <option value="2">
                        $3000 - $8000/month
                    </option>
                    <option value="3">
                        $5000 - $10000/month
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="form-group mb-20">
                <label class="text-dark" for="job_max_salary">
                    Min
                </label>
                <input type="text" name="job_max_salary" id="job_max_salary" placeholder="$15000 USD" class="bg-gray border-0 w-100 round-4">
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="form-group mb-20">
                <label class="text-dark" for="job_min_salary">
                    Max
                </label>
                <input type="text" name="job_min_salary" id="job_min_salary" placeholder="$5000 USD" class="bg-gray border-0 w-100 round-4">
            </div>
        </div>
    </div>
</form>
<h3 class="db-content-title fs-20 fw-bold mb-22">
    Location
</h3>
<form class="comment-form">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group mb-20">
                <label class="text-dark" for="address">
                    Address
                </label>
                <input type="text" name="address" id="address" placeholder="Location" class="bg-gray border-0 w-100 round-4">
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="country">
                    Country
                </label>
                <select name="country" id="country" class="bg-gray border-0 w-100 round-4">
                    <option value="1">
                        USA
                    </option>
                    <option value="2">
                        Canada
                    </option>
                    <option value="3">
                        UK
                    </option>
                    <option value="4">
                        Dubai
                    </option>
                </select>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="city">
                    City
                </label>
                <select name="city" id="city" class="bg-gray border-0 w-100 round-4">
                    <option value="1">
                        Florida
                    </option>
                    <option value="2">
                        New York
                    </option>
                    <option value="3">
                        Torento
                    </option>
                </select>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="zip">
                    ZIP Code
                </label>
                <input type="text" name="zip" id="zip" placeholder="152 334" class="bg-gray border-0 w-100 round-4">
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="state">
                    State
                </label>
                <select name="state" id="state" class="bg-gray border-0 w-100 round-4">
                    <option value="1">
                        California
                    </option>
                    <option value="2">
                        New York
                    </option>
                    <option value="3">
                        Florida
                    </option>
                </select>
            </div>
        </div>
    </div>
</form>
<div class="form-btn mb-25">
    <button class="btn style-four me-3">
        Save
    </button>
    <button class="btn style-three">
        Cancel
    </button>
</div>