<div
    class="container pb-70"
    [ngClass]="{'pb-0': router.url === '/index-3'}"
>
    <div class="app-box position-relative index-1 round-10 ptb-100">
        <img src="img/app/app-shape-2.png" alt="Shape" class="app-shape-two position-absolute bounce">
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="app-text">
                    <div class="section-title style-one">
                        <h2 class="text-white fw-medium">
                            Download Our <strong> Mobile App</strong> For Better <strong>Experience</strong>
                        </h2>
                        <img src="img/app/app-shape-1.png" alt="Shape" class="app-shape-one d-block moveHorizontal">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-4">
                <div class="app-img-wrap position-relative index-1">
                    <div class="app-img d-flex justify-content-between position-relative">
                        <img src="img/app/app-img-1.png" alt="App Image" class="app-img-one position-relative bounce">
                        <img src="img/app/app-img-2.png" alt="App Image" class="app-img-two position-relative bounce">
                    </div>
                    <img src="img/app/app-bg-shape.png" alt="App Image" class="app-bg-shape position-absolute">
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 mt-lg-auto ps-xxl-45 pe-xxl-0">
                <div class="app-btn-wrap">
                    <p class="text-white">
                        Take your job search on the go! Download the app today  and find your dream job anytime, anywhere. Available on iOS and Android.
                    </p>
                    <a href="https://www.apple.com/app-store/" target="_blank" class="btn apple-btn">
                        <img src="img/app/apple-btn.png" alt="Apple Play Store">
                    </a>
                    <a href="https://play.google.com/store/games?hl=en&pli=1" target="_blank" class="btn google-play">
                        <img src="img/app/google-play.png" alt="Google Playstore">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>