.table-container {
    overflow-x: auto;
}

.table-head {
    background-color: rgb(13, 99, 174) !important;
    color: white !important;
}

.table-filter-row {
    background-color: rgb(193, 219, 243);
}

.post-button {
    background-color: rgb(255, 113, 18);
    border-radius: 0.7rem;
    padding: 0.1rem 1rem;
    border: none;
    color: white;
    font-weight: 500;
    height: 44px;
}

.search-button {
    background-color: rgb(13, 99, 174);
    border-radius: 0.7rem;
    padding: 0.1rem 1rem;
    border: none;
    color: white;
    font-weight: 500;
    height: 44px;
}

.pills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pill {
    padding: 0px 7px;
    background-color: #a2ccb9;
    color: white;
    border-radius: 10px;
    font-size: 11px;
    cursor: pointer;
    width: 65px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.p-button-clear {
    background-color: rgb(13, 99, 174);
    color: whitesmoke;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 53px;
    width: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.p-button-clear:hover {
    background-color: rgb(255, 113, 18);
    cursor: pointer;
}

.p-button-clear:active {
    background-color: #d0d0d0;
}