.table-container {
    overflow-x: auto;
}

.table-head {
    background-color: rgb(13, 99, 174) !important;
    color: white !important;
}

.table-filter-row {
    background-color: rgb(193, 219, 243);
}

.post-button {
    background-color: rgb(255, 113, 18);
    border-radius: 0.7rem;
    padding: 0.1rem 1rem;
    border: none;
    color: white;
    font-weight: 500;
}

.search-button {
    background-color: rgb(13, 99, 174);
    border-radius: 0.7rem;
    padding: 0.1rem 1rem;
    border: none;
    color: white;
    font-weight: 500;
}