.feature-list {
    li {
        padding-left: 30px;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
        i, img {
            position: absolute;
            top: 5px;
            left: 0;
        }
    }
    &.style-two {
        li {
            display: inline-block;
            background-color: #F2F1F1;
            padding: 10px 20px 10px 50px;
            margin: {
                right: 10px;
                bottom: 20px;
            };
            i, img {
                position: absolute;
                left: 20px;
                top: 15px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.terms-wrap {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 24px;
        line-height: 1.24;
    }
    h1 {
        font-size: 34px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 26px;
    }
    h5 {
        font-size: 24px;
    }
    h6 {
        font-size: 22px;
    }
    p {
        margin-bottom: 18px;

        strong, b {
            color: var(--titleColor);
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    ol {
        margin: {
            top: 20px;
            bottom: 30px;
        };
        li {
            color: var(--paraColor);
            margin-bottom: 15px;
            padding-left: 3px;
        }
    }
    .single-img {
        margin-bottom: 30px;
        position: relative;
        display: block;
    }
    .single-para {
        margin-bottom: 45px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .terms-wrap {
        h1, h2, h3, h4, h5, h6{
            margin-bottom: 20px;
        }
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 28px;
        }
        h3 {
            font-size: 26px;
        }
        h4 {
            font-size: 24px;
        }
        h5 {
            font-size: 22px;
        }
        h6 {
            font-size: 20px;
        }
        p {
            margin-bottom: 15px;
        }
        .single-para {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}