<app-top-header />

<app-navbar />

<app-page-banner />

<!-- Privacy Policy -->
<div class="terms-wrap ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="single-para">
                    <h3>Information Collection</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime nulla minus quasi. Voluptatem, <a routerLink="/">company name</a> saepe ullam autem magni quod sint tempore, eius molestias aliquam debitis. Neque saepe dignissimos repudiandae fuga.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil eveniet quas dignissimos <strong>activities</strong> ea pariatur corrupti rerum deserunt, ipsum, ipsa eos veniam aspernatur fuga, optio soluta? Libero neque reiciendis cupiditate dolores nam. Earum eius similique sapiente. Iure, sit non. At fuga ipsam veniam.
                    </p>
                </div>
                <div class="single-para">
                    <h3>
                        How We Use Cookies
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil eveniet quas dignissimos doloribus ea pariatur corrupti rerum deserunt, ipsum, ipsa eos veniam aspernatur fuga, optio soluta? Libero neque reiciendis cupiditate dolores nam. Earum eius similique sapiente. Iure, sit non. At fuga ipsam veniam.
                    </p>
                    <ul class="feature-list list-unstyle">
                        <li class="position-relative">
                            <img src="img/icons/check.svg" alt="Icon" class="position-absolute start-0">
                            Lorem ipsum dolor, sit amet.
                        </li>
                        <li class="position-relative">
                            <img src="img/icons/check.svg" alt="Icon" class="position-absolute start-0">
                            Amet consectetur adipisicing elit. Officia, odit!
                        </li>
                        <li class="position-relative">
                            <img src="img/icons/check.svg" alt="Icon" class="position-absolute start-0">
                            Aquaerat ipsa quis possimus.
                        </li>
                        <li class="position-relative">
                            <img src="img/icons/check.svg" alt="Icon" class="position-absolute start-0">
                            Consectetur adipisicing elit. Voluptatibus, dignissimos.
                        </li>
                        <li class="position-relative">
                            <img src="img/icons/check.svg" alt="Icon" class="position-absolute start-0">
                            Highly professional administration.
                        </li>
                    </ul>
                </div>
                <div class="single-para">
                    <h3>
                        The Collection, Process, and Use of Personal Data
                    </h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime nulla minus quasi. Voluptatem, facilis saepe ullam autem magni quod sint tempore, eius molestias aliquam debitis. Neque saepe dignissimos repudiandae fuga.
                    </p>
                </div>
                <div class="single-para">
                    <h3>
                        Data Protection
                    </h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime nulla minus quasi. Voluptatem, company name saepe ullam autem magni quod sint tempore, eius molestias aliquam debitis. Neque saepe dignissimos repudiandae fuga.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil eveniet quas dignissimos <strong>aspernatur</strong> ea pariatur corrupti rerum deserunt, ipsum, ipsa eos veniam aspernatur fuga, optio soluta? Libero neque reiciendis cupiditate dolores nam. Earum eius similique sapiente. Iure, sit non. At fuga ipsam veniam.
                    </p>
                </div>
                <div class="single-para">
                    <h3>
                        The Collection, Process and Use of Personal Data
                    </h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, quod. Ratione ex delectus quis tenetur odio non alias numquam official ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, laborum.
                    </p>
                    <ol>
                        <li>
                            Mauris ut in vestibulum hasellus ultrices fusce nibh justo, venenatis, amet. Lectus quam in lobortis.
                        </li>
                        <li>
                            Consectetur phasellus <strong>ultrices</strong> fusce nibh justo, venenatis, amet. Lectus quam in lobortis justo venenatis amet.
                        </li>
                        <li>
                            Lectus quam there are two thing is very important in Consectetur phasellus ultrices fusce nibh justo, venenatis, amet in lobortis.
                        </li>
                        <li>
                            Web Development very creative to do something , mauris ut in vestibulum.
                        </li>
                    </ol>
                </div>
                <div class="single-para">
                    <h3>
                        Our Policy For Age Under 18
                    </h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime nulla minus quasi. Voluptatem, facilis saepe ullam autem magni quod sint tempore, eius molestias aliquam debitis. Neque saepe dignissimos repudiandae fuga.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Privacy Policy -->

<app-footer />

<app-back-to-top />