<div class="page-failure">
    <div class="background">
        <div class="container cont d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="modalbox success col-sm-8 col-md-6 col-lg-6 center animate">
                    <div class="icon">
                        <i class="pi pi-check" style="color: #fff; font-size: 3rem; text-align: center; padding-top: 28px; font-weight: 900;"></i>
                    </div>
                    <!--/.icon-->
                    <h1 style="color: green;" id="success_payment_title mt-3">Your payment is successful!</h1>
                    <p> <span id="success_payment_info"> Membership will be activated soon. </span>
                        <br> <span id="redirect_warning">
                            Your will be redirected to
                        </span>
                        <a (click)="goToBase()" style="cursor: pointer; color: var(--blue-500);" id="url">
                            https://employer-uat.cvmine.com
                        </a> <span id="in">in </span>
                        <span id="timer">{{countdown}}</span>s
                    </p>
                    <a href="https://employer-uat.cvmine.com/"><button type="button" class="redo btn" onclick="goToBase()" id="ok">Ok</button></a>
                    
                </div>
                <!--/.success-->
            </div>
        </div>
    </div>
</div>