<div class=" container  d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="row px-5">
        <div class="col-md-12 text-center">
            <i class="pi pi-ban mb-4 linear" style="font-size: 5rem; color: red;"></i>
        </div>
        <div class="col-md-12 text-center">
            <!-- <h4 class="mb-4" style="color: green;">Congratulations !!!</h4> -->
            <h1 style="">Registration Failed !!</h1>
            <p-button label="Try Again" (click)="registartion()" icon="pi pi-spin pi-replay" />
        </div>
    </div>
</div>