<div class="breadcrumb-wrap style-one position-relative index-1">
    <img src="img/breadcrumb/br-shape-left.png" alt="Breadcrumb Shape" class="br-shape-left position-absolute">
    <img src="img/breadcrumb/br-shape-right.png" alt="Breadcrumb Shape" class="br-shape-right position-absolute">
    <div class="container">
        <div class="br-content text-center">
            <h2 class="text-white">
                Job Details
            </h2>
            <ul class="br-menu list-unstyle">
                <li><a routerLink="/">
                    HOME
                </a></li>
                <li><a routerLink="/jobs-grid">
                    JOBS
                </a></li>
                <li>
                    JOB DETAILS
                </li>
            </ul>
        </div>
    </div>
</div>