<!-- Navbar -->
<div class="navbar-area style-one position-relative"
    [ngClass]="{'sticky': isSticky, 'style-two': router.url === '/index-2' || router.url === '/index-3'}">
    <nav class="navbar navbar-expand-lg bg_dark d-flex justify-content-between align-items-center">
        <div class="container nav-container">
            <div class="w-full d-flex justify-content-between align-items-center" style="width: 100%;" >
                <a routerLink="/" class="navbar-brand">
                    <img src="img/logo-cvmine.png" alt="Logo"[width]="100">
                </a>
                <!-- <button *ngIf="!isLoggedIn" routerLink="/employer">employer</button> -->
                <!-- <p-button *ngIf="!isLoggedIn" label="Employer" routerLink="/employer" severity="warning" /> -->
                <!-- <div class="employer_btn mr-4" routerLink="/employer">
                    Employer
                </div> -->
            </div>
            <div class="other-options d-flex align-items-center justify-content-end d-lg-none">
                <!-- <div *ngIf="isLoggedIn" class="option-item"
                    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3'}">
                    <div class="notif-option position-relative">
                        <button type="button" (click)="notificationsDropdownToggleClass()"
                            class="dropdown-toggle d-flex align-items-center position-relative bg-transparent border-0 transition">
                            <img src="img/icons/bell-white.svg" alt="Bell Icon" class="notif-btn">
                            <span class="d-flex flex-column align-items-center justify-content-center rounded-circle text-white position-absolute">
                                1
                            </span>
                        </button>
                        <div class="dropdown-menu top-1 border-0"
                            [class.active]="notificationsDropdownClassApplied">
                            <h3 class="fs-20 fw-semibold mb-15">Notifications</h3>
                            <ul class="list-unstyle">
                                <li class="position-relative unread">
                                    <p class="fs-15 fw-semibold font_secondary text-title">
                                        You have <span>3</span> new messages
                                    </p>
                                    <span class="fs-14 text-paraTwo d-block">
                                        2 hours ago
                                    </span>
                                </li>
                                <li class="position-relative read">
                                    <p class="fs-15 fw-semibold font_secondary text-title">
                                        You have <span>4</span> new messages
                                    </p>
                                    <span class="fs-14 text-paraTwo d-block">
                                        3 hours ago
                                    </span>
                                </li>
                                <li class="position-relative read">
                                    <p class="fs-15 fw-semibold font_secondary text-title">
                                        You have <span>3</span> new messages
                                    </p>
                                    <span class="fs-14 text-paraTwo d-block">
                                        1 day ago
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <div class="option-item">
                    <button
                        class="navbar-toggler"
                        (click)="toggleClass()"
                        type="button"
                    >
                        <span class="burger-menu">
                            <span class="top-bar"></span>
                            <span class="middle-bar"></span>
                            <span class="bottom-bar"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse">
                <ul *ngIf="isLoggedIn" class="navbar-nav"
                    [ngClass]="{'ms-auto': router.url === '/index-2'}">
                    <!-- <li class="nav-item">
                        <a routerLink="/dashboard" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Home
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <div class="employer_btn mt-3" routerLink="/employer">
                            Employer
                        </div>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/job-listings" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Jobs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/job-applicants" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Applicants
                        </a>
                    </li>
                </ul>
                <!-- <div *ngIf="isLoggedIn" class="other-options d-flex align-items-center justify-content-end"
                    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3'}">
                    <div class="notif-option position-relative">
                        <button class="dropdown-toggle d-flex align-items-center position-relative bg-transparent border-0 transition"
                            type="button" (click)="notificationsDropdownToggleClass()">
                            <img src="img/icons/bell-white.svg" alt="Bell Icon" class="notif-btn">
                            <span class="d-flex flex-column align-items-center justify-content-center rounded-circle text-white position-absolute">
                                1
                            </span>
                        </button>
                        <div class="dropdown-menu top-1 border-0"
                            [class.active]="notificationsDropdownClassApplied">
                            <h3 class="fs-20 fw-semibold mb-15">
                                Notifications
                            </h3>
                            <ul class="list-unstyle">
                                <li class="position-relative unread">
                                    <p class="fs-15 fw-semibold font_secondary text-title">
                                        No notifications!
                                    </p>
                                    <span class="fs-14 text-paraTwo d-block">
                                        2 hours ago
                                    </span>
                                </li>
                                <li class="position-relative read">
                                    <p class="fs-15 fw-semibold font_secondary text-title">
                                        You have <span>4</span> new messages
                                    </p>
                                    <span class="fs-14 text-paraTwo d-block">
                                        3 hours ago
                                    </span>
                                </li>
                                <li class="position-relative read">
                                    <p class="fs-15 fw-semibold font_secondary text-title">
                                        You have <span>3</span> new messages
                                    </p>
                                    <span class="fs-14 text-paraTwo d-block">
                                        1 day ago
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <div *ngIf="!isLoggedIn" class="auth-buttons my-2 ms-auto">
                    <a *ngIf="router.url === '/employer'" routerLink="/login" class="link style-four fw-medium mx-2">
                        Login
                    </a>
                    <!-- <a *ngIf="router.url === '/login'" routerLink="/register" class="btn style-four mx-2">
                        Register
                    </a> -->
                </div>
                <div *ngIf="isLoggedIn" class="user-icon position-relative ms-3 float-end">
                    <button type="button" class="icon-btn bg-transparent border-0 d-flex align-items-center text-white" (click)="toggleUserDropdown()">
                        <i class="fa-solid fa-circle-user fs-4"></i>
                        <span class="ms-2">{{ userName }}</span>
                    </button>
                    <div class="dropdown-menu top-100 mt-2 p-2 shadow-sm text-white rounded" 
                        [class.show]="userDropdownOpen">
                        <button class="dropdown-item bg-transparent border-0 text-white" (click)="logout()">
                            <i class="fa-solid fa-right-from-bracket me-2"></i>Logout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<!-- Responsive Navbar -->
<div class="responsive-navbar offcanvas offcanvas-end border-0 transition" [class.show]="classApplied">
    <div class="offcanvas-header">
        <a routerLink="/" class="logo d-inline-block">
            <img src="img/logo-white.svg" alt="Logo" class="logo">
        </a>
        <button type="button"
            (click)="toggleClass()"
            class="close-btn bg-transparent transition position-relative lh-1 p-0 border-0">
            <i class="ri-close-line"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <div *ngIf="isLoggedIn" class="accordion">
            <!-- <div class="accordion-item rounded-0 border-0">
                <button
                    type="button"
                    routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    class="accordion-button d-block text-start shadow-none fw-semibold border-0 transition border-radius"
                >
                    Home
                </button>
            </div> -->
            <div class="accordion-item rounded-0 border-0">
                <button type="button"
                    routerLink="/job-listings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    class="accordion-button d-block text-start shadow-none fw-semibold border-0 transition border-radius">
                    Jobs
                </button>
            </div>
            <div class="accordion-item rounded-0 border-0">
                <button type="button"
                    routerLink="/job-applicants" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    class="accordion-button d-block text-start shadow-none fw-semibold border-0 transition border-radius">
                    Applicants
                </button>
            </div>
            <div class="accordion-item rounded-0 border-0">
                <button type="button"
                    routerLink="/job-applicants" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    class="employer_btn my-3">
                    Employer
                </button>
            </div>
        </div>
        <div *ngIf="!isLoggedIn" class="other-options d-flex align-items-center"
            [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3'}">
            <a routerLink="/login" class="link style-four fw-medium">
                Login
            </a>
            <a routerLink="/employer" class="btn style-four">
                Employer
            </a>
        </div>
        <div *ngIf="isLoggedIn" class="user-icon position-relative my-3">
            <button type="button" class="icon-btn bg-transparent border-0 d-flex align-items-center text-white" (click)="toggleUserDropdown()">
                <i class="fa-solid fa-circle-user fs-4"></i>
                <span class="ms-2">{{ userName }}</span>
            </button>
            <div class="dropdown-menu-small top-100 mt-2 p-2 shadow-sm text-white rounded" 
                [class.show]="userDropdownOpen">
                <button class="dropdown-item bg-transparent border-0 text-white" (click)="logout()">
                    <i class="fa-solid fa-right-from-bracket me-2"></i>Logout
                </button>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas-backdrop fade" [class.show]="classApplied"></div>