@import "../../common/blog/blog.component.scss";

.blog-desc {
    p {
        margin-bottom: 18px;

        strong, b {
            color: var(--titleColor);
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 24px;
        line-height: 1.24;
    }
    h1 {
        font-size: 34px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 26px;
    }
    h5 {
        font-size: 24px;
    }
    h6 {
        font-size: 22px;
    }
    ol {
        margin: {
            top: 20px;
            bottom: 30px;
        };
        li {
            color: var(--paraColor);
            margin-bottom: 15px;
            padding-left: 3px;
        }
    }
    .single-img {
        margin-bottom: 30px;
        position: relative;
        display: block;
    }
    .single-para {
        margin-bottom: 45px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .blog-taglist {
        margin-bottom: 12px;

        li {
            display: inline-block;
            margin-right: 6px;

            &:last-child {
                margin-right: 0;
            }
            a {
                padding: 5px 9px;
                color: var(--titleColor);
                background-color: var(--neonGreenColor);

                &:hover {
                    background-color: var(--secondaryColor);
                    color: var(--whiteColor);
                }
            }
        }
    }
    .content-feature-list {
        &.style-one{
            li {
                margin-bottom: 22px;
                padding-left: 33px;

                &:last-child {
                    margin-bottom: 0;
                }
                i {
                    font-size: 22px;
                    line-height: 0.8;
                }
                i, img {
                    position: absolute;
                    top: 1.5px;
                    left: 0;
                }
                img {
                    max-width: 16px;
                }
                h6 {
                    font-size: 16px;
                    margin-bottom: 13px;
                }
            }
        }
        &.style-two {
            li {
                margin-bottom: 22px;
                padding-left: 29px;

                &:before {
                    left: 0;
                    top: 6px;
                    width: 8px;
                    height: 8px;
                    content: "";
                    border-radius: 50%;
                    position: absolute;
                    background-color: var(--purpleColor);    
                }
                &:last-child {
                    margin-bottom: 0;
                }
                h6 {
                    font-size: 16px;
                    margin-bottom: 13px;
                }
            }
        }
    }
    .blog-metainfo {
        margin-bottom: 38px;

        li {
            display: inline-block;
            position: relative;
            padding-left: 25px;
            margin: {
                right: 30px;
                bottom: 6px;
            };
            &:last-child {
                margin-right: 0;
            }
            img {
                top: 4px;
                left: 0;
            }
            &.blog-author {
                padding-left: 0;
                margin-right: 36px;

                .author-img {
                    height: 30px;
                    width: 30px;
                    top: auto;
                }
            }
        }
       
    }
}
.wp-blockquote {
    margin: 0 0 40px;
    padding: 30px 40px 50px;
    background-color: #F1F2F8;
    border-bottom: 2px solid var(--purpleColor);

    img {
        margin-bottom: 12px;
    }
    p {
        font-size: 20px;
        margin-bottom: 20px;
    }
    h6 {
        color: var(--purpleColor);
        padding-left: 40px;
        position: relative;
        margin-bottom: 0;
        font-size: 14px;

        &:before{
            top: 8px;
            left: 0;
            content: "";
            width: 30px;
            height: 1px;
            position: absolute;
            background-color: rgba(28, 46, 61, 0.2);
        }
    }
}
.post-metaoption {
    &.style-one {
        padding: 13px 0;
        border: {
            top: 1px solid rgba(24, 37, 27, 0.1);
            bottom: 1px solid rgba(24, 37, 27, 0.1);
        };
    }
    h6 {
        width: 50%;
        margin-bottom: 0;
    }
    .post-share {
        width: 50%;
    }
}
.post-pagination {
    .prev-post, .next-post {
        width: 48%;

        span {
            display: block;
            margin-bottom: 18px;

            img {
                position: relative;
                top: -1px;
            }
        }
        i {
            color: var(--greenColor);
            line-height: 0.8;
            font: {
                size: 22px;
                weight: 300;
            };
        }
    }
    .prev-post {
        span {
            img {
                margin-right: 7px;    
            }
        }
    }
    .next-post {
        span {
            img {
                margin-left: 7px;    
            }
        }
        .pp-post-item {
            .pp-post-info {
                margin: {
                    left: 0;
                    right: 18px;
                };
            }
        }
    }
}
.comment-item-wrap {
    .comment-item  {
        position: relative;
        padding: {
            bottom: 25px;
            top: 15px;
        };
        &:after {
            top: 0;
            left: 22px;
            width: 1px;
            content: "";
            height: 100%;
            position: absolute;
            background-color: rgba(24, 32, 27, 0.1);
        }
        &.reply {
            margin-left: 64px;

            &:after {
                display: none;
            }
        }
        &:last-child {
            padding-bottom: 0;
        }
        .comment-author {
            .comment-author-img {
                top: -11px;
                width: 46px;
                height: 46px;
                position: relative;
            }
            .comment-author-info {
                width: calc(100% - 66px);
                margin-left: 20px;

                h5 {
                    line-height: 20px;
                    margin-bottom: 17px;
                }
            }
        }
    }
}
.comment-form {
    .form-group {
        position: relative;

        label {
            display: block;
            margin-bottom: 11px;
        }
        input, select, textarea {
            width: 100%;
            color: var(--blackColor);
            padding: 14px 20px 14px 25px;

            &::placeholder {
                color: #858F97;
                opacity: 1;
            }
        }
        input, select {
            height: 70px;
        }
        &.style-two {
            input {
                color: var(--titleColor);

                &::placeholder {
                    color: var(--titleColor);
                }
            }
            .pwd_open {
                top: 65px;
                right: 20px;
                cursor: pointer;
                color: var(--titleColor);
            }
        }
        textarea {
            resize: none;
            height: 160px;
            padding-top: 20px;
        }
    }
    .rating {
        li {
            i {
                font-size: 20px;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .blog-desc {
        p {
            margin-bottom: 15px;
        }
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 20px;
        }
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 28px;
        }
        h3 {
            font-size: 26px;
        }
        h4 {
            font-size: 24px;
        }
        h5 {
            font-size: 22px;
        }
        h6 {
            font-size: 20px;
        }
        .single-para {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        .blog-metainfo {
            margin-bottom: 30px;

            li {
                display: inline-block;
                position: relative;
                padding-left: 20px;
                margin-right: 21px;

                &:last-child {
                    margin-right: 0;
                }
                img {
                    top: 2px;
                }
            }
        }
    }
    .wp-blockquote {
        padding: 20px 25px 30px;
        margin: 0 0 30px;

        p {
            font-size: 18px;
        }
        h6 {
            font-size: 16px;
        }
    }
    .post-pagination {
        .prev-post, .next-post {
            width: 100%;
        }
    }
    .comment-item-wrap{
        .comment-item {
            &.reply {
                margin-left: 30px;
            }
        }
    }
    .comment-form {
        .form-group {
            input, select {
                height: 56px;
                padding: 12px 16px;
            }
            textarea {
                padding-top: 15px;
            }
        }
    }

}

/* Min width 1400px */
// @media only screen and (min-width: 1400px) {

//     .content-left, .content-right {
//         max-width: 806px;
//     }

// }



.applicant-banner {
    margin: 3rem auto;
    max-width: 900px;
    position: relative;
}

.job-name-header {
    position: absolute;
    top: -4rem;
    right: 0;
    background-color: #77b1ad;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.applicant-card {
    padding: 2rem;
    border-radius: 1rem;
    background: linear-gradient(135deg, #f9f9f9, #e4ecfa);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: flex;
    justify-content: flex-end;
}

.status-tag {
    font-size: 1rem;
    padding: 0.75rem 1rem;
    font-weight: bold;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.left-section {
    flex: 0 0 35%;
    text-align: center;
}

.applicant-avatar {
    margin-bottom: 1rem;
    width: 100px;
    height: 100px;
    font-size: 2rem;
    background-color: #0066cc;
    color: #fff;
}

.applicant-name {
    margin: 1rem 0;
    font-size: 1.75rem;
    font-weight: bold;
    color: #333;
}

.right-section {
    flex: 1;
    padding-left: 1rem;
}

.details-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
    font-size: 1rem;
    color: #444;
}

.copy-icon {
    cursor: pointer;
    color: #007bff;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.copy-icon:hover {
    color: #0056b3;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
}

.job-details {
    flex: 1;
    color: #333;
}

.skills-container {
    flex: 1;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.skill-chip {
    background-color: #e0f7fa;
    color: #00796b;
    font-weight: bold;
}


.note-entry {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
}

.note-footer {
    text-align: right;
    font-size: 12px;
    color: #777;
}

.note-card {
    margin-bottom: 10px;
}


.question-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question-text, .expected-answer, .response, .assessment-score {
    margin-bottom: 8px;
}

.question-text p, .expected-answer p, .response p, .assessment-score p {
    margin: 0;
}

.assessment-score {
    text-align: right;
    font-weight: bold;
    color: #4CAF50;
}

p-accordionTab .p-accordion-header {
    background-color: #f1f1f1;
    font-size: 16px;
    font-weight: 600;
}

p-accordionTab .p-accordion-header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.question-details {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
}
