<div class="db-sidebar transition">
    <div class="db-user-option d-flex align-items-center">
        <img src="img/dashbboard/user.png" alt="User Avatar" class="user-img">
        <span class="fs-18 fw-bold">Patric Watson</span>
    </div>
    <ul class="db-menu list-unstyle">
        <li>
            <a routerLink="/candidates-dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-dashboard-line"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/my-profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-user-line"></i>
                My Profile
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/applied-job" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-briefcase-line"></i>
                Applied Job
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/job-alerts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-survey-line"></i>
                Job Alerts
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/shortlist-jobs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-edit-box-line"></i>
                Shortlist Jobs
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/account-settings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-settings-2-line"></i>
                Account Settings
            </a>
        </li>
        <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-delete-bin-6-line"></i>
                Delete Profile
            </a>
        </li>
        <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-logout-box-line"></i>
                Logout
            </a>
        </li>
    </ul>
</div>