

/* Max width 575px */
@media only screen and (max-width: 575px) {}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Max width 767px */
@media only screen and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Max width 991px */
@media only screen and (max-width: 991px) {}

/* Min width 992px */
@media only screen and (min-width: 992px) {}

/* Max width 1199px */
@media only screen and (max-width: 1199px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px */
@media only screen and (min-width: 1200px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1400px */
@media only screen and (min-width: 1400px) {}

/* Min width 1400px to Max width 1599px */
@media only screen and (min-width: 1400px) and (max-width: 1599px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}

/* Min width 1920px */
@media only screen and (min-width: 1920px) {}

/* Flex container for full layout */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    margin: 0;
  }
  
  /* Navbar styling */
  app-navbar {
    height: 62px;
    flex-shrink: 0; /* Prevent shrinking */
  }
  
  /* Main content container */
  .router-container {
    flex-grow: 1; /* Expand to take available space */
    display: flex;
    flex-direction: column;
    overflow: auto; /* Allows scrolling if content overflows */
  }
  
  /* Footer styling */
  app-footer {
    height: 62px;
    flex-shrink: 0; /* Prevent shrinking */
  }
  
