<div class="browse-candidate">
    <div class="container pb-100">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="browse-img-wrap position-relative index-1">
                    <img src="img/candidates/candidate-img-1.png" alt="Candidate" class="d-block mx-auto bounce">
                    <img src="img/candidates/shape-1.png" alt="Candidate" class="candidate-shape position-absolute">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-title style-two">
                    <h2>
                        Find The Best Talent From <strong>50,000+ Candidates</strong>
                    </h2>
                    <p class="mb-25">
                        We understand the importance of finding the right job. That's why we've  created a platform where job seekers can explore a wide range of  opportunities tailored to their skills.
                    </p>
                    <a routerLink="/candidates-left-sidebar" class="btn style-six">
                        Browse Candidates Now
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>