<div class="container my-3">
    <p-toast />
    <div class="row align-items-center mb-10">
        <div class="col-12 table-container">
            <p-table #dt2 [value]="applicantsList" dataKey="id" styleClass="p-datatable-striped"
                [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
                [paginator]="true"
                [globalFilterFields]="['applicant_name', 'location', 'status']"
                [tableStyle]="{ 'min-width': '75rem' }" >
                <ng-template pTemplate="caption">
                    <div class="row d-flex justify-content-between">
                        <div class="col-8 col-lg-5">
                            <p-iconField iconPosition="right" class="ml-auto">
                                <p-inputIcon>
                                    <i class="pi pi-search"></i>
                                </p-inputIcon>
                                <input 
                                    pInputText 
                                    type="text" 
                                    (input)="onGlobalFilter($event)" 
                                    placeholder="Search keyword" />
                            </p-iconField>
                        </div>
                        <!-- <div class="col-4 text-end">
                            <p-button class="post-btn" label="Post a Job" [rounded]="true" severity="warning" routerLink="/job/add"/>
                        </div> -->
                    </div>
                </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="table-head" style="width: 4rem"><p-tableHeaderCheckbox /></th>
                    <th class="table-head" pSortableColumn="applicant_name" style="min-width: 200px!important">
                        Applicant <p-sortIcon field="code" />
                    </th>
                    <th class="table-head" style="width:15%">Applied on</th>
                    <th class="table-head" style="width:10%">Experience</th>
                    <th class="table-head" style="min-width: 200px!important">Skills</th>
                    <th class="table-head" style="width:15%">Location</th>
                    <th class="table-head text-center" style="width:18%">Status</th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <p-columnFilter 
                            type="text"
                            field="applicant_name" 
                            placeholder="Search by Applicant" 
                            ariaLabel="Filter Applicant" />
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                        <p-columnFilter 
                            type="text"
                            field="location" 
                            placeholder="Search by Location" 
                            ariaLabel="Filter Location" />
                    </th>
                    <th class="text-center">
                        <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown 
                                    [ngModel]="value" 
                                    [options]="applicationStatus"
                                    (onChange)="filter($event.value)" 
                                    placeholder="Find by Status" 
                                    [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <p-tag 
                                                [value]="option.label" 
                                                [severity]="getSeverity(option.label)" />
                                        </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-applicant>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="applicant" />
                    </td>
                    <td class="p-1">
                        <div class="row">
                            <span><b>
                                <a [routerLink]="['']">
                                    <div class="row">
                                        <div style="font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="col-12" pTooltip="{{applicant.applicant_name}}" tooltipPosition="top" [autoHide]="false">
                                            {{applicant.applicant_name}}
                                        </div>
                                    </div>
                                </a>
                            </b></span>
                        </div>
                        <div class="row mb-1">
                            <span class="fs-13">
                                <i class="fa-solid fa-at pe-2" style="color: gray"></i>
                                {{applicant.applicant_email}}
                            </span>
                        </div>
                        <div class="row my-1">
                            <span class="fs-13">
                                <i class="fa-solid fa-phone pe-2" style="color: gray"></i>
                                {{applicant.applicant_phone}}
                            </span>
                        </div>
                    </td>
                    <td class="p-1">
                        {{formatAppliedDate(applicant.application_date)}}
                    </td>
                    <td class="p-1">
                        {{applicant.experience_in_years}}
                    </td>
                    <td class="p-1">
                        <ng-container *ngFor="let skill of applicant.skills">
                            <span  style="display: inline-block; 
                                padding: 4px 8px; 
                                margin: 2px; 
                                background-color: #e0f7fa; 
                                color: #006064; 
                                border-radius: 12px; 
                                font-size: 12px;">
                                {{ skill }}
                            </span>
                        </ng-container>
                    </td>
                    
                    <td class="p-1">
                        {{applicant.location}}
                    </td>
                    <td class="p-1 text-center">
                        <p-dropdown [options]="applicationStatus"
                            [(ngModel)]="applicant.status" 
                            optionLabel="label"
                            optionValue="statusCode"
                            placeholder="Select Status"
                            (onChange)="onStatusChange(applicant)">
                            <ng-template let-option pTemplate="item">
                                <p-tag 
                                    [value]="option.label" 
                                    [severity]="getSeverity(option.label)" />
                            </ng-template>
                        </p-dropdown>
                    </td>
                    <!-- <td class="p-1 text-center">
                        <p-button [rounded]="true" [text]="true" [raised]="true" class="p-2" [routerLink]="['/job/edit', job.job_code]">
                            <i class="fa-solid fa-lg fa-pen-to-square"></i>
                        </p-button>
                    </td> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="9" class="text-center">No applicants found.</td>
                </tr>
            </ng-template>
            </p-table>
        </div> 
    </div>
</div>
