<div class="hero-wrap style-two position-relative index-1 overflow-hidden">
    <img src="img/hero/hero-shape-11.png" alt="Shape" class="hero-shape-one md-none moveContent">
    <img src="img/hero/hero-shape-12.png" alt="Shape" class="hero-shape-two md-none moveContent">
    <img src="img/hero/hero-shape-9.png" alt="Shape" class="hero-shape-left position-absolute sm-none">
    <img src="img/hero/hero-shape-10.png" alt="Shape" class="hero-shape-right position-absolute sm-none">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <div class="hero-content text-center">
                    <h1 class="text-white">
                        <span class="position-relative">
                            <img src="img/hero/hero-title-shape.png" alt="Shape">
                            Discover
                        </span> a World of Opportunities: <span class="fw-normal">Find Your Ideal Job Today!</span>
                    </h1>
                    <p class="fs-xxl-18">
                        Welcome to Abezo, where your dream job awaits! Browse  thousands of job listings.
                    </p>
                    <div class="counter-card-wrap d-flex flex-wrap justify-content-md-between">
                        <div class="counter-card mb-30">
                            <h2>
                                20K+
                            </h2>
                            <p class="fs-13 fw-semibold mb-0">
                                TOTAL JOB POST
                            </p>
                        </div>
                        <div class="counter-card mb-30">
                            <h2>
                                51K+
                            </h2>
                            <p class="fs-13 fw-semibold mb-0">
                                TALENTED CANDIDATES
                            </p>
                        </div>
                        <div class="counter-card mb-30">
                            <h2>
                                3K+
                            </h2>
                            <p class="fs-13 fw-semibold mb-0">
                                POSITIVE REVIEWS
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-10 offset-xl-1">
                <div class="hero-searchbox form-group-wrap d-flex flex-wrap bg-white align-items-center justify-content-between round-10">
                    <div class="form-group">
                        <label for="job_category" class="fs-14 fw-medium text-title d-block">
                            Job Categories
                        </label>
                        <select name="job_category" id="job_category" class="fs-18 fw-semibold text-title">
                            <option value="0">
                                Design
                            </option>
                            <option value="1">
                                Web Debelopment
                            </option>
                            <option value="2">
                                Motion Graphics
                            </option>
                            <option value="3">
                                Content Writing
                            </option>
                            <option value="4">
                                Digital Marketing
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="job_location" class="fs-14 fw-medium text-title d-block">
                            Location
                        </label>
                        <select name="job_location" id="job_location" class="fs-18 fw-semibold text-title">
                            <option value="0">
                                Manitoba, Canada
                            </option>
                            <option value="1">
                                New York, USA
                            </option>
                            <option value="2">
                                Florida, USA
                            </option>
                            <option value="3">
                                Torento, Canada
                            </option>
                            <option value="4">
                                London, UK
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="job_title" class="fs-14 fw-medium text-title d-block">
                            Keywords or Titles
                        </label>
                        <input name="job_title" id="job_title" type="text" placeholder="UI/UX Designer" class="fs-18 fw-semibold text-title border-0 w-100 bg-transparent">
                    </div>
                    <div class="form-group mb-0">
                        <button type="submit" class="btn border-0 text-white">
                            Search Job <img src="img/icons/search-icon-2.svg" alt="Search Icon">
                        </button>
                    </div>
                </div>
                <div class="popular-taglist d-flex align-items-md-center align-items-start justify-content-center">
                    <span class="text-title fw-semibold">
                        Popular:
                    </span>
                    <ul class="taglist list-unstyle">
                        <li><a routerLink="/jobs-left-sidebar" class="fs-14 round-4 transition">
                            Graphic Design
                        </a></li>
                        <li><a routerLink="/jobs-left-sidebar" class="fs-14 round-4 transition">
                            Video Editing
                        </a></li>
                        <li><a routerLink="/jobs-left-sidebar" class="fs-14 round-4 transition">
                            Web Development
                        </a></li>
                        <li><a routerLink="/jobs-left-sidebar" class="fs-14 round-4 transition">
                            Data Science
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>