<h3 class="db-content-title fs-20 fw-bold mb-22">
    Profile Photo
</h3>
<div class="user-photo-wrap d-inline-block position-relative index-1 rounded-circle mb-35">
    <div class="user-avatar d-inline-block rounded-circle">
        <img src="img/dashbboard/user-big.jpg" alt="User" class="rounded-circle">
    </div>
    <div class="file-upload-btn position-absolute">
        <label for="upload" class="file-upload__label transition d-flex flex-column align-items-center justify-content-center bg-white rounded-circle">
            <img src="img/icons/edit.svg" alt="Edit Icon">
        </label>
        <input id="upload" class="file-upload__input" type="file" name="file-upload">
    </div>
</div>
<h3 class="db-content-title fs-20 fw-bold mb-22">
    Information
</h3>
<form class="comment-form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="fname">
                    First Name
                </label>
                <input type="text" name="fname" id="fname" placeholder="First Name" class="bg-gray border-0 w-100 round-4">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="lname">
                    Last Name
                </label>
                <input type="text" name="lname" id="lname" placeholder="Last Name" class="bg-gray border-0 w-100 round-4">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="fname">
                    Email Address
                </label>
                <input type="email" name="email" id="email" placeholder="Email Address" class="bg-gray border-0 w-100 round-4">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="web_url">
                    Website Address
                </label>
                <input type="text" name="web_url" id="web_url" placeholder="First Name" class="bg-gray border-0 w-100 round-4">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="date">
                    Founded Date
                </label>
                <input type="date" name="date" id="date" class="bg-gray border-0 w-100 round-4">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="company_size">
                    Company Size
                </label>
                <input type="number" name="company_size" id="company_size" placeholder="1000" class="bg-gray border-0 w-100 round-4">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="phone">
                    Phone No
                </label>
                <input type="number" name="phone" id="phone" class="bg-gray border-0 w-100 round-4">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="category">
                    Category
                </label>
                <select name="category" id="category" class="bg-gray border-0 w-100 round-4">
                    <option value="1">
                        IT
                    </option>
                    <option value="2">
                        Business
                    </option>
                    <option value="3">
                        Education
                    </option>
                    <option value="4">
                        Health
                    </option>
                </select>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="text-dark" for="company_desc">
                    Company Description
                </label>
                <textarea name="company_desc" id="company_desc" cols="30" rows="10" placeholder="Your message here"  class="bg-gray border-0 w-100 round-4"></textarea>
                <span>Brief description about your company within 250 words.</span>
            </div>
        </div>
    </div>
</form>
<h3 class="db-content-title fs-20 fw-bold mb-22">
    Location
</h3>
<form class="comment-form mb-0">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group mb-20">
                <label class="text-dark" for="address">
                    Address
                </label>
                <input type="text" name="address" id="address" placeholder="Location" class="bg-gray border-0 w-100 round-4">
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="country">
                    Country
                </label>
                <select name="country" id="country" class="bg-gray border-0 w-100 round-4">
                    <option value="1">
                        USA
                    </option>
                    <option value="2">
                        Canada
                    </option>
                    <option value="3">
                        UK
                    </option>
                    <option value="4">
                        Dubai
                    </option>
                </select>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="city">
                    City
                </label>
                <select name="city" id="city" class="bg-gray border-0 w-100 round-4">
                    <option value="1">
                        Florida
                    </option>
                    <option value="2">
                        New York
                    </option>
                    <option value="3">
                        Torento
                    </option>
                </select>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="zip">
                    ZIP Code
                </label>
                <input type="text" name="zip" id="zip" placeholder="152 334" class="bg-gray border-0 w-100 round-4">
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="form-group mb-20">
                <label class="text-dark" for="state">
                    State
                </label>
                <select name="state" id="state" class="bg-gray border-0 w-100 round-4">
                    <option value="1">
                        California
                    </option>
                    <option value="2">
                        New York
                    </option>
                    <option value="3">
                        Florida
                    </option>
                </select>
            </div>
        </div>
    </div>
</form>
<div class="form-btn mb-25">
    <button class="btn style-four me-3">
        Save
    </button>
    <button class="btn style-three">
        Cancel
    </button>
</div>