<p-toast />
@if(loader_flag){

}
@else {
<div class="container m-auto p-md-5">
    <div class="row">
        <p-toast />
        <p-steps [model]="stepItem2" [(activeIndex)]="current" [styleClass]="isMobile ? 'vertical-steps' : ''"></p-steps>

        <form [formGroup]="employer_form">

            <!-- <div *ngIf="current === 0 && current < stepsLength">
                <div class="mt-3 table-card">

                    <p-table #rowSelectionTable [value]="masters.talliteBusinessProductList" showGridlines
                        [paginator]="false" [responsiveLayout]="'scroll'" class="" styleClass="p-datatable-striped">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 11rem;">Select Product ID</th>
                                <th>Description</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                            <tr>
                                <td>
                                    <p-radioButton [value]="data.shortCode" formControlName="productTypeId"
                                        (click)="productTypeChanged($event, data)">
                                    </p-radioButton>
                                    {{ data.shortCode }}
                                </td>
                                <td>{{ data.description }}</td>
                            </tr>
                        </ng-template>
                    </p-table>



                    <div class="steps-action stick " style="display: flex; justify-content: end; padding: 12px 0px;">

                        <p-button class="btn-custom  pre" (click)="pre()" *ngIf="current > 0" label="Previous"
                            icon="pi pi-arrow-left" />

                        <p-button
                            [disabled]="!(this.employer_form.get('productTypeId')?.value && setOfCheckedId.size>0)"
                            [rounded]="true" (click)="next(1)" *ngIf="current < 5" label="Next" icon="pi pi-arrow-right"
                            iconPos="right" />
                    </div>

                </div>
            </div> -->

            <div *ngIf="current === 0  && current < stepsLength">
                <div class="mt-3 table-card">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="mb-3">
                                <span class="me-2"
                                    style="font-size:1rem; font-weight: 500; color: var(--primaryColor);">Selected
                                    Product: </span> <span style="font-weight: 600;">
                                    {{current_product?.description}}
                                </span>
                            </h6>
                        </div>

                        <div class="col-md-8 mb-3">
                            <label for="integeronly">Provide your company as registered name <span
                                    class="p-error">*</span>:</label>
                            <input type="text" pInputText formControlName="sellerCompanyName"
                                class="ng-invalid ng-dirty" placeholder="Enter your company name" />
                            <div *ngIf="this.employer_form.get('sellerCompanyName')?.touched && this.employer_form.get('sellerCompanyName')?.invalid"
                                class="error">
                                <small *ngIf="this.employer_form.get('sellerCompanyName')?.hasError('required')"
                                    class="p-error">
                                    Company name is required.
                                </small>
                                <small *ngIf="this.employer_form.get('sellerCompanyName')?.hasError('maxlength')"
                                    class="p-error">
                                    Company name cannot exceed 100 characters.
                                </small>
                            </div>
                        </div>

                        <div class="col-md-8 mb-3">
                            <label for="integeronly">Business/Tax registration documents <span class="p-error">*</span>:</label>
                            <p-fileUpload name="file" [files]="fileList" [multiple]="true" accept="image/*"
                                [customUpload]="true" (onSelect)="handleChange($event)" (onRemove)="removeFile($event)">
                                <ng-template pTemplate="header" let-files let-chooseCallback="chooseCallback"
                                    let-clearCallback="clearCallback" let-uploadCallback="uploadCallback">
                                    <div class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2">
                                        <div class="flex gap-2">
                                            <p-button label="Choose Business/Tax registration documents"
                                                (onClick)="choose($event, chooseCallback)" icon="pi pi-images"
                                                [rounded]="true" [outlined]="true" />
                                        </div>
                                    </div>
                                </ng-template>
                            </p-fileUpload>
                        </div>

                        <div class="col-md-8 mb-3">
                            <label for="integeronly">Provide website URL :</label>
                            <input type="text" pInputText formControlName="websiteUrl" class="ng-invalid ng-dirty"
                                placeholder="Enter website URL" />
                            <div *ngIf="this.employer_form.get('websiteUrl')?.touched && this.employer_form.get('websiteUrl')?.invalid"
                                class="error">
                                <small *ngIf="this.employer_form.get('websiteUrl')?.hasError('pattern')"
                                    class="p-error">
                                    Please enter a valid website URL.
                                </small>
                            </div>
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="integeronly">Provide a short code to identify your company between 1 to 5
                                alphabetic characters in length and as unique prefix to generate Login IDs <span
                                    class="p-error">*</span>:</label>

                            <div class="col-md-5 short">
                                <p-inputGroup>
                                    <input style="width: 50%;" id="shortCode" type="text" maxlength="5"
                                        formControlName="shortCode" pInputText placeholder="Enter Code"
                                        (input)="inputChange()"
                                        (keyup)="this.employer_form.get('shortCode')?.patchValue(this.employer_form.get('shortCode')?.value.toUpperCase())" />
                                    <span *ngIf="!verification_status || !employer_form.value.shortCode"
                                        class="p-inputgroup-addon"
                                        style="background-color: green; color: #fff; cursor: pointer;"
                                        (click)="verifyShortCode()"> <i class="pi pi-search me-2"></i> Check
                                        Availability</span>
                                    <span *ngIf="verification_status" class="p-inputgroup-addon"
                                        style="cursor: not-allowed;"> <i class="pi pi-verified me-2"></i>
                                        Available</span>
                                </p-inputGroup>
                            </div>

                        </div>
                    </div>

                    <div class="steps-action stick " style="display: flex; justify-content: end; padding: 12px 0px;">

                        <p-button (click)="pre()" *ngIf="current > 0" [disabled]="hide_flag" label="Previous"
                            [rounded]="true" icon="pi pi-arrow-left" />

                        <p-button [rounded]="true" (click)="next(1,current)" *ngIf="current < 5" label="Next"
                            icon="pi pi-arrow-right" iconPos="right" />
                    </div>
                </div>
            </div>

            <div *ngIf="current === 1  && current < stepsLength">
                <div class="mt-3 table-card">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="mb-3">
                                <span style="font-weight: 600;">
                                    Provide primary administrator contact
                                </span>
                            </h6>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="integeronly">First Name <span class="p-error">*</span>:</label>
                            <input type="text" pInputText formControlName="firstName" class="ng-invalid ng-dirty"
                                placeholder="Enter first name" />
                            <div *ngIf="this.employer_form.get('firstName')?.touched && this.employer_form.get('firstName')?.invalid"
                                class="error">
                                <small *ngIf="this.employer_form.get('firstName')?.hasError('required')"
                                    class="p-error">
                                    First name is required.
                                </small>
                                <small *ngIf="this.employer_form.get('firstName')?.hasError('maxlength')"
                                    class="p-error">
                                    First name cannot exceed 50 characters.
                                </small>
                                <small *ngIf="this.employer_form.get('firstName')?.hasError('pattern')" class="p-error">
                                    Only alphabetic characters and spaces are allowed.
                                </small>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="integeronly">Last Name :</label>
                            <input type="text" pInputText formControlName="lastName" class="ng-invalid ng-dirty"
                                placeholder="Enter last name" />
                            <div *ngIf="this.employer_form.get('lastName')?.touched && this.employer_form.get('lastName')?.invalid"
                                class="error">
                                <small *ngIf="this.employer_form.get('lastName')?.hasError('required')" class="p-error">
                                    Last name is required.
                                </small>
                                <small *ngIf="this.employer_form.get('lastName')?.hasError('maxlength')"
                                    class="p-error">
                                    Last name cannot exceed 50 characters.
                                </small>
                                <small *ngIf="this.employer_form.get('lastName')?.hasError('pattern')" class="p-error">
                                    Only alphabetic characters and spaces are allowed.
                                </small>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <h6 class="mb-3">
                                <span style="font-weight: 600;">
                                    Provide Email ID and Mobile number
                                </span>
                            </h6>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="integeronly">Email ID <span class="p-error">*</span>:</label>
                            <p-inputGroup class="email_inputGroup">
                                <input id="emailId" type="text" (blur)="(email_verification.verification)? null:verifyEmailID()" formControlName="emailId"
                                    pInputText placeholder="Enter email ID"
                                    [readonly]="email_verification.verification" />

                                <span *ngIf="!(email_verification.verification) && !viewOtpfield" class="p-inputgroup-addon"
                                    style="background-color: green; color: #fff; cursor: pointer;"
                                    (click)="verifyEmailID()">Verify</span>
                                <span *ngIf="(!email_verification.verification) && viewOtpfield" class="p-inputgroup-addon"
                                    style="background-color: green; color: #fff; cursor: pointer;"
                                    (click)="VerifyOTP()">Verify</span>
                                <span *ngIf="email_verification.verification" class="p-inputgroup-addon"
                                    style="cursor: not-allowed;"> Verified</span>

                            </p-inputGroup>
                            <div *ngIf="this.employer_form.get('emailId')?.touched && this.employer_form.get('emailId')?.invalid"
                                class="error">
                                <small *ngIf="this.employer_form.get('emailId')?.hasError('required')" class="p-error">
                                    Email ID is required.
                                </small>
                                <small *ngIf="this.employer_form.get('emailId')?.hasError('maxlength')" class="p-error">
                                    Email ID cannot exceed 50 characters.
                                </small>
                                <small *ngIf="this.employer_form.get('emailId')?.hasError('pattern')" class="p-error">
                                    Please enter a valid Email ID.
                                </small>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="required">Phone Number <span class="p-error">*</span>:</label>
                            <div class="p-inputgroup phone_input">
                                <p-dropdown [options]="masters.countryList" formControlName="mobileIsd"
                                    (onChange)="setMaxLenghtToMobileNumber($event)" optionLabel="name"
                                    optionValue="dial_code">
                                </p-dropdown>

                                <!-- Mobile Number Input -->
                                <input id="phoneNumber" type="number" pInputText formControlName="mobileNumber"
                                    [maxlength]="mob_max_length" placeholder="Enter mobile number" class="phone-input">
                            </div>
                            <!-- Error Message -->
                            <small
                                *ngIf="this.employer_form.controls['mobileNumber']?.invalid && this.employer_form.controls['mobileNumber']?.touched"
                                class="p-error">
                                Mobile number must be {{ mob_max_length }} digits long
                            </small>

                        </div>

                        <div class="col-md-6 mb-3" *ngIf="viewOtpfield">
                            <label for="integeronly">Verification Code:</label>
                            <!-- <p-inputOtp (onChange)="onOtpChange($event)" [integerOnly]="true" class="otp_input" /> -->
                            <p-inputOtp [length]="otpLength" (onChange)="onOtpChange($event)">
                                <ng-template #input let-token let-events="events" let-index="index">
                                    <input type="text" [maxLength]="1" [attr.value]="token" class="custom-otp-input" />
                                    <div *ngIf="index === 3" class="px-4">
                                        <i class="pi pi-minus"></i>
                                    </div>
                                </ng-template>
                            </p-inputOtp>
                            <p>
                                Didn't receive verification code?
                                <Span class="text-primary cursor-pointer" (click)="verifyEmailID()">Resend</Span>
                            </p>
                        </div>

                    </div>

                    <div class="steps-action stick "
                        style="display: flex; justify-content: space-between; padding: 12px 0px;">

                        <p-button (click)="pre()" *ngIf="current > 0" [disabled]="hide_flag" label="Previous"
                            [rounded]="true" icon="pi pi-arrow-left" />



                        <p-button *ngIf="!(email_verification.verification) && !viewOtpfield"
                             (click)="verifyEmailID()" icon="pi pi-arrow-right"
                            label="Verify Email ID" [rounded]="true" iconPos="right" />

                        <p-button *ngIf="(!email_verification.verification) && viewOtpfield"
                             (click)="VerifyOTP()" icon="pi pi-arrow-right"
                            label="Verify Email ID" [rounded]="true" iconPos="right" />

                        <p-button (click)="next(1,current)" *ngIf="email_verification.verification && current < 5" label="Next" icon="pi pi-arrow-right"
                            [rounded]="true" iconPos="right" />
                    </div>
                </div>
            </div>

            <div *ngIf="current === 2  && current < stepsLength">
                <div class="mt-3 table-card">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="mb-3">
                                <span style="font-weight: 600;">
                                    Provide your address and map location
                                    <!-- <span style="font-weight: 500;font-size: 0.92rem" class="mapLink"
                                        (click)="openMap()">( Select location from Map )
                                    </span> -->
                                </span>
                            </h6>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="integeronly">Building number, Lane :</label>
                            <input type="text" pInputText (input)="onCityInputChange($event)" formControlName="addressLine1" class="ng-invalid ng-dirty"
                                placeholder="Enter building number,lane"  #cityInput />
                            <div *ngIf="this.employer_form.get('addressLine1')?.touched && this.employer_form.get('addressLine1')?.invalid"
                                class="error">
                                <small *ngIf="this.employer_form.get('addressLine1')?.hasError('maxlength')"
                                    class="p-error">
                                    Doesn't exceed 100 characters.
                                </small>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="integeronly">Street,Area <span class="p-error">*</span>:</label>
                            <input type="text" pInputText formControlName="addressLine2" class="ng-invalid ng-dirty"
                                placeholder="Enter street, area" />
                            <div *ngIf="this.employer_form.get('addressLine2')?.touched && this.employer_form.get('addressLine2')?.invalid"
                                class="error">
                                <small *ngIf="this.employer_form.get('addressLine2')?.hasError('required')"
                                    class="p-error">
                                    Field is required.
                                </small>
                                <small *ngIf="this.employer_form.get('addressLine2')?.hasError('maxlength')"
                                    class="p-error">
                                    Doesn't exceed 100 characters.
                                </small>
                            </div>
                        </div>


                        <div class="col-md-6 mb-3">
                            <label for="integeronly">City <span class="p-error">*</span>:</label>
                            <input type="text" pInputText formControlName="city" class="ng-invalid ng-dirty"
                                placeholder="Enter city" >
                            <div *ngIf="this.employer_form.get('city')?.touched && this.employer_form.get('city')?.invalid"
                                class="error">
                                <small *ngIf="this.employer_form.get('city')?.hasError('required')" class="p-error">
                                    Field is required.
                                </small>
                                <small *ngIf="this.employer_form.get('city')?.hasError('maxlength')" class="p-error">
                                    Doesn't exceed 100 characters.
                                </small>
                            </div>

                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="integeronly">State <span class="p-error">*</span>:</label>
                            <input type="text" pInputText formControlName="state" class="ng-invalid ng-dirty"
                                placeholder="Enter state" />
                            <div *ngIf="this.employer_form.get('state')?.touched && this.employer_form.get('state')?.invalid"
                                class="error">
                                <small *ngIf="this.employer_form.get('state')?.hasError('required')" class="p-error">
                                    Field is required.
                                </small>
                                <small *ngIf="this.employer_form.get('state')?.hasError('maxlength')" class="p-error">
                                    Doesn't exceed 100 characters.
                                </small>
                            </div>
                        </div>


                        <div class="col-md-6 mb-3">
                            <label for="integeronly">Country <span class="p-error">*</span>:</label>
                            <input type="text" pInputText formControlName="country" class="ng-invalid ng-dirty"
                                placeholder="Enter country" />
                            <div *ngIf="this.employer_form.get('country')?.touched && this.employer_form.get('country')?.invalid"
                                class="error">
                                <small *ngIf="this.employer_form.get('country')?.hasError('required')" class="p-error">
                                    Field is required.
                                </small>
                                <small *ngIf="this.employer_form.get('country')?.hasError('maxlength')" class="p-error">
                                    Doesn't exceed 100 characters.
                                </small>
                            </div>
                        </div>


                        <div class="col-md-6 mb-3">
                            <label for="integeronly">Postal code <span class="p-error">*</span>:</label>
                            <input type="number" pInputText formControlName="postalCode" class="ng-invalid ng-dirty"
                                placeholder="Enter postal code" />
                            <div *ngIf="this.employer_form.get('postalCode')?.touched && this.employer_form.get('postalCode')?.invalid"
                                class="error">
                                <small *ngIf="this.employer_form.get('postalCode')?.hasError('required')"
                                    class="p-error">
                                    Field is required.
                                </small>
                                <small *ngIf="this.employer_form.get('postalCode')?.hasError('maxlength')"
                                    class="p-error">
                                    Doesn't exceed 6 length.
                                </small>
                            </div>
                        </div>


                    </div>

                    <div class="steps-action stick "
                        style="display: flex; justify-content: space-between; padding: 12px 0px;">

                        <p-button (click)="pre()" *ngIf="current > 0" [disabled]="hide_flag" label="Previous"
                            [rounded]="true" icon="pi pi-arrow-left" />

                        <p-button [rounded]="true" (click)="next(1,current)"
                            *ngIf="current < 5" label="Next" icon="pi pi-arrow-right" iconPos="right" />
                    </div>
                </div>
            </div>

            <div *ngIf="current === 3  && current < stepsLength">
                <div class="mt-3 table-card">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="mb-3">
                                <span style="font-weight: 600;">
                                    Enter a minimum 6 character password with digit
                                    and one or more special characters and
                                    verify it again
                                </span>
                            </h6>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="integeronly">Password <span class="p-error">*</span>:</label>

                            <p-password id="password" [toggleMask]="true" placeholder="Enter password"
                                formControlName="password" />

                            <small *ngIf="getStatus() === 'error'" class="pass-status p-error">
                                Password must have a minimum of 6 characters, including a digit and one or more special
                                characters.
                            </small>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="integeronly">Re-enter Password <span class="p-error">*</span>:</label>
                            <p-password id="confirmpassword" [toggleMask]="true" placeholder="Re-enter password"
                                formControlName="confirmpassword" />

                            <small *ngIf="checkPassword() === 'error' && employer_form.get('confirmpassword')?.dirty"
                                class="pass-status p-error">
                                Passwords do not match.
                            </small>
                        </div>

                    </div>

                    <div class="steps-action stick "
                        style="display: flex; justify-content: space-between; padding: 12px 0px;">
                        <p-button (click)="pre()" *ngIf="current > 0" [disabled]="hide_flag" label="Previous"
                            [rounded]="true" icon="pi pi-arrow-left" />


                        <p-button
                            [rounded]="true" (click)="next(1,current)" label="Next" icon="pi pi-arrow-right" iconPos="right" />
                    </div>
                </div>
            </div>


            <div *ngIf="current === 4">
                <div class="mt-3 table-card">
                    <div class="row">
                        <div class="col-md-12 mb-4 text-center">
                            <div class="col-md-12">
                                <h6 class="">
                                    <span style="font-weight: 700;">
                                        KYC Fee Options
                                    </span>
                                </h6>
                            </div>
                        </div>

                        <div class="col-md-12 mb-4">
                            <h5 class="text-center" style="color: var(--primaryColor);">CVMine Services are provided
                                free of cost. The cost below is for the
                                KYC and job listing verification process​</h5>
                        </div>

                        <div class="col-md-12 mb-4">
                            <div class="plans flow-content">
                                <div [ngClass]="{'plan--accent': talliteProductId === card.id, 'plan--light': talliteProductId !== card.id}"
                                    class="plan shadow-sm" *ngFor="let card of couponCardList">
                                    <h2 class="plan-title">{{card.description}}</h2>
                                    <p class="plan-price">${{card.amount}}<span>/year</span></p>
                                    <div style="margin: 25px 0px 35px 0px;">
                                        <p class="plan-description my-2 text-center" *ngFor="let item of card.features">
                                            <i *ngIf="item.included===1" class="pi pi-check me-1"
                                                style="color: green; font-size: 15px; font-weight: 600;"></i>
                                            <i *ngIf="item.included===0" class="pi pi-times me-1"
                                                style="color: red; font-size: 15px; font-weight: 600;"></i>
                                            {{item.title}}
                                        </p>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <a class="btn" (click)="onSubscribeChange(card.id)">Select</a>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12">
                                <p class="text-center">Do you have Coupon?
                                    <a class="link-opacity-100-hover"
                                        style="color: var(--primary-500); text-decoration-line: underline;"
                                        (click)="isCoupon()">I have a Coupon</a>
                                </p>
                            </div>

                            <div *ngIf="showApply" class="col-md-12 mb-3"
                                style="display: flex; justify-content: center; align-items: center;">

                                <div>
                                    <p-inputGroup class="email_inputGroup">
                                        <input type="text" formControlName="prepaidCode" pInputText
                                            placeholder="Enter coupon number"
                                            (keyup)="this.employer_form.get('prepaidCode')?.patchValue(this.employer_form.get('prepaidCode')?.value.toUpperCase())" />
                                        <span *ngIf="!validCoupon" class="p-inputgroup-addon"
                                            style="background-color: green; color: #fff; cursor: pointer;"
                                            (click)="applyCoupon()">Apply</span>
                                        <span *ngIf="validCoupon" class="p-inputgroup-addon"
                                            style="background-color: #fff; color: green; cursor:not-allowed;"
                                            ><i class="pi pi-verified me-2" style="color: green;"></i> Applied</span>
                                        <small *ngIf="" class="pass-status p-error">
                                            Passwords do not match.
                                        </small>
                                    </p-inputGroup>
                                </div>

                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <p-checkbox formControlName="terms" inputId="terms" [binary]="true" class="me-2"
                                        [trueValue]="1" [falseValue]="0"></p-checkbox>
                                    <label for="terms">Agree with:
                                        <a href="javascript:void(0)" (click)="showModal()" style="color: blue;"
                                            class="underline-on-hover">Terms and Conditions</a>
                                    </label>
                                </div>
                                <div class="col-md-12">
                                    <!-- <app-tm-captch (validCaptch)="verifyCaptch($event)"></app-tm-captch> -->
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="steps-action stick payment "
                        style="display: flex; justify-content: space-between; padding: 12px 0px;">

                        <p-button (click)="pre()" *ngIf="current > 0" [disabled]="hide_flag" label="Previous"
                            [rounded]="true" icon="pi pi-arrow-left" />

                        <!-- <button
                            [disabled]="!(((this.employer_form.get('paymentOptions').value == 1) ? true: (this.employer_form.get('prepaidCode').valid) ? true : false ) && this.employer_form.get('terms').value && valid_captcha_flag)"
                            [ngClass]="(((this.employer_form.get('paymentOptions').value == 1) ? true: (this.employer_form.get('prepaidCode').valid) ? true : false ) && this.employer_form.get('terms').value && valid_captcha_flag) ? 'btn-custom' : 'btn-custom-disabled'"
                            class="next mt-3" nz-button nzType="default" (click)=" executeSubmission()">
                            Proceed to Payment <span class="flex-span-right" nz-icon nzType="arrow-right"
                                nzTheme="outline"> </span>
                        </button> -->

                        <!-- <p-button (click)="next(1)" *ngIf="current < 7" label="Next" icon="pi pi-arrow-right"
                            [rounded]="true" iconPos="right" /> -->
                        <p-button
                            [rounded]="true" (click)=" executeSubmission()" label="Proceed to Payment"
                             />
                    </div>
                </div>
            </div>


            <div *ngIf="current === 5">
                <div class="mt-3 table-card">
                    <div class="row">
                        <div class="col-md-12 mb-4 text-center">
                            <div class="col-md-12">
                                <h6 class="">
                                    <span style="font-weight: 700;">
                                        Annual Subscription Fee
                                    </span>
                                </h6>
                            </div>

                            <div class="col-md-12">
                                <p class="text-red-600 mb-0">
                                    {{ employer_form.value.annualSubscriptionCurrency }}
                                    {{ employer_form.value.annualSubscription }} Per annum
                                </p>
                            </div>

                            <div class="col-md-12">
                                <a href="javascript:void(0)" class=" text-primary" style="font-size: smaller;">Know more
                                    about features</a>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="integeronly"> Select a payment method <span class="p-error">*</span>:</label>

                            <div class=" col-md-12 flex-content">
                                <div class="p-field-radiobutton mb-3 me-4">
                                    <p-radioButton name="paymentOptions" value="1" formControlName="paymentOptions"
                                        (click)="paymentOptionChanged($event)" label="Online by Credit or Debit Card ">
                                    </p-radioButton>
                                </div>
                                <div class="p-field-radiobutton mb-3">
                                    <p-radioButton name="paymentOptions" value="2" formControlName="paymentOptions"
                                        (click)="paymentOptionChanged($event)" label="Prepaid Code">
                                    </p-radioButton>
                                </div>
                            </div>

                            <div class="col-md-12" *ngIf="employer_form.value.paymentOptions == 2">
                                <label for="integeronly">Prepaid code :</label>
                                <input type="number" pInputText formControlName="prepaidCode"
                                    class="ng-invalid ng-dirty" />
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="col-md-12">
                                <p-checkbox formControlName="terms" inputId="terms" value="true" class="me-2" />
                                <label for="terms">Agree with: <a href="javascript:void(0)" (click)="showModal()"
                                        style="color: blue;" class="underline-on-hover">Terms and Conditions</a></label>
                            </div>
                            <div class="col-md-12">
                                <!-- <app-tm-captch (validCaptch)="verifyCaptch($event)"></app-tm-captch> -->
                            </div>
                        </div>


                    </div>

                    <div class="steps-action stick"
                        style="display: flex; justify-content: space-between; padding: 12px 0px;">

                        <p-button (click)="pre()" *ngIf="current > 0" [disabled]="hide_flag" label="Previous"
                            [rounded]="true" icon="pi pi-arrow-left" />

                        <p-button
                            [disabled]="!(((this.employer_form.get('paymentOptions')?.value == 1) ? true: (this.employer_form.get('prepaidCode')?.valid) ? true : false ) && this.employer_form.get('terms')?.value)"
                            [rounded]="true" (click)=" executeSubmission()" label="Proceed to Payment"
                            icon="pi pi-wallet" iconPos="right" />
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
}

<p-dialog header="Select loaction from google map" [modal]="true" [(visible)]="isOpenMap" [style]="{ width: '60rem' }">
    <app-google-map *ngIf="isOpenMap" [latLngSubject]="latLngSubject" [isCardShow]="false"
        (addressChange)="onAddressChange($event)" [markersArray]="markerCoordinatesArray"></app-google-map>
    <div class="flex justify-content-end gap-2" style="
        display: flex;
        position: sticky;
        bottom: -34px;
        z-index: 4;
        background-color: #fff;
        padding: 11px 0px;">
        <p-button label="Cancel" severity="secondary" (onClick)="isOpenMap = false" />
        <p-button label="Agree" (onClick)="isOpenMap = false" />
    </div>
</p-dialog>

<p-dialog header="Terms and Conditions" [modal]="true" [(visible)]="isVisible" [style]="{ width: '50rem' }">
    <app-terms></app-terms>
    <div class="flex justify-content-end gap-2" style="
        display: flex;
        position: sticky;
        bottom: -34px;
        z-index: 4;
        background-color: #fff;">
        <p-button label="Cancel" severity="secondary" (onClick)="handleCancel()" />
        <p-button label="Agree" (onClick)="handleOk()" />
    </div>
</p-dialog>
