::ng-deep .p-steps .p-steps-item.p-highlight .p-steps-number {
  background-color: var(--primaryColor) !important;
  color: #fff !important;
}

::ng-deep button {
  border-radius: revert-layer;
}

::ng-deep .p-inputgroup {
  width: 60% !important;
}

::ng-deep .p-inputgroup-addon {
  padding: 0rem 0.75rem;
}

::ng-deep .p-button {
  padding: 0.55rem 1.25rem !important;
}

::ng-deep .p-steps .p-steps-item .p-menuitem-link .p-steps-title {
  margin-top: 0 !important;
  font-size: 15px !important;
}

::ng-deep .p-steps .p-steps-item.p-highlight .p-steps-title {
  font-weight: 500 !important;
  font-size: 15px !important;
  color: var(--primaryColor) !important;
}

::ng-deep .p-steps .p-steps-item .p-menuitem-link .p-steps-number {
  min-width: 1.5rem !important;
  height: 1.5rem !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

::ng-deep .p-datatable .p-datatable-thead>tr>th {
  background-color: var(--primaryColor) !important;
  color: #fff !important;
  font-weight: 550 !important;
  padding: 0.5rem 1rem !important;
}

:ng-deep .p-datatable .p-datatable-tbody>tr>td {
  padding: 0.8rem 1rem !important;
  font-size: smaller !important;
}

::ng-deep td {
  border-color: var(--primaryColor) !important;
  border-style: dashed !important;
  border-width: 1px !important;

}


::ng-deep .p-card .p-card-content {
  padding: 0rem 0 !important;
}


::ng-deep .p-password {
  width: 100% !important;
}

::ng-deep .p-fileupload .p-fileupload-buttonbar{
  padding: 0.7rem !important;
}

::ng-deep .p-fileupload .p-fileupload-buttonbar .p-button{
  margin-right: 8px;
}


::ng-deep .p-fileupload .p-fileupload-content{
  padding: 0 !important;
}


.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px dashed;
  margin: 10px;
  border-radius: 7px;
  height: 200px;
}

.steps-content {
  margin-top: 50px;
  /* border: 1px dashed #e9e9e9; */
  border-radius: 6px;
  background-color: #f0f4f9;
  min-height: 200px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 12px rgba(0, 0, 0, 0.1);
  // padding: 0px;
}

.custom-modal .ant-modal-footer {
  position: sticky;
  bottom: 0;
}

:host ::ng-deep .upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}

:host ::ng-deep .upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}


.stick {
  // position: sticky;
  top: 0;
  bottom: 0
}

.pass-status {
  text-align: start;
  color: red;
  padding: 5px;
  font-size: 13px;
}

.disabled-class {
  cursor: not-allowed;
}


.steps-action {
  width: 100%;

  // margin-top: 1rem;
  .pre {
    float: left;
    left: 1px;
    min-width: 7rem;
  }

  .next {
    float: right;
    right: 0px;
    min-width: 7rem;
  }
}

.flex-span {
  display: inline-flex;
  justify-content: center;
  font-size: 13px;
  align-items: center;
  transition: transform 500ms ease-in-out;
}

.flex-span:hover {
  transform: translateX(-5px);
}

.flex-span-right {
  display: inline-flex;
  justify-content: center;
  font-size: 13px;
  align-items: center;
  transition: transform 500ms ease-in-out;
}

.flex-span-right:hover {
  transform: translateX(5px);
}


.btn-custom {
  border-radius: 2rem;
  color: #fff;
  background-color: #1890ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-custom:hover {
  color: #1890ff;
  background-color: #fff;
  border: 1px solid #1890ff;

}

.btn-custom-disabled {
  border-radius: 2rem;
  color: #fff;
  background-color: #89adcf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}

.btn-custom-disabled:hover {
  border-radius: 2rem;
  color: #fff;
  border: none;
  background-color: #89adcf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 12px rgba(0, 0, 0, 0.1);

}


.bg-green {
  background-color: #28a745 !important;
  /* Green background */
  color: #ffffff !important;
  /* White text */
}

.underline-on-hover:hover {
  text-decoration: underline;
}

// button {
//   margin-right: 8px;

// }
.text-2xl {
  font-size: 2rem;
}

.custom-green-button {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 0px;
  transition: background-color 0.3s;
}

.custom-green-button:hover {
  background-color: #fff !important;
  border-color: #28a745 !important;
  color: #28a745;
}

.ant-form-item-label {
  text-align: left !important;
}

.ant-form-item-label {
  width: 100%;
}

.ant-select.ant-select-in-form-item.phone-select {
  width: 120px;
}

.flex-content {
  display: inline-flex;
  width: 100%;
}

.ant-radio-wrapper {
  width: 100%;
}

.d-flex-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

::ng-deep {

  app-reg-form {
    .ant-form-item {
      margin-bottom: 0px;
      margin-top: 1rem;
    }

    .ant-upload {
      width: 100%;
    }

    .ant-upload-list {
      width: 100%;
    }

    .ant-upload-list-picture-container {
      width: 100%;
    }
  }
}

.error-message {
  color: red;
}

.ant-upload-list-picture .ant-upload-list-item {
  margin-bottom: 1.2rem !important;
}

:host ::ng-deep.ant-upload-list {
  display: flex;
  flex-direction: column;
}

:host ::ng-deep.ant-upload,
.ant-upload-select {
  display: flex;
  margin-bottom: 7px;
}

:host ::ng-deep.ant-upload-list-item-card-actions.picture .ant-upload-list-item-card-actions-btn {
  margin-left: -1rem;
}

:host ::ng-deep.ant-upload-list-item-card-actions.picture .ant-upload-list-item-card-actions-btn .anticon-download {
  display: none;
}

:host ::ng-deep.w-full {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

// .fs-1{
//   font-size: 14px;
// }
.fs-1 {
  font-size: 1rem;
  justify-content: start;
  display: flex;
  padding-right: 12px;
  padding-left: 12px;
  margin: 0px;
}

.heading {
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  text-align: start;

  .heading_subject {
    font-size: 1rem
  }
}

.mapLink {
  cursor: pointer;
  color: var(--primaryColor);
}

nz-upload {
  width: 100% !important;
}

nz-upload .ant-upload {
  width: 100% !important;
}



@media (max-width:800px) {
  .lg-content {
    display: none;
  }
}

@media (min-width : 1024px) {
  .sm-content {
    display: none;
  }

  .font-semibold {
    font-weight: 600;
    font-size: 1rem;
  }

  .text-red-600 {
    font-size: 1.5rem;
    color: red;
    font-weight: 500;
  }

  element.style {
    color: red;
    font-size: 1.5rem;
  }

  input {
    height: 2.7rem;
    font-size: 1rem;
    background-color: #ffffff;
  }

  .phone-input {
    height: 2.6rem;
  }

  .pwd-input {
    height: 2.5rem;
  }

  button {
    height: 3rem;
    font-size: 1rem;
  }

  label {
    font-size: 0.9rem;
    color: black;
  }

  :host ::ng-deep.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
    color: rgba(0, 0, 0, .85);
    font-size: 1rem;
  }

  :host ::ng-deep.ant-input:placeholder-shown {
    text-overflow: ellipsis;
    font-size: 1rem;
  }

  :host ::ng-deep.ant-input-affix-wrapper>.ant-input {
    font-size: 1rem;
    border: none;
    outline: 0;
  }

  :host ::ng-deep.ant-table-content {
    font-size: 1rem;
  }


  :host ::ng-deep.ant-form-item-feedback-icon-success {
    color: #28a745;
    font-size: 1rem;
  }

  .custom-green-button {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    color: white;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    transition: background-color 0.3s;
  }

  .custom-green-button:hover {
    background-color: #fff !important;
    border-color: #28a745 !important;
    color: #28a745;
  }

  .check-icon {
    margin-right: auto;
    font-size: 14px;
  }

  :host ::ng-deep.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0 2px 2px 0;
    margin-right: 0px;
  }


}

@media (min-width : 800px) and (max-width:1024px) {
  .sm-content {
    display: none;
  }

  .container-sm {
    width: 80%;
  }

  :host ::ng-deep.ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table {
    background-color: #f0f4f9;
  }

  :host ::ng-deep.ant-form-item-label>label {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin-top: 3px;
    font-size: 1rem;
    margin-bottom: 3px;
    color: rgba(0, 0, 0, 0.85);
    text-wrap: wrap;
  }

  .table-item {
    border: 1px dashed gainsboro;
    /* text-align: left; */
    display: flex;
    justify-content: space-between;

    border-radius: 5px;
    margin: 3px;
    margin-bottom: 8px;
    flex-direction: row-reverse;
    min-height: 6rem;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    .checkbox-item {
      font-size: 10px;
      padding: 3px;
    }

    .table-label {
      font-size: .6rem;
      font-weight: 500;
      padding: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .table-item:hover {
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 12px rgba(0, 0, 0, 0.1);

  }

  .label-zorro {
    min-height: 19rem !important;
    margin-right: 0px;
    text-align: left;
    margin-left: 0px;
    border-radius: 1rem !important;
    padding: 2rem 10px 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1.4em;
    position: relative;
    transition: background 500ms ease-in-out;

    .shortcode_item {
      position: absolute;
      top: 5px;
      right: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #0055ff;
      border-radius: 3px;
      border-top-right-radius: 10px;
      padding: 3px;
      padding-right: 10px;
      margin-left: .5em;
      color: #fff;
      text-align: left;

    }
  }



}

@media (min-width:1024px) and (max-width : 1600px) {


  .sm-content {
    display: none;
  }

  .container-sm {
    width: 85%;
  }

  :host ::ng-deep.ant-form-item-label>label {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    height: 40px;
    margin-top: 3px;
    font-size: 1rem;
    margin-bottom: 3px;
    color: rgba(0, 0, 0, 0.85);
    text-wrap: wrap;
  }

  :host ::ng-deep.ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table {
    background-color: #f0f4f9;
  }

  .table-item {
    border: 1px dashed gainsboro;
    /* text-align: left; */
    display: flex;
    justify-content: space-between;

    border-radius: 5px;
    margin: 5px;
    margin-bottom: 12px;
    flex-direction: row-reverse;
    min-height: 9rem;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    .checkbox-item {
      font-size: 12px;
      padding: 5px;
    }

    .table-label {
      font-size: 1rem;
      font-weight: 500;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .table-item:hover {
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 12px rgba(0, 0, 0, 0.1);

  }
}

@media(min-width:1600px) {
  .sm-content {
    display: none;
  }

  .container-sm {
    width: 70%;
  }

  :host ::ng-deep.ant-form-item-label>label {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    font-size: 1rem;
    height: 40px;
    color: rgba(0, 0, 0, 0.85);
    text-wrap: wrap;
  }

  :host ::ng-deep.ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table {
    background-color: #f0f4f9;
  }

  .table-item {
    border: 1px dashed gainsboro;
    /* text-align: left; */
    display: flex;
    justify-content: space-between;

    border-radius: 5px;
    margin: 5px;
    margin-bottom: 10px;
    flex-direction: row-reverse;
    min-height: 9rem;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    .checkbox-item {
      font-size: 12px;
      padding: 5px;
    }

    .table-label {
      font-size: 1rem;
      font-weight: 500;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .table-item:hover {
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 12px rgba(0, 0, 0, 0.1);

  }
}

.label-zorro {
  min-height: 11rem;
  margin-right: 0px;
  text-align: left;
  margin-left: 0px;
  border-radius: 1rem !important;
  padding: 2rem 10px 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.4em;
  position: relative;
  transition: background 500ms ease-in-out;

  .shortcode_item {
    position: absolute;
    top: 5px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0055ff;
    border-radius: 3px;
    border-top-right-radius: 10px;
    padding: 3px;
    padding-right: 10px;
    margin-left: .5em;
    color: #fff;
    text-align: left;

  }
}

.label-zorro:hover,
.label-zorro:focus-within,
.label-zorro:active {
  color: white;
  background: #0055ff;

  .shortcode_item {
    background-color: #fff;
    // border: 1px solid black;
    color: #0055ff;
  }

  .radio-btn {
    border: 1px solid #0055ff;
  }

}

.label-zorro-active {
  color: white;
  background: #0055ff;

  .shortcode_item {
    background-color: #fff;
    // border: 1px solid black;
    color: #0055ff;
  }

  .radio-btn {
    background-color: #0055ff;
    box-shadow: 0 0 0 3px rgba(139, 12, 223, 0.12);
  }

}




.radio-btn {
  display: block;
  margin-left: .5em;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  transition: border 300ms ease-in-out;
}

ng-otp-input #c_toq1rlnsjoam0vx4al9 {
  display: flex !important;
}

.table-card {
  border: 1px dashed;
  padding: 15px 15px 0px 15px;
  border-radius: 5px;
  background-color: #f2f7ff;
}

.email_inputGroup {
  width: 100% !important;
}

p-dropdown {
  width: 40%;
}

::ng-deep .p-inputtext {
  padding: 0.4rem 0.5rem !important;
}

.phone_input {
  width: 100% !important;
}

.email_input {
  width: 100% !important;
}

.otp_input {
  width: 50% !important;
}

.p_head {
  text-align: center;
}


::ng-deep .p-card .p-card-title {
  color: red !important;
}


::ng-deep .p-card .p-card-body {
  padding: 1rem 1.25rem !important;
}

.employer_btn {
  color: #fff;
  background-color: var(--primaryColor);
  font-weight: 600;
  border-radius: 5px;
  padding: 6px 9px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: var(--secondaryColor);
  }
}

::ng-deep .p_border .p-card{
  border: 1px solid var(--secondaryColor) !important;
}

::ng-deep .p-inputotp{
  width: 50% !important;
}