<div class="error-wrap ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                <div class="error-content text-center">
                    <img src="img/404.png" alt="Error Image" class="mx-auto d-block">
                    <h2 class="fs-24 mt-4 mb-20">
                        Oops! Page Not Found
                    </h2>
                    <p class="mb-30 px-xxl-5">
                        The page you are looking for might have been removed had its name changed or is temporarily unavailable.
                    </p>
                    <a routerLink="/" class="btn style-one">
                        Back To Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
