<footer class="footer-wrap style-one position-relative bg-gray index-1 bottom-0">
    <div class="container">
        <div class="footer-bottom">
            <div class="row justify-content-lg-between">
                <div class="col-12 col-lg-4">
                    <p class="m-0 text-end text-lg-start">
                        <span class="p-0 me-3">
                            <a target="_blank" href="https://www.cvmine.com/cvmine-terms-of-use.html" class="right-content">Terms of Use</a>
                        </span>
                        <span class="p-0">
                            <a target="_blank" href="https://www.cvmine.com/cvmine-privacy-policy.html" class="right-content">Privacy Policy</a>
                        </span>
                    </p>
                </div>
                <div class="col-12 col-lg-8 text-start text-lg-end">
                    <ul class="social-profile text-md-end list-unstyle">
                        <li class="left-content">
                            <a target="_blank" href=""  style="color: #0056b3; font-weight: 600;">CVMine is a social initiative of </a>
                            <a target="_blank" href="https://www.talentmicro.com/home"  style="color: #1890ff !important; font-weight: 600;">TalentMicro.</a>
                        </li>
                        <li class="mx-1">|</li>
                        <li class="copyright"><a target="_blank" href="" style="color: #0056b3;">Copyright© 2024, All rights reserved</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>