.footer-wrap {
    &.style-one {
        .footer-widget {
            .footer-menu {
                li {
                    a {
                        color: var(--ashColor);

                        &::after {
                            background-color: var(--primaryColor);
                        }
                        &:hover {
                            color: var(--primaryColor);
                        }
                    }
                }
            }
        }
        .footer-bottom {
            border-top: 1px solid rgba(0, 0, 0, 0.1);

            .social-profile {
                li {
                    a {
                        i {
                            color: var(--darkColor);
                        }
                        &:hover {
                            i {
                                color: var(--primaryColor);
                            }
                        }
                    }
                }
            }
        }
    }
    &.style-two {
        .text-title {
            color: var(--whiteColor);
        }
        p {
            color: var(--osloColor);
        }
        .footer-widget {
            .logo-light {
                display: none;
            }
            .logo-dark {
                display: inline;
            }
            .footer-menu {
                li {
                    a {
                        color: var(--offwhiteColor);

                        &:after {
                            background-color: var(--whiteColor);
                        }
                        &:hover {
                            color: var(--whiteColor);
                        }
                    }
                }
            }
            .subscribe-form {
                input {
                    background-color: rgba(255, 255, 255, 0.2) !important;
                    color: var(--whiteColor);

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.7);
                        opacity: 1;
                    }
                }
            }
        }
        .footer-bottom {
            border-top: 1px solid rgba(255, 255, 255, 0.1);

            .copyright-text {
                .link {
                    &.style-one {
                        &:after {
                            background-color: var(--whiteColor);
                        }
                    }
                }
            }
            .social-profile {
                li {
                    a {
                        i {
                            color: var(--optionalColor);
                        }
                        &:hover {
                            i {
                                color: var(--secondaryColor);
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-widget {
        .logo-dark {
            display: none;
        }
        .footer-shape {
            margin: {
                top: 108px;
                left: 56px;
            };
        }
        .widget-title {
            line-height: 16px;
            position: relative;
            margin-bottom: 41px;
        }
        .footer-menu {
            li {
                margin-bottom: 24px;
                line-height: 1;

                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    position: relative;
                    color: var(--paraColor);

                    &::after {
                        left: 0;
                        width: 0;
                        opacity: 0;
                        height: 1px;
                        content: "";
                        bottom: -2px;
                        visibility: hidden;
                        position: absolute;
                        transition: var(--transition);
                    }
                    &:hover {
                        &:after {
                            visibility: visible;
                            width: 100%;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .subscribe-form {
            margin-bottom: 15px;

            input {
                margin-bottom: 10px;
                padding: 12px 20px;
                height: 50px;
            }
            button {
                &.btn {
                    border-radius: 6px;
                    padding: 17px 25px;
                }
            }
        }
    }
    .footer-bottom {
        padding: 15px 0;
    }
    &.bg_dark {
        background-color: var(--darkColor) !important;
    }
}

.right-content {
    color: #1890ff;
    font-size: 14px;
}

.copyright {
    font-size: 12px;
}

@media only screen and (max-width: 991px) {
    .footer-wrap {
        .footer-bottom {
            padding: 3px 0;
        }
    }
}
/* Max width 991px */
@media only screen and (max-width: 576px) {
    .footer-wrap {
        .footer-bottom {
            padding: 3px 0;
        }
    }

    .right-content {
        font-size: 11px;
    }

    .left-content {
        font-size: 9px;
    }

    .copyright {
        font-size: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .left-content {
        font-size: 8px;
    }

    .right-content {
        font-size: 10px;
    }

    .copyright {
        font-size: 9px;
    }
}


