<footer class="footer-wrap style-one position-relative bg-gray index-1 bottom-0">
    <div class="container">
        <div class="footer-bottom">
            <div class="row">
                <div class="col-6 col-md-4 col-lg-3">
                    <p class="copyright-text mb-0">
                        © <span class="fw-bold">CVMine</span>
                    </p>
                </div>
                <!-- <div class="col-md-6">
                    <ul class="social-profile text-md-end list-unstyle">
                        <li><a target="_blank" href="https://www.facebook.com/"><i class="ri-facebook-fill"></i></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/"><i class="ri-instagram-line"></i></a></li>
                        <li><a target="_blank" href="https://x.com/"><i class="ri-twitter-fill"></i></a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</footer>