<app-top-header />

<app-navbar />

<app-page-banner />

<!-- Blog -->
<div class="container ptb-100">
    <div class="row align-items-center mb-10">
        <div class="col-xl-4 col-md-4">
            <p class="filter-result mb-25">
                Showing <strong class="text-title">1 - 8</strong> of 211 results
            </p>
        </div>
        <div class="col-xl-3 offset-xl-2 col-md-4">
            <select class="filter-cat border-0 mb-25">
                <option value="0">
                    Sort By(Default)
                </option>
                <option value="1">
                    Sort By Recent
                </option>
                <option value="2">
                    Sort By Oldest
                </option>
            </select>
        </div>
        <div class="col-xl-3 col-md-4">
            <select class="filter-cat border-0 mb-25">
                <option value="0">
                    08 per page
                </option>
                <option value="1">
                    15 per page
                </option>
                <option value="2">
                    20 per page
                </option>
            </select>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xxl-3 col-xl-4 col-md-6">
            <div class="blog-card style-one mb-30">
                <div class="blog-img overflow-hidden round-6">
                    <img src="img/blog/blog-1.jpg" alt="Blog Image" class="transition round-6">
                </div>
                <ul class="blog-metainfo list-unstyle">
                    <li class="position-relative fs-14">
                        <img src="img/icons/calendar.svg" alt="Calendar Icon">
                        <a routerLink="/blog-grid">
                            22 Jul, 2024
                        </a>
                    </li>
                </ul>
                <h3>
                    <a routerLink="/blog-details-left-sidebar">
                        Mastering LinkedIn: Strategies for Job Seekers
                    </a>
                </h3>
                <a routerLink="/blog-details-left-sidebar" class="link style-three fs-14 fw-semibold">
                    Read More <i class="ri-arrow-right-line"></i>
                </a>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
            <div class="blog-card style-one mb-30">
                <div class="blog-img overflow-hidden round-6">
                    <img src="img/blog/blog-2.jpg" alt="Blog Image" class="transition round-6">
                </div>
                <ul class="blog-metainfo list-unstyle">
                    <li class="position-relative fs-14">
                        <img src="img/icons/calendar.svg" alt="Calendar Icon">
                        <a routerLink="/blog-grid">
                            21 Jul, 2024
                        </a>
                    </li>
                </ul>
                <h3>
                    <a routerLink="/blog-details-left-sidebar">
                        Make More Productive Work Flow in Few Steps
                    </a>
                </h3>
                <a routerLink="/blog-details-left-sidebar" class="link style-three fs-14 fw-semibold">
                    Read More <i class="ri-arrow-right-line"></i>
                </a>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
            <div class="blog-card style-one mb-30">
                <div class="blog-img overflow-hidden round-6">
                    <img src="img/blog/blog-3.jpg" alt="Blog Image" class="transition round-6">
                </div>
                <ul class="blog-metainfo list-unstyle">
                    <li class="position-relative fs-14">
                        <img src="img/icons/calendar.svg" alt="Calendar Icon">
                        <a routerLink="/blog-grid">
                            20 Jul, 2024
                        </a>
                    </li>
                </ul>
                <h3>
                    <a routerLink="/blog-details-left-sidebar">
                        From Application to Offer: Navigating the Hiring Process
                    </a>
                </h3>
                <a routerLink="/blog-details-left-sidebar" class="link style-three fs-14 fw-semibold">
                    Read More <i class="ri-arrow-right-line"></i>
                </a>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
            <div class="blog-card style-one mb-30">
                <div class="blog-img overflow-hidden">
                    <img src="img/blog/blog-4.jpg" alt="Blog Image">
                </div>
                <ul class="blog-metainfo list-unstyle">
                    <li class="position-relative fs-14">
                        <img src="img/icons/calendar.svg" alt="Calendar Icon">
                        <a routerLink="/blog-grid">
                            16 Jul, 2024
                        </a>
                    </li>
                </ul>
                <h3>
                    <a routerLink="/blog-details-left-sidebar">
                        Full Stack Developer with Machine Learning
                    </a>
                </h3>
                <a routerLink="/blog-details-left-sidebar" class="link style-three fs-14 fw-semibold">
                    Read More <i class="ri-arrow-right-line"></i>
                </a>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
            <div class="blog-card style-one mb-30">
                <div class="blog-img overflow-hidden">
                    <img src="img/blog/blog-17.jpg" alt="Blog Image">
                </div>
                <ul class="blog-metainfo list-unstyle">
                    <li class="position-relative fs-14">
                        <img src="img/icons/calendar.svg" alt="Calendar Icon">
                        <a routerLink="/blog-grid">
                            15 Jul, 2024
                        </a>
                    </li>
                </ul>
                <h3>
                    <a routerLink="/blog-details-left-sidebar">
                        Full Stack Developer with Machine Learning
                    </a>
                </h3>
                <a routerLink="/blog-details-left-sidebar" class="link style-three fs-14 fw-semibold">
                    Read More <i class="ri-arrow-right-line"></i>
                </a>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
            <div class="blog-card style-one mb-30">
                <div class="blog-img overflow-hidden round-6">
                    <img src="img/blog/blog-14.jpg" alt="Blog Image" class="transition round-6">
                </div>
                <ul class="blog-metainfo list-unstyle">
                    <li class="position-relative fs-14">
                        <img src="img/icons/calendar.svg" alt="Calendar Icon">
                        <a routerLink="/blog-grid">
                            22 Jul, 2024
                        </a>
                    </li>
                </ul>
                <h3>
                    <a routerLink="/blog-details-left-sidebar">
                        Print, Publishing Qui Visual Layout Mockups
                    </a>
                </h3>
                <a routerLink="/blog-details-left-sidebar" class="link style-three fs-14 fw-semibold">
                    Read More <i class="ri-arrow-right-line"></i>
                </a>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
            <div class="blog-card style-one mb-30">
                <div class="blog-img overflow-hidden round-6">
                    <img src="img/blog/blog-8.jpg" alt="Blog Image" class="transition round-6">
                </div>
                <ul class="blog-metainfo list-unstyle">
                    <li class="position-relative fs-14">
                        <img src="img/icons/calendar.svg" alt="Calendar Icon">
                        <a routerLink="/blog-grid">
                            22 Jul, 2024
                        </a>
                    </li>
                </ul>
                <h3>
                    <a routerLink="/blog-details-left-sidebar">
                        Mastering LinkedIn: Strategies for Job Seekers
                    </a>
                </h3>
                <a routerLink="/blog-details-left-sidebar" class="link style-three fs-14 fw-semibold">
                    Read More <i class="ri-arrow-right-line"></i>
                </a>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-md-6">
            <div class="blog-card style-one mb-30">
                <div class="blog-img overflow-hidden round-6">
                    <img src="img/blog/blog-15.jpg" alt="Blog Image" class="transition round-6">
                </div>
                <ul class="blog-metainfo list-unstyle">
                    <li class="position-relative fs-14">
                        <img src="img/icons/calendar.svg" alt="Calendar Icon">
                        <a routerLink="/blog-grid">
                            22 Jul, 2024
                        </a>
                    </li>
                </ul>
                <h3>
                    <a routerLink="/blog-details-left-sidebar">
                        Print, Publishing Qui Visual Layout Mockups
                    </a>
                </h3>
                <a routerLink="/blog-details-left-sidebar" class="link style-three fs-14 fw-semibold">
                    Read More <i class="ri-arrow-right-line"></i>
                </a>
            </div>
        </div>
    </div>
    <ul class="page-nav d-flex align-items-center justify-content-center list-unstyle mt-1">
        <li>
            <a routerLink="." class="d-flex flex-column align-items-center justify-content-center rounded-circle fw-semibold text-title">
                <i class="ri-arrow-left-line"></i>
            </a>
        </li>
        <li>
            <a routerLink="." class="d-flex flex-column align-items-center justify-content-center rounded-circle fw-semibold">
                1
            </a>
        </li>
        <li>
            <a routerLink="." class="active d-flex flex-column align-items-center justify-content-center rounded-circle fw-semibold text-title">
                2
            </a>
        </li>
        <li>
            <a routerLink="." class="d-flex flex-column align-items-center justify-content-center rounded-circle fw-semibold text-title">
                3
            </a>
        </li>
        <li>
            <a routerLink="." class="d-flex flex-column align-items-center justify-content-center rounded-circle fw-semibold text-title">
                <i class="ri-arrow-right-line"></i>
            </a>
        </li>
    </ul>
</div>
<!-- End Blog -->

<app-footer />

<app-back-to-top />