<p-toast />
<div class="container my-3">
    <div class="row">
        <div class="col-lg-7 order-2 order-lg-1 my-5 my-lg-0">
            <div class="content-wrap p-4">
                <div class="header-section text-center">
                    <h3>A seamless jobseeker sourcing platform<br>for Employers across the world</h3>
                    <h3 class="my-3" style="color: rgb(255, 113, 18);">New to CVMine?</h3>
                    <a routerLink="/register"><h3 class="sign-up my-3"><u>Sign up now</u></h3></a>
                </div>
                <p-divider />
                <div class="col-12">
                    <h5 class="text-center">Features of CVMine for Employers</h5>
                    <div class="row my-4">
                        <div class="col-12 col-md-6 mb-4">
                            <div class="creative-card">
                                <h5>Post jobs to source unlimited jobseekers</h5>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-4">
                            <div class="creative-card">
                                <h5>Assessment questions to qualify jobseekers instantly</h5>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-4">
                            <div class="creative-card">
                                <h5>Generate questions automatically using TalliteGPT</h5>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-4">
                            <div class="creative-card">
                                <h5>Evaluate the jobseeker automatically using TalliteGPT</h5>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="upgrade-card text-center">
                                <h5 class="text-white">Upgrade to Tallite ATS and get access to updated Jobseeker Database</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="col-12 col-lg-5 order-1 order-lg-2 right-section">
            <div class="login-form-wrap bg-haze px-5">
                <div class="section-title style-one text-center mb-35">
                    <h2 style="color: rgb(13, 99, 174)">Login</h2>
                </div>
                <form [formGroup]="loginForm" class="login-form">
                    <div class="form-group mb-20">
                        <label class="text-dark fw-bold" for="fname">
                            User ID
                        </label>
                        <input pInputText formControlName="employeeId" name="employeeId" id="employeeId" 
                            placeholder="Enter user ID">
                        <small *ngIf="loginForm.get('employeeId')?.hasError('required') && loginForm.get('employeeId')?.touched" 
                            class="error-text">
                            Used ID is required.
                        </small>
                        <small *ngIf="loginForm.get('employeeId')?.hasError('employeeId') && loginForm.get('employeeId')?.touched" 
                            class="error-text">
                            Valid user ID is required.
                        </small>
                    </div>
                    <div class="form-group style-two mb-30">
                        <label class="text-dark fw-bold" for="password_1">
                            Password
                        </label>
                        <input pInputText formControlName="password" [type]="isPasswordVisible ? 'text' : 'password'" name="password" id="password" placeholder="Enter password">
                        <button type="button" (click)="togglePasswordVisibility()" class="pwd_open position-absolute p-0 border-0 bg-transparent transition">
                            <i [ngClass]="isPasswordVisible ? 'ri-eye-line' : 'ri-eye-off-line'"></i>
                        </button>
                        <small *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" 
                            class="error-text">
                            Password is required.
                        </small>
                        <small *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched" 
                            class="error-text">
                            Password must be at least 6 characters.
                        </small>
                        <small *ngIf="loginForm.get('password')?.hasError('pattern') && loginForm.get('password')?.touched" 
                            class="error-text">
                            Password must include at least one uppercase letter, one lowercase letter, one digit, and one special character.
                        </small>
                    </div>
                    <div class="text-center">
                        <p class="mb-0 mt-3 text-end">
                            <button (click)="showDialog()" style="background-color: white; border: none;" class="link style-three fw-semibold">Forgot Password?</button>
                        </p>
                    </div>
                    <div class="text-center mt-20">
                        <button class="btn style-four" (click)="onSubmit()">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 justify-content-center">
            <p-dialog header="Forgot Password" [style]="{ width: '33rem' }" [(visible)]="display" [modal]="true" [closable]="true" (onHide)="closeDialog()">
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onPasswordReset()">
                    <div>
                        <div class="p-field">
                            <label for="userID">User ID</label>
                            <input id="userID" type="text" pInputText formControlName="userID" [disabled]="loading" />
                            <small *ngIf="forgotPasswordForm.get('userID')?.invalid && forgotPasswordForm.get('userID')?.touched" class="p-error">
                                User ID is required.
                            </small>
                        </div>
                        <div class="col-12 text-end my-3">
                            <p-button
                                *ngIf="step === 1"
                                label="Send Verification Code"
                                type="submit"
                                [disabled]="forgotPasswordForm.get('userID')?.invalid || loading"
                                [loading]="loading"
                                styleClass="submit-button">
                            </p-button>
                        </div>
                    </div>
                    <div *ngIf="step === 2">
                        <div class="p-field">
                            <label for="verificationCode">Verification Code</label>
                            <div class="p-inputgroup">
                                <input
                                    id="verificationCode"
                                    [type]="verificationCodeVisible ? 'text' : 'password'"
                                    pInputText
                                    formControlName="verificationCode"
                                    [disabled]="loading"
                                />
                                <button
                                    pButton
                                    type="button"
                                    icon="pi pi-eye"
                                    [icon]="verificationCodeVisible ? 'pi pi-eye-slash' : 'pi pi-eye'"
                                    (click)="toggleVerificationCodeVisibility()"
                                    pTooltip="Toggle Verification Code Visibility"
                                    tooltipPosition="top"
                                ></button>
                            </div>                    
                            <small *ngIf="forgotPasswordForm.get('verificationCode')?.invalid && forgotPasswordForm.get('verificationCode')?.touched" class="p-error">
                                Verification Code is required.
                            </small>
                        </div>
                        <div class="col-12 d-flex justify-content-between my-3">
                            <p-button
                                label="Resend Code"
                                type="button"
                                [loading]="loading"
                                styleClass="resend-button"
                                (click)="resendCode()">
                            </p-button>
                            <p-button
                                label="Verify Code"
                                type="submit"
                                [disabled]="forgotPasswordForm.get('verificationCode')?.invalid || loading"
                                [loading]="loading"
                                styleClass="submit-button">
                            </p-button>
                        </div>
                    </div>
                    <div *ngIf="step === 3">
                        <div class="p-field">
                            <label for="newPassword">New Password</label>
                            <div class="p-inputgroup">
                                <input
                                    id="newPassword"
                                    [type]="newPasswordVisible ? 'text' : 'password'"
                                    pPassword
                                    formControlName="newPassword"
                                    [disabled]="loading"
                                />
                                <button
                                    pButton
                                    type="button"
                                    icon="pi pi-eye"
                                    [icon]="newPasswordVisible ? 'pi pi-eye-slash' : 'pi pi-eye'"
                                    (click)="toggleNewPasswordVisibility()"
                                    pTooltip="Toggle New Password Visibility"
                                    tooltipPosition="top"
                                ></button>
                            </div>     
                            <small *ngIf="forgotPasswordForm.get('newPassword')?.hasError('required') && forgotPasswordForm.get('newPassword')?.touched" 
                                class="error-text">
                                Password is required.
                            </small>
                            <small *ngIf="forgotPasswordForm.get('newPassword')?.hasError('minlength') && forgotPasswordForm.get('newPassword')?.touched" 
                                class="error-text">
                                Password must be at least 6 characters.
                            </small>                       
                        </div>
                        <div class="p-field">
                            <label for="confirmNewPassword">Confirm New Password</label>
                            <div class="p-inputgroup">
                                <input
                                    id="confirmNewPassword"
                                    [type]="confirmNewPasswordVisible ? 'text' : 'password'"
                                    pPassword
                                    formControlName="confirmNewPassword"
                                    [disabled]="loading"
                                />
                                <button
                                    pButton
                                    type="button"
                                    icon="pi pi-eye"
                                    [icon]="confirmNewPasswordVisible ? 'pi pi-eye-slash' : 'pi pi-eye'"
                                    (click)="toggleConfirmNewPasswordVisibility()"
                                    pTooltip="Toggle Confirm New Password Visibility"
                                    tooltipPosition="top"
                                ></button>
                            </div>                            
                            <small *ngIf="forgotPasswordForm.get('confirmNewPassword')?.invalid && forgotPasswordForm.get('confirmNewPassword')?.touched" class="p-error">
                                Confirm password is required.
                            </small>
                        </div>
                        <div class="col-12 text-end my-3">
                            <p-button
                                label="Reset Password"
                                type="submit"
                                [disabled]="forgotPasswordForm.invalid || loading"
                                [loading]="loading"
                                styleClass="submit-button">
                            </p-button>
                        </div>
                    </div>
                </form>
            </p-dialog>
        </div>
    </div>
</div>
