<!-- Stats -->
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="db-counter-card d-flex flex-wrap align-items-center justify-content-between mb-25">
            <div class="db-counter-icon d-flex flex-column align-items-center justify-content-center rounded-circle">
                <img src="img/icons/users.svg" alt="Users">
            </div>
            <div class="db-counter-text">
                <span>
                    Applied Jobs
                </span>
                <h3>
                    15
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="db-counter-card d-flex flex-wrap align-items-center justify-content-between mb-25">
            <div class="db-counter-icon d-flex flex-column align-items-center justify-content-center rounded-circle">
                <img src="img/icons/briefcase.svg" alt="Users">
            </div>
            <div class="db-counter-text">
                <span>
                    Job Alerts
                </span>
                <h3>
                    12
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="db-counter-card d-flex flex-wrap align-items-center justify-content-between mb-25">
            <div class="db-counter-icon d-flex flex-column align-items-center justify-content-center rounded-circle">
                <img src="img/icons/eye.svg" alt="Users">
            </div>
            <div class="db-counter-text">
                <span>
                    Messages
                </span>
                <h3>
                    10
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="db-counter-card d-flex flex-wrap align-items-center justify-content-between mb-25">
            <div class="db-counter-icon d-flex flex-column align-items-center justify-content-center rounded-circle">
                <img src="img/icons/list-numbers.svg" alt="Users">
            </div>
            <div class="db-counter-text">
                <span>
                    Shortlist
                </span>
                <h3>
                    15
                </h3>
            </div>
        </div>
    </div>
</div>

<!-- Jobs Applied Recently -->
<h3 class="db-content-title fs-20 fw-bold mb-22">
    Jobs Applied Recently
</h3>
<div class="job-card style-two d-flex flex-wrap align-items-center justify-content-between round-10 position-relative index-1 mb-25 transition">
    <div class="job-title-wrap d-flex flex-wrap align-items-center">
        <div class="employer-logo d-flex flex-column align-items-center justify-content-center round-20">
            <img src="img/employer/solit-it.svg" alt="Employre Logo">
        </div>
        <div class="job-title">
            <a routerLink="/employer-details" class="fs-14 text-para">
                Solit IT Solution
            </a>
            <h3 class="fw-semibold"><a routerLink="/job-details-sidebar">
                Design Engineer
            </a></h3>
        </div>
    </div>
    <div class="job-metainfo-wrap text-md-end transition">
        <ul class="job-desc-meta list-unstyle">
            <li class="fs-14">
                <img src="img/icons/calendar.svg" alt="Calendar Icon">
                25 Jul, 2024
            </li>
        </ul>
        <ul class="job-brief list-unstyle">
            <li class="fs-14 fw-semibold text-title">
                Remote
            </li>
            <li class="fs-14 fw-semibold text-title">
                $190K-$200K
            </li>
        </ul>
    </div>
    <div class="job-action d-flex flex-wrap align-items-center justify-content-md-end position-absolute transition">
        <a routerLink="/job-details-sidebar" class="btn style-three">
            Apply Now
        </a>
        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
            <i class="ri-check-line"></i>
        </button>
        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
            <i class="ri-eye-line"></i>
        </button>
        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
            <i class="ri-delete-bin-6-line"></i>
        </button>
    </div>
</div>
<div class="job-card style-two d-flex flex-wrap align-items-center justify-content-between round-10 position-relative index-1 mb-25 transition">
    <div class="job-title-wrap d-flex flex-wrap align-items-center">
        <div class="employer-logo d-flex flex-column align-items-center justify-content-center round-20">
            <img src="img/employer/supabase.svg" alt="Employre Logo">
        </div>
        <div class="job-title">
            <a routerLink="/employer-details" class="fs-14 text-para">
                Supabase
            </a>
            <h3 class="fw-semibold"><a routerLink="/job-details-sidebar">
                3D Animator
            </a></h3>
        </div>
    </div>
    <div class="job-metainfo-wrap text-md-end transition">
        <ul class="job-desc-meta list-unstyle">
            <li class="fs-14">
                <img src="img/icons/calendar.svg" alt="Calendar Icon">
                21 Jul, 2024
            </li>
        </ul>
        <ul class="job-brief list-unstyle">
            <li class="fs-14 fw-semibold text-title">
                SF
            </li>
            <li class="fs-14 fw-semibold text-title">
                $100K-$120K
            </li>
        </ul>
    </div>
    <div class="job-action d-flex flex-wrap align-items-center justify-content-md-end position-absolute transition">
        <a routerLink="/job-details-sidebar" class="btn style-three">
            Apply Now
        </a>
        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
            <i class="ri-check-line"></i>
        </button>
        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
            <i class="ri-eye-line"></i>
        </button>
        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
            <i class="ri-delete-bin-6-line"></i>
        </button>
    </div>
</div>
<div class="job-card style-two d-flex flex-wrap align-items-center justify-content-between round-10 position-relative index-1 mb-25 transition">
    <div class="job-title-wrap d-flex flex-wrap align-items-center">
        <div class="employer-logo d-flex flex-column align-items-center justify-content-center round-20">
            <img src="img/employer/stackoverflow.svg" alt="Employre Logo">
        </div>
        <div class="job-title">
            <a routerLink="/employer-details" class="fs-14 text-para">
                Stack Solution
            </a>
            <h3 class="fw-semibold"><a routerLink="/job-details-sidebar">
                Devops Engineer
            </a></h3>
        </div>
    </div>
    <div class="job-metainfo-wrap text-md-end transition">
        <ul class="job-desc-meta list-unstyle">
            <li class="fs-14">
                <img src="img/icons/calendar.svg" alt="Calendar Icon">
                19 Jul, 2024
            </li>
        </ul>
        <ul class="job-brief list-unstyle">
            <li class="fs-14 fw-semibold text-title">
                Remote
            </li>
            <li class="fs-14 fw-semibold text-title">
                $190K-$200K
            </li>
        </ul>
    </div>
    <div class="job-action d-flex flex-wrap align-items-center justify-content-md-end position-absolute transition">
        <a routerLink="/job-details-sidebar" class="btn style-three">
            Apply Now
        </a>
        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
            <i class="ri-check-line"></i>
        </button>
        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
            <i class="ri-eye-line"></i>
        </button>
        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle transition">
            <i class="ri-delete-bin-6-line"></i>
        </button>
    </div>
</div>