<app-top-header />

<app-navbar />

<app-page-banner />

<!-- Candidate Details -->
<div class="container ptb-100">
    <div class="row">
        <div class="col-xl-8">
            <div class="employer-desc">
                <div class="single-para">
                    <h5>
                        About Candidate
                    </h5>
                    <p>
                        Are you passionate about advancing sustainable transportation  and reducing range anxiety for EV drivers? Join Supabase, a pioneering company on a mission to revolutionize the EV charging landscape.
                    </p>
                    <p>
                        Nulla at volutpat diam ut. Lobortis feugiat vivamus at augue eget arcu. Urna condimentum mattis pellentesque id nibh tortor id aliquet. Dignissim cras tincidunt lobortis feugiat. Est sit amet facilisis magna  etiam tempor. Eu augue ut lectus arcu bibendum at varius vel pharetra. Vel facilisis volutpat est velit egestas dui id. Ut pharetra sit amet aliquam. Elit at imperdiet dui accumsan sit amet nulla facilisi morbi. Tellus in metus vulputate eu scelerisque felis imperdiet proin. Magna fringilla urna porttitor rhoncus. Et odio pellentesque diam volutpat. Congue eu consequat ac felis donec et odio pellentesque diam. Accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu.
                    </p>
                </div>
                <div class="single-para">
                    <h5>
                        Intro video
                    </h5>
                    <div class="video-wrap position-relative index-1">
                        <img src="img/candidates/video-bg-2.jpg" alt="Video Background" class="round-4">
                        <button
                            type="button"
                            (click)="openPopup()"
                            class="play-now d-flex p-0 border-0 flex-column justify-content-center align-items-center rounded-circle transition"
                        >
                            <img src="img/icons/play.svg" alt="Play Icon" class="transition">
                        </button>
                    </div>
                </div>
                <div class="single-para">
                    <h5>
                        Education
                    </h5>
                    <div class="edu-item-wrap">
                        <div class="edu-item">
                            <span class="edu-icon bg-one d-flex flex-column align-items-center justify-content-center rounded-circle mb-1">
                                M
                            </span>
                            <div class="edu-info">
                                <span class="fs-14 d-block mb-1">
                                    Master’s In
                                </span>
                                <h6>
                                    Human Computer Interaction
                                </h6>
                                <p class="mb-0">
                                    As a UI/UX designer reporting directly to the CTO, your insights will have a direct impact on our product's direction. This role  requires an insightful UI/UX Designer with a passion for creating seamless and engaging digital experiences.
                                </p>
                            </div>
                        </div>
                        <div class="edu-item">
                            <span class="edu-icon bg-two d-flex flex-column align-items-center justify-content-center rounded-circle mb-1">
                                B
                            </span>
                            <div class="edu-info">
                                <span class="fs-14 d-block">
                                    Bsc In
                                </span>
                                <h6>
                                    Computer Science
                                </h6>
                                <p class="mb-0">
                                    Are you passionate about advancing sustainable transportation and reducing range anxiety for EV drivers? Join Supabase, a pioneering company on a mission to revolutionize the EV charging.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-para">
                    <h5>
                        Work & Experience
                    </h5>
                    <div class="edu-item-wrap">
                        <div class="edu-item">
                            <span class="edu-icon bg-one d-flex flex-column align-items-center justify-content-center rounded-circle">
                                S
                            </span>
                            <div class="edu-info">
                                <span class="fs-14 d-block text-purple mb-1">
                                    Solit IT Solution
                                </span>
                                <h6>
                                    Product Designer <span>01 January, 2021 - Present</span>
                                </h6>
                                <p class="mb-0">
                                    As a UI/UX designer reporting directly to the CTO, your insights will have a direct impact on our product's direction. This role  requires an insightful UI/UX Designer with a passion for creating seamless and engaging digital experiences.
                                </p>
                            </div>
                        </div>
                        <div class="edu-item">
                            <span class="edu-icon bg-one d-flex flex-column align-items-center justify-content-center rounded-circle">
                                M
                            </span>
                            <div class="edu-info">
                                <span class="fs-14 d-block text-purple mb-1">
                                    Medizo International
                                </span>
                                <h6>
                                    UI/UX Designer <span>01 January, 2018 - 31 December, 2020</span>
                                </h6>
                                <p class="mb-0">
                                    Are you passionate about advancing sustainable transportation and reducing range anxiety for EV drivers? Join Supabase, a pioneering company on a mission to revolutionize the EV charging.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-para">
                    <h5>
                        Portfolio
                    </h5>
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <div class="single-img round-4">
                                <img src="img/candidates/portfolio-1.jpg" alt="Portfolio Image" class="round-4">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-img round-4">
                                <img src="img/candidates/portfolio-2.jpg" alt="Portfolio Image" class="round-4">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-img round-4">
                                <img src="img/candidates/portfolio-3.jpg" alt="Portfolio Image" class="round-4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="sidebar style-two">
                <div class="sidebar-widget style-two bg-aqua round-10">
                    <div class="candidate-card style-two p-0 text-center position-relative index-1 mb-30 transition">
                        <button class="add-to-bookmark border-0 d-flex flex-column justify-content-center align-items-center rounded-circle bg-white transition">
                            <img src="img/icons/bookmark.svg" alt="Bookmark Icon" class="transition">
                        </button>
                        <div class="candidate-img-wrap mb-20">
                            <div class="candidate-img rounded-circle position-relative">
                                <img src="img/candidates/candidate-8.png" alt="Candidate" class="rounded-circle">
                                <span class="online-status active rounded-circle position-absolute d-inline-block"></span>
                            </div>
                            <h3 class="fs-20"><a routerLink="/candidate-details">
                                Jonathon Ronan
                            </a></h3>
                            <span class="d-block">
                                UI/UX Designer
                            </span>
                        </div>
                        <a routerLink="/candidate-details" class="btn style-four d-block">
                            Download CV <img src="img/icons/files.svg" alt="File" class="ms-1">
                        </a>
                    </div>
                    <div class="single-job-feature-wrap style-two">
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                                <img src="img/icons/calendar-month.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14">
                                    Location
                                </span>
                                <h6 class="fs-14 fw-semibold mb-0">
                                    4379 137th Avenue, Edmonton, Alberta, T5C 2L2
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                                <img src="img/icons/clock-green.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14">
                                    Phone No
                                </span>
                                <h6 class="fs-14 fw-semibold mb-0">
                                    780-473-2920
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                                <img src="img/icons/luggage.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14">
                                    Email
                                </span>
                                <h6 class="fs-14 fw-semibold mb-0">
                                    hello&#64;abezo.com
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                                <img src="img/icons/star-green.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14">
                                    Skills
                                </span>
                                <ul class="tag-list list-unstyle">
                                    <li><a routerLink="/jobs-grid">
                                        Web Design
                                    </a></li>
                                    <li><a routerLink="/jobs-grid">
                                        Video Editing
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                                <img src="img/icons/coin.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14">
                                    Salary Range
                                </span>
                                <h6 class="fs-14 fw-semibold mb-0">
                                    $40k - $50K/yr
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                                <img src="img/icons/school-off.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14">
                                    Qualification
                                </span>
                                <h6 class="fs-14 fw-semibold mb-0">
                                    Msc
                                </h6>
                            </div>
                        </div>
                        <div class="job-feature-item d-flex flex-wrap align-items-center">
                            <div class="feature-icon d-flex flex-column align-items-center justify-content-center round-10 bg-white">
                                <img src="img/icons/star-green.svg" alt="Icon">
                            </div>
                            <div class="feature-info">
                                <span class="fs-14">
                                    Experience
                                </span>
                                <h6 class="fs-14 fw-semibold mb-0">
                                    5 Years
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget style-two bg-aqua round-10">
                    <div class="post-metaoption d-flex flex-wrap justify-content-between">
                        <h6 class="fs-20 mb-0 fw-semibold">
                            Social Media
                        </h6>
                        <div class="post-share d-flex align-items-center justify-content-md-end">
                            <ul class="social-profile style-one list-unstyle">
                                <li>
                                    <a href="https://www.facebook.com" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition">
                                        <i class="ri-instagram-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition">
                                        <i class="ri-twitter-x-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com" target="_blank" class="d-flex flex-column align-items-center justify-content-center rounded-circle transition">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget style-two bg-aqua round-10">
                    <h3 class="sidebar-widget-title fs-20 font-semibold">
                        Employer Location
                    </h3>
                    <div class="comp-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8385385572983!2d144.95358331584498!3d-37.81725074201705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sbd!4v1612419490850!5m2!1sen!2sbd"></iframe>
                    </div>
                </div>
                <div class="sidebar-widget style-two bg-aqua round-10">
                    <h3 class="sidebar-widget-title fs-20 font-semibold">
                        Contact Employer
                    </h3>
                    <form class="contact-employer">
                        <div class="form-group mb-20">
                            <label class="text-title" for="subj">
                                Subject
                            </label>
                            <input type="text" name="subj" id="subj" placeholder="Write subject here Name" required class="bg-white border-0 w-100 round-4">
                        </div>
                        <div class="form-group mb-20">
                            <label class="text-title" for="email">
                                Email
                            </label>
                            <input type="email" name="email" id="email" placeholder="Your Email" required class="bg-white border-0 w-100 round-4">
                        </div>
                        <div class="form-group mb-20">
                            <label class="text-title" for="phone_no">
                                Phone Number
                            </label>
                            <input type="number" name="phone_no" placeholder="Your Phone No" required class="bg-white border-0 w-100 round-4">
                        </div>
                        <div class="form-group mb-20">
                            <label class="text-title" for="msg">
                                Your Message
                            </label>
                            <textarea name="messages" id="messages" cols="30" rows="10" placeholder="Your message here"  class="bg-white border-0 w-100 round-4"></textarea>
                        </div>
                        <button class="btn style-four d-block w-100">
                            Send Message Now
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Candidate Details -->

<!-- Video Popup -->
<div
    class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-fade mfp-ready"
    *ngIf="isOpen"
    tabindex="-1"
>
    <div class="mfp-container mfp-iframe-holder">
        <div class="mfp-content">
            <div class="mfp-iframe-scaler">
                <button
                    (click)="closePopup()"
                    title="Close (Esc)"
                    type="button"
                    class="mfp-close"
                >
                    ×
                </button>
                <iframe src="https://www.youtube.com/embed/u31qwQUeGuM" title="Placeholder video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="mfp-bg mfp-fade mfp-ready" *ngIf="isOpen"></div>

<app-footer />

<app-back-to-top />