<div class="hero-wrap style-three position-relative index-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-promo-wrap">
                    <h2 class="hero-promo-text mb-0">
                        Find the <span>better</span> Job With <span>Abezo</span>
                    </h2>
                    <img src="img/hero/hero-img-1.png" alt="Hero Image" class="hero-promo-img d-block mx-auto">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-content position-relative">
                    <img src="img/hero/hero-shape-14.png" alt="Shape" class="box-shape-one position-absolute lg-none">
                    <h1>
                        A Better Path to More Opportunity
                    </h1>
                    <p class="fs-xxl-18">
                        We’re a people-first technology solution for active job discovery and career opportunity matching that improves your connection with real recruiters.
                    </p>
                    <div class="client-box-wrap position-relative">
                    <img src="img/hero/hero-shape-13.png" alt="Shape" class="box-shape-two position-absolute lg-none">
                        <div class="client-box d-flex flex-wrap align-items-center round-6">
                            <ul class="client-list list-unstyle">
                                <li><img src="img/clients/client-1.jpg" alt="Client Image"></li>
                                <li><img src="img/clients/client-2.jpg" alt="Client Image"></li>
                                <li><img src="img/clients/client-3.jpg" alt="Client Image"></li>
                                <li><img src="img/clients/client-4.jpg" alt="Client Image"></li>
                            </ul>
                            <p class="mb-0 fs-15 fw-medium text-title">
                                <span>5K+</span> people found their jobs
                            </p>
                        </div>
                    </div>
                    <div class="hero-searchbox bg-white position-relative index-1 form-group-wrap d-flex flex-wrap align-items-center justify-content-between">
                        <div class="form-group position-relative">
                            <img src="img/icons/search-black.svg" alt="Search icon">
                            <input type="text" placeholder="Job Title or Keywords" class="fs-15 border-0 bg-transparent">
                        </div>
                        <div class="form-group">
                            <img src="img/icons/map.svg" alt="Map Icon">
                            <select name="job_location" id="job_location" class="fs-15 text-paraThree">
                                <option value="0">
                                    City, State or Zip
                                </option>
                                <option value="1">
                                    Torento
                                </option>
                                <option value="2">
                                    Vancouver
                                </option>
                                <option value="3">
                                    New York
                                </option>
                                <option value="4">
                                    Bercelona
                                </option>
                                <option value="5">
                                    Florida
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <img src="img/icons/category-2.svg" alt="Category Icon">
                            <select name="job_category" id="job_category" class="fs-15 text-paraThree">
                                <option value="0">
                                    Category
                                </option>
                                <option value="1">
                                    Web Debelopment
                                </option>
                                <option value="2">
                                    Motion Graphics
                                </option>
                                <option value="3">
                                    Content Writing
                                </option>
                                <option value="4">
                                    Digital Marketing
                                </option>
                            </select>
                        </div>
                        <div class="form-group mb-0">
                            <button type="submit" class="btn border-0 fw-semibold">
                                Search Job <img src="img/icons/search-black.svg" alt="Search Icon" class="transition">
                            </button>
                        </div>
                    </div>
                    <div class="popular-taglist d-flex align-items-xl-center align-items-start justify-content-start">
                        <span class="text-title fw-semibold">Popular:</span>
                        <ul class="taglist list-unstyle">
                            <li><a routerLink="/jobs-left-sidebar" class="fs-14 round-4 transition">
                                Graphic Design
                            </a></li>
                            <li><a routerLink="/jobs-left-sidebar" class="fs-14 round-4 transition">
                                Video Editing
                            </a></li>
                            <li><a routerLink="/jobs-left-sidebar" class="fs-14 round-4 transition">
                                Web Development
                            </a></li>
                            <li><a routerLink="/jobs-left-sidebar" class="fs-14 round-4 transition">
                                Data Science
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>