<div class="db-sidebar transition">
    <div class="db-user-option d-flex align-items-center">
        <img src="img/dashbboard/user.png" alt="User Avatar" class="user-img">
        <span class="fs-18 fw-bold">Patric Watson</span>
    </div>
    <ul class="db-menu list-unstyle">
        <li>
            <a routerLink="/employers-dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-dashboard-line"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a routerLink="/employers-dashboard/company-profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-user-line"></i>
                Company Profile
            </a>
        </li>
        <li>
            <a routerLink="/employers-dashboard/jobs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-briefcase-line"></i>
                Jobs
            </a>
        </li>
        <li>
            <a routerLink="/employers-dashboard/applicants" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-survey-line"></i>
                Applicants
            </a>
        </li>
        <li>
            <a routerLink="/employers-dashboard/post-a-job" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-edit-box-line"></i>
                Post A Job
            </a>
        </li>
        <li>
            <a routerLink="/employers-dashboard/saved-candidates" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-group-line"></i>
                Saved Candidates
            </a>
        </li>
        <li>
            <a routerLink="/employers-dashboard/account-settings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-settings-2-line"></i>
                Account Settings
            </a>
        </li>
        <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-logout-box-line"></i>
                Logout
            </a>
        </li>
    </ul>
</div>