<div class="pt-100">
    <div class="container">
        <div class="contact-info-box bg-aqua round-4 pt-100 pb-70">
            <div class="section-title style-one text-center mb-45">
                <h2 class="ls-0 mb-0">
                    Our Contact <strong>Information</strong>
                </h2>
            </div>
            <div class="contact-card-wrap d-flex flex-wrap">
                <div class="contact-info-card text-center mb-30">
                    <div class="contact-icon d-flex flex-column align-items-center justify-content-center rounded-circle bg-white">
                        <img src="img/icons/map-4.svg" alt="Icon">
                    </div>
                    <h3 class="fs-24">
                        Location
                    </h3>
                    <p class="text-ash fw-semibold mb-0">
                        4379 137th Avenue, Edmonton, Alberta, USA
                    </p>
                </div>
                <div class="contact-info-card text-center mb-30">
                    <div class="contact-icon d-flex flex-column align-items-center justify-content-center rounded-circle bg-white">
                        <img src="img/icons/phone-2.svg" alt="Icon">
                    </div>
                    <h3 class="fs-24">
                        Phone No
                    </h3>
                    <a href="tel:7804732920" class="text-ash fw-semibold">
                        780-473-2920
                    </a>
                </div>
                <div class="contact-info-card text-center mb-30">
                    <div class="contact-icon d-flex flex-column align-items-center justify-content-center rounded-circle bg-white">
                        <img src="img/icons/mail-2.svg" alt="Icon">
                    </div>
                    <h3 class="fs-24">
                        Email
                    </h3>
                    <a href="mailto:info@abezo.com" class="text-ash fw-semibold">
                        info&#64;abezo.com
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>